.row(ng-show="creando")
	.col-xs-12.col-md-12
		form.well.with-header.with-footer.form(role="form" ng-submit="crear()")
			.header.bordered-yellow Nueva área
			.row
				.col-md-5
					input.form-control(type="text" ng-model="currentArea.nombre" placeholder="Nombre")
					.horizontal-space
				.col-md-4
					input.form-control(type="text" ng-model="currentArea.alias" placeholder="Alias")
					.horizontal-space
				.col-md-3
					input.form-control(type="number" min="0" ng-model="currentArea.orden" placeholder="Orden")
					.horizontal-space
			.footer
				input.btn.btn-primary(type="submit" value="Crear")
				a.btn.btn-warning(ng-click="cancelarCrear()") Ocultar

.row(ng-show="editando")
	.col-xs-12.col-md-12
		form.well.with-header.with-footer.form(role="form" ng-submit="guardar()")
			.header.bordered-yellow Editar área
			.row
				.col-md-5
					input.form-control(type="text" ng-model="currentAreaEdit.nombre" placeholder="Nombre")
					.horizontal-space
				.col-md-4
					input.form-control(type="text" ng-model="currentAreaEdit.alias" placeholder="Alias")
					.horizontal-space
				.col-md-3
					input.form-control(type="number" min="0" ng-model="currentAreaEdit.orden" placeholder="Orden")
					.horizontal-space
			.footer
				input.btn.btn-primary(type="submit" value="Guardar cambios")
				a.btn.btn-warning(ng-click="cancelarEdit()") Ocultar
.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow Áreas

			a.btn.btn-primary(ng-click="creando=true") Crear nueva

			#grid1.grid(ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns)

			.footer
				| Puedes editar con doble click sobre el dato deseado.