
h6.row-title.before-blue.animated.flipInY(ng-if="profesor_id")
	| Profesor: {{profesor.nombres_profesor + ' ' + profesor.apellidos_profesor}}


.row.flipInY.animated(ng-if="USER.tipo == 'Profesor' && mes < 5 " style="animation-delay: 0.5s;")
	.col-xs-12.col-md-12
		.well.with-header
			.header.bordered-blue Solicitar cambios en la carga académica
			label Grupo
				ui-select(ng-model="dato.grupo" theme="select2" style="width: 180px; z-index: 9999 !important")
					ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
					ui-select-choices(repeat="grupo in grupos | filter: $select.search")
						div(ng-bind-html="grupo.nombre | highlight: $select.search")

			label Materia
				ui-select(ng-model="dato.materia" theme="select2" style="width: 250px;")
					ui-select-match(placeholder="Materia deseada" allow-clear="true") {{$select.selected.materia}}
					ui-select-choices(repeat="materia in materias | filter: $select.search")
						div(ng-bind-html="materia.materia | highlight: $select.search")

			input.form-control(type="number" min="1" max="20" ng-model="dato.creditos" placeholder="Créditos" style="width: 100px; display: inline-block;")

			a.btn.btn-info.shiny(ng-click="solicitarMateria()") Solicitar materia

			hr.wide

			.assigment_solicitados
				.pedido(ng-repeat="pedido in pedidos" style="font-size: 8pt;")
					div(ng-if="pedido.materia_to_add_id")
						a.btn.btn-info.btn-xs.shiny(ng-click="quitarSolicitud(pedido)" uib-tooltip="Quitar solicitud" style="margin-right: 4px;")
							i.fa.fa-times
						span(style="font-weight: 800; text-decoration: underline;") {{ ::pedido.estado }}
						span(ng-class="{ 'texto-gris': pedido.materia_to_add_accepted == 0 || pedido.materia_to_add_accepted == 1 }")

							span Pediste
							b(style="padding: 0 4px") {{ pedido.nombre_materia_to_add }}
							| en el grupo
							b(style="padding: 0 4px") {{ pedido.nombre_grupo_add }},
							| IH: {{pedido.creditos_new}}



					div(ng-if="pedido.asignatura_to_remove_id")
						a.btn.btn-info.btn-xs.shiny(ng-click="quitarSolicitud(pedido)" uib-tooltip="Quitar solicitud" style="margin-right: 4px;")
							i.fa.fa-times
						span(style="font-weight: 800; text-decoration: underline;") {{ ::pedido.estado }}
						span(ng-class="{ 'texto-gris': pedido.asignatura_to_remove_accepted == 0 || pedido.asignatura_to_remove_accepted == 1 }")
							span Pediste quitar
							b(style="padding: 0 4px") {{ pedido.nombre_materia_to_remove }}
							| del grupo
							b(style="padding: 0 4px") {{ pedido.nombre_grupo_remove }}

.alert.alert-info.fade.in.radius-bordered(ng-show="::USER.profes_pueden_editar_notas==0 && USER.profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px")
	i.fa-fw.fa.fa-info
	| Este periodo está bloqueado. No puedes editar indicadores o Nivelar notas finales.

.alert.alert-info.fade.in.radius-bordered(ng-show="::USER.profes_pueden_editar_notas==0 && USER.profes_pueden_nivelar==1 && !hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px")
	i.fa-fw.fa.fa-info
	| Este periodo está bloqueado. No puedes editar notas pero puedes Nivelar notas finales.

.alert.alert-info.fade.in.radius-bordered(ng-show="::USER.profes_pueden_editar_notas==0 && USER.profes_pueden_nivelar==1 && hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px")
	i.fa-fw.fa.fa-info
	| Este periodo está bloqueado. Pero como administrador, tú puedes editarlo.




.row
	.col-lg-6.col-xs-12(ng-repeat="asignatura in asignaturas")
		.databox.databox-graded.radius-bordered.databox-shadowed.bounceInLeft.animated(uib-popover-template="views + 'popoverInfoUnidades.tpl.html'" style="animation-delay: {{ $index/10 }}s;" popover-trigger="'outsideClick'" popover-title="{{UNIDADES}}")
			.databox-left(ng-class="{'bg-primary': asignatura.unidades.items.length>0 && asignatura.unidades.porc_unidades==100 && asignatura.unidades.porc_subunidades_incorrecto==false && asignatura.unidades.porc_notas_incorrecto==false, 'bg-danger': asignatura.unidades.items.length==0 || asignatura.unidades.porc_unidades!=100 || asignatura.unidades.porc_notas_incorrecto || asignatura.unidades.porc_subunidades_incorrecto}"
				uib-tooltip="{{asignatura.nombre_grupo}}" style="background-image: url(images/book-library-2.png)")
				// #2da7e8
				.databox-piechart
					.easyPieChart(style="width: 47px; height: 47px; line-height: 47px;")
						.white.font-150
							| {{asignatura.abrev_grupo}}°
			.databox-right.padding-top-5.radius-bordered.bg-white(uib-tooltip="De click para ver detalles" tooltip-placement="left" tooltip-popup-delay="1000" tooltip-append-to-body="true")
				// style="background-image: url(images/book-library-back-2.png); background-repeat: no-repeat; background-position: right;")
				.databox-title.lightcarbon {{ asignatura.materia }}
				.databox-text.darkgray
					.btn-group
						a.btn.btn-default.btn-sm(ui-sref="panel.unidades({asignatura_id: asignatura.asignatura_id})") {{UNIDADES}}
						a.btn.btn-default.btn-sm(ng-click="noEsMia(asignatura)" ng-show="hasRoleOrPerm(['Profesor'])") No es mía
						a.btn.btn-default.btn-sm(ng-click="irDefinitivas(asignatura)") Definitivas
						span  IH: {{asignatura.creditos}}  -
						span  {{UNIDADES}}: {{asignatura.unidades.items.length}}
						span(ng-show="asignatura.unidades.porc_subunidades_incorrecto") - {{SUBUNIDADES}} incorrectos.
						span(ng-show="asignatura.unidades.porc_notas_incorrecto") - notas NO agregadas.
				.databox-stat.radius-bordered.bg-primary
					.stat-text {{asignatura.nombre_grupo}}
					//i.stat-icon.fa.fa-apple

h6.row-title.before-blue(ng-show="gruposcomportamientos.length > 0")
	| Grupos de titularía

h6.row-title.before-blue(ng-show="gruposcomportamientos.length == 0")
	| No tiene asignada ninguna titularía

.row
	.col-lg-6.col-xs-12(ng-repeat="grupo in gruposcomportamientos")
		.databox.databox-graded.radius-bordered.databox-shadowed(ng-click="openComportamiento(grupo.id)")
			.databox-left(ng-class="{'bg-primary': grupo.con_notas, 'bg-danger': grupo.con_notas==0 || grupo.con_notas==null }")
				.databox-piechart
					.easyPieChart(style="width: 47px; height: 47px; line-height: 47px;")
						.white.font-150
							| {{grupo.abrev}}°
			.databox-right.padding-top-5.radius-bordered.bg-white
				.databox-title.lightcarbon {{ grupo.nombre }}
				.databox-text.darkgray
					.btn-group
						a.btn.btn-default.btn-sm(ng-click="irAComportamiento(grupo)") Comportamiento
					//i.stat-icon.fa.fa-apple



