
<h6 ng-if="profesor_id" class="row-title before-blue animated flipInY">Profesor: {{profesor.nombres_profesor + ' ' + profesor.apellidos_profesor}}</h6>
<div ng-if="USER.tipo == 'Profesor' &amp;&amp; mes &lt; 5 " style="animation-delay: 0.5s;" class="row flipInY animated">
  <div class="col-xs-12 col-md-12">
    <div class="well with-header">
      <div class="header bordered-blue">Solicitar cambios en la carga académica</div>
      <label>Grupo
        <ui-select ng-model="dato.grupo" theme="select2" style="width: 180px; z-index: 9999 !important">
          <ui-select-match placeholder="Grupo" allow-clear="true">{{$select.selected.nombre}}</ui-select-match>
          <ui-select-choices repeat="grupo in grupos | filter: $select.search">
            <div ng-bind-html="grupo.nombre | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </label>
      <label>Materia
        <ui-select ng-model="dato.materia" theme="select2" style="width: 250px;">
          <ui-select-match placeholder="Materia deseada" allow-clear="true">{{$select.selected.materia}}</ui-select-match>
          <ui-select-choices repeat="materia in materias | filter: $select.search">
            <div ng-bind-html="materia.materia | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </label>
      <input type="number" min="1" max="20" ng-model="dato.creditos" placeholder="Créditos" style="width: 100px; display: inline-block;" class="form-control"><a ng-click="solicitarMateria()" class="btn btn-info shiny">Solicitar materia</a>
      <hr class="wide">
      <div class="assigment_solicitados">
        <div ng-repeat="pedido in pedidos" style="font-size: 8pt;" class="pedido">
          <div ng-if="pedido.materia_to_add_id"><a ng-click="quitarSolicitud(pedido)" uib-tooltip="Quitar solicitud" style="margin-right: 4px;" class="btn btn-info btn-xs shiny"><i class="fa fa-times"></i></a><span style="font-weight: 800; text-decoration: underline;">{{ ::pedido.estado }}</span><span ng-class="{ 'texto-gris': pedido.materia_to_add_accepted == 0 || pedido.materia_to_add_accepted == 1 }"><span>Pediste</span><b style="padding: 0 4px">{{ pedido.nombre_materia_to_add }}</b>en el grupo<b style="padding: 0 4px">{{ pedido.nombre_grupo_add }},</b>IH: {{pedido.creditos_new}}</span></div>
          <div ng-if="pedido.asignatura_to_remove_id"><a ng-click="quitarSolicitud(pedido)" uib-tooltip="Quitar solicitud" style="margin-right: 4px;" class="btn btn-info btn-xs shiny"><i class="fa fa-times"></i></a><span style="font-weight: 800; text-decoration: underline;">{{ ::pedido.estado }}</span><span ng-class="{ 'texto-gris': pedido.asignatura_to_remove_accepted == 0 || pedido.asignatura_to_remove_accepted == 1 }"><span>Pediste quitar</span><b style="padding: 0 4px">{{ pedido.nombre_materia_to_remove }}</b>del grupo<b style="padding: 0 4px">{{ pedido.nombre_grupo_remove }}</b></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="::USER.profes_pueden_editar_notas==0 &amp;&amp; USER.profes_pueden_nivelar==0 &amp;&amp; !hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-info fade in radius-bordered"><i class="fa-fw fa fa-info"></i>Este periodo está bloqueado. No puedes editar indicadores o Nivelar notas finales.</div>
<div ng-show="::USER.profes_pueden_editar_notas==0 &amp;&amp; USER.profes_pueden_nivelar==1 &amp;&amp; !hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-info fade in radius-bordered"><i class="fa-fw fa fa-info"></i>Este periodo está bloqueado. No puedes editar notas pero puedes Nivelar notas finales.</div>
<div ng-show="::USER.profes_pueden_editar_notas==0 &amp;&amp; USER.profes_pueden_nivelar==1 &amp;&amp; hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-info fade in radius-bordered"><i class="fa-fw fa fa-info"></i>Este periodo está bloqueado. Pero como administrador, tú puedes editarlo.</div>
<div class="row">
  <div ng-repeat="asignatura in asignaturas" class="col-lg-6 col-xs-12">
    <div uib-popover-template="views + 'popoverInfoUnidades.tpl.html'" style="animation-delay: {{ $index/10 }}s;" popover-trigger="'outsideClick'" popover-title="{{UNIDADES}}" class="databox databox-graded radius-bordered databox-shadowed bounceInLeft animated">
      <div ng-class="{'bg-primary': asignatura.unidades.items.length&gt;0 &amp;&amp; asignatura.unidades.porc_unidades==100 &amp;&amp; asignatura.unidades.porc_subunidades_incorrecto==false &amp;&amp; asignatura.unidades.porc_notas_incorrecto==false, 'bg-danger': asignatura.unidades.items.length==0 || asignatura.unidades.porc_unidades!=100 || asignatura.unidades.porc_notas_incorrecto || asignatura.unidades.porc_subunidades_incorrecto}" uib-tooltip="{{asignatura.nombre_grupo}}" style="background-image: url(images/book-library-2.png)" class="databox-left">
        <!-- #2da7e8-->
        <div class="databox-piechart">
          <div style="width: 47px; height: 47px; line-height: 47px;" class="easyPieChart">
            <div class="white font-150">{{asignatura.abrev_grupo}}°</div>
          </div>
        </div>
      </div>
      <div uib-tooltip="De click para ver detalles" tooltip-placement="left" tooltip-popup-delay="1000" tooltip-append-to-body="true" class="databox-right padding-top-5 radius-bordered bg-white">
        <!-- style="background-image: url(images/book-library-back-2.png); background-repeat: no-repeat; background-position: right;")-->
        <div class="databox-title lightcarbon">{{ asignatura.materia }}</div>
        <div class="databox-text darkgray">
          <div class="btn-group"><a ui-sref="panel.unidades({asignatura_id: asignatura.asignatura_id})" class="btn btn-default btn-sm">{{UNIDADES}}</a><a ng-click="noEsMia(asignatura)" ng-show="hasRoleOrPerm(['Profesor'])" class="btn btn-default btn-sm">No es mía</a><a ng-click="irDefinitivas(asignatura)" class="btn btn-default btn-sm">Definitivas</a><span> IH: {{asignatura.creditos}}  -</span><span> {{UNIDADES}}: {{asignatura.unidades.items.length}}</span><span ng-show="asignatura.unidades.porc_subunidades_incorrecto">- {{SUBUNIDADES}} incorrectos.</span><span ng-show="asignatura.unidades.porc_notas_incorrecto">- notas NO agregadas.</span></div>
        </div>
        <div class="databox-stat radius-bordered bg-primary">
          <div class="stat-text">{{asignatura.nombre_grupo}}</div>
          <!--i.stat-icon.fa.fa-apple-->
        </div>
      </div>
    </div>
  </div>
</div>
<h6 ng-show="gruposcomportamientos.length &gt; 0" class="row-title before-blue">Grupos de titularía</h6>
<h6 ng-show="gruposcomportamientos.length == 0" class="row-title before-blue">No tiene asignada ninguna titularía</h6>
<div class="row">
  <div ng-repeat="grupo in gruposcomportamientos" class="col-lg-6 col-xs-12">
    <div ng-click="openComportamiento(grupo.id)" class="databox databox-graded radius-bordered databox-shadowed">
      <div ng-class="{'bg-primary': grupo.con_notas, 'bg-danger': grupo.con_notas==0 || grupo.con_notas==null }" class="databox-left">
        <div class="databox-piechart">
          <div style="width: 47px; height: 47px; line-height: 47px;" class="easyPieChart">
            <div class="white font-150">{{grupo.abrev}}°</div>
          </div>
        </div>
      </div>
      <div class="databox-right padding-top-5 radius-bordered bg-white">
        <div class="databox-title lightcarbon">{{ grupo.nombre }}</div>
        <div class="databox-text darkgray">
          <div class="btn-group"><a ng-click="irAComportamiento(grupo)" class="btn btn-default btn-sm">Comportamiento</a></div>
          <!--i.stat-icon.fa.fa-apple-->
          
          
        </div>
      </div>
    </div>
  </div>
</div>