
<div class="modal-header">
  <h3 class="modal-title">¿Seguro que deseas eliminar?</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <h5>Id: {{asignatura.id}}</h5>
      <h3 style="font-weight: bold!important;">{{asignatura.nombre_asignatura}}</h3>
      <h4>Total de notas:<span style="font-weght: bold"> {{cantidad_notas}}</span></h4>
    </div>
    <div class="col-lg-12 col-xs-12">
      <div ng-hide="unidades" style="font-size: 13pt;"><i class="fa fa-circle-o-notch fa-spin"></i> Cargando detalle de asignatura...</div>
      <div ng-show="unidades" style="height: 200px; border: 1px solid #aaa; overflow-y: auto; padding: 4px;">
        <div ng-repeat="unidad in unidades">
          <div style="font-weight: bold; font-size: 12pt;"><span style="font-size: 14pt; text-decoration: underline; background-color: #8ff08f;">Per {{unidad.numero_periodo}}:</span> {{unidad.definicion}}</div>
          <table class="table table-hover">
            <thead>
              <th>Id</th>
              <th>Definición</th>
              <th style="width: 60px;">Notas</th>
            </thead>
            <tbody>
              <tr ng-repeat="subunidad in unidad.subunidades">
                <td>{{subunidad.id}}</td>
                <td>{{subunidad.definicion}}</td>
                <td>{{subunidad.cantidad}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="ok()" class="btn btn-labeled btn-danger">Eliminar<i class="btn-label fa fa-times"></i></button>
  <button ng-click="cancel()" class="btn btn-yellow">Cancelar</button>
</div>