
<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="well with-header with-footer">
      <div class="header bordered-yellow">País</div>
      <div id="grid1" ui-grid="gridOptions" class="grid"></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>País</th>
            <th>Abreviatura</th>
            <th>Idioma</th>
            <th>Población</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>1</td>
            <td>active</td>
            <td>Column heading</td>
            <td>Column heading</td>
            <td>Column heading</td>
          </tr>
          <tr class="danger">
            <td>4</td>
            <td>danger</td>
            <td>Column heading</td>
            <td>Column heading</td>
            <td>Column heading</td>
          </tr>
        </tbody>
      </table>
      <div class="footer"><code>&lt; tr class="active/success/danger/warning" &gt;</code></div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="well with-header with-footer">
      <div class="header bordered-sky">Contextual Columns</div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Column</th>
            <th>Column</th>
            <th>Column</th>
            <th>Column</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3</td>
            <td>active</td>
            <td>success</td>
            <td class="warning">warning</td>
            <td>danger</td>
          </tr>
          <tr>
            <td>4</td>
            <td>active</td>
            <td class="success">success</td>
            <td>warning</td>
            <td>danger</td>
          </tr>
        </tbody>
      </table>
      <div class="footer"><code>&lt; td class="active/success/danger/warning" &gt;</code></div>
    </div>
  </div>
</div>