
<div class="col-lg-12 margin-padding-lados-xs">
  <div class="widget">
    <div class="widget-header bordered-bottom bordered-blue"><span ng-hide="no_asignatura" class="widget-caption">{{::asignatura.materia}}  - {{::asignatura.nombre_grupo}} -  {{::asignatura.nombres_profesor}}   {{::asignatura.apellidos_profesor}}</span><span ng-show="no_asignatura" class="widget-caption themesecondary">
        <div class="label label-danger">Vuelva a Asignaturas o cambie de año. La materia seleccionada no existe en el presente año.</div></span></div>
    <div class="widget-body">
      <!-- Menú-->
      <div class="btn-group"><a ng-show="inicializado" ui-sref="panel.listasignaturas({profesor_id: asignatura.profesor_id})" class="btn btn-success shiny btn-lg flipInY animated"><i class="fa fa-arrow-left"></i>Volver a asignaturas</a><a ng-show="inicializado" uib-tooltip="Copia de otro periodo o materia" ng-click="copiarUnidade()" href="" class="btn btn-primary btn-lg shiny flipInY animated"><i class="fa fa-copy"></i>Traer {{UNIDAD}} </a><a href="" ng-click="ir_a_notas({asignatura_id: asignatura_id, profesor_id: profesor_id })" class="btn btn-primary btn-lg shiny flipInY animated"><i class="fa fa-apple"></i>NOTAS</a></div>
      <hr class="wide">
      <div ng-show="::USER.profes_pueden_editar_notas==0 &amp;&amp; USER.profes_pueden_nivelar==0 &amp;&amp; !hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-info fade in radius-bordered"><i class="fa-fw fa fa-info"></i>Este periodo está bloqueado. No puedes editar indicadores o Nivelar notas finales.</div>
      <div ng-show="::USER.profes_pueden_editar_notas==0 &amp;&amp; USER.profes_pueden_nivelar==1 &amp;&amp; !hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-info fade in radius-bordered"><i class="fa-fw fa fa-info"></i>Este periodo está bloqueado. No puedes editar notas pero puedes Nivelar notas finales.</div>
      <div ng-show="::USER.profes_pueden_editar_notas==0 &amp;&amp; USER.profes_pueden_nivelar==1 &amp;&amp; hasRoleOrPerm('Admin')" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-info fade in radius-bordered"><i class="fa-fw fa fa-info"></i>Este periodo está bloqueado. Pero como administrador, tú puedes editarlo.</div>
      <div class="widget">
        <div class="widget-header"><i class="fa fa-copy widget-icon"></i><span class="widget-caption">Indicadores de años pasados</span></div>
        <div ng-class="{'mostrar_poco_anteriores': mostrar_poco_anteriores}" style="overflow: auto" class="widget-body">
          <div ng-repeat="anio in anios_pasados" ng-show="anio.unidades.length &gt; 0"><span style="font-weight: bold">Año {{ anio.year }} Per{{ anio.numero_periodo }}:</span>
            <div ng-repeat="unidad in anio.unidades"><span>{{$index+1}}. {{ unidad.definicion }}</span>
              <div ng-repeat="subunidad in unidad.subunidades" style="padding-left: 15px; font-size: 9pt; color: #888; text-overflow: ellipsis; overflow: hidden; width: 100%; white-space: nowrap;">
                 
                {{$index+1}}. {{ subunidad.definicion }}
              </div>
            </div>
          </div>
        </div>
        <div class="widget-header">
          <div class="widget-caption"><a href="" ng-click="mostrar_poco_anteriores=!mostrar_poco_anteriores"><span ng-show="mostrar_poco_anteriores">Mostrar todo</span><span ng-show="!mostrar_poco_anteriores">Mostrar menos</span></a></div>
        </div>
      </div>
      <h5 class="row-title before-blue">Crear nuevo</h5>
      <!-- Formulario crear--><span ng-hide="no_asignatura">
        <form ng-submit="crearUnidad()" role="form" ng-show="::USER.profes_pueden_editar_notas || hasRoleOrPerm('Admin')" class="form-inline row">
          <div class="form-group definicion-add-unidad col-md-8 col-sm-8 col-xs-12 si-padding-left-xs">
            <label class="sr-only">Escriba la definición</label>
            <textarea required ng-model="newunidad.definicion" placeholder="Escriba aquí su {{ GENERO_UNI=='M' ? 'nuevo' : 'nueva' }} {{UNIDAD}}" uib-tooltip="Definición" tooltip-popup-delay="500" style="height: 50px; width: 100%;" class="form-control"></textarea>
          </div>
          <div style="padding-right: 0px; padding-left: 0px;" class="form-group col-md-1 col-sm-1 col-xs-10 si-padding-left-xs">
            <input required ng-model="newunidad.porcentaje" min="0" max="100" type="number" placeholder="Porcentaje" uib-tooltip="Porcentaje" tooltip-popup-delay="500" style="width: 100%; height: 50px; padding: 5px;" class="form-control">
          </div>
          <div class="form-group col-md-3 col-sm-3 col-xs-12">
            <input type="submit" ng-submit="crearUnidad()" ng-disabled="!activar_crear_unidad" style="height: 50px; width: 100%" value="Crear {{UNIDAD}}" class="btn btn-primary">
          </div>
        </form>
        <hr class="wide">
        <div ng-show="unidades.porc_unidades &amp;&amp; unidades.porc_unidades&gt;100" class="alert alert-danger fade in radius-bordered"><i class="fa-fw fa fa-warning"></i><strong>Porcentaje incorrecto:</strong>  Sobra {{unidades.porc_unidades-100}}%</div>
        <div ng-show="unidades.porc_unidades &amp;&amp; unidades.porc_unidades&lt;100" class="alert alert-warning fade in radius-bordered"><i class="fa-fw fa fa-warning"></i><strong>Porcentaje incorrecto:</strong>  Falta {{100-unidades.porc_unidades}}%</div>
        <div style="clear: both;" class="ddlarga bordered">
          <ol style="padding-left: 0px;" sv-root="root-unidades" sv-on-start="onStartSortUnidades($item, $part, $index, $helper)" sv-on-sort="onSortUnidades($item, $partFrom, $partTo, $indexFrom, $indexTo)" sv-part="unidades">
            <li sv-element ng-repeat="unidad in unidades" ng-init="unidad.newsubunidad.definicion = '' " ng-class="{'animated zoomInDown': unidad.anim_bloqueada==false} " class="tickets-container ed-unidades-item">
              <div class="ticket-item">
                <div ng-show="!unidad.editando" class="row">
                  <div ng-show="!unidad.editando" style="overflow: visible; line-height: 2.4;" class="ticket-user col-lg-10 col-sm-10 col-xs-12 overflow-auto-xs">
                    <button sv-handle tabindex="-1" ng-show="::USER.profes_pueden_editar_notas==1 || hasRoleOrPerm('Admin')" style="margin-bottom: 65px; display: inline-block; cursor: move;" class="hidden-xs btn btn-default btn-sm"><span class="fa fa-sort"></span></button>
                    <div style="margin-bottom: 20px; font-weight: bold; " uib-tooltip="{{unidad.orden}}. {{unidad.definicion}}" tooltip-popup-delay="500" tooltip-append-to-body="true" class="definicion-unidad-inside no-margin-bottom-xs"><span>{{$index+1}}. {{unidad.definicion}}</span></div>
                  </div>
                  <div uib-tooltip="Porcentaje" tooltip-popup-delay="500" class="ticket-time col-lg-2 col-sm-2 col-xs-12">
                    <div class="divider hidden-xs"></div>{{unidad.porcentaje}}%
                  </div>
                  <div ng-show="unidad.ocultarSubs" ng-click="unidad.ocultarSubs=false" style="right: 55px; " class="ticket-state bg-palegreen top-abajo-xs"><i uib-tooltip="Mostrar {{ ::SUBUNIDADES}}" class="fa fa-chevron-down"></i></div>
                  <div ng-show="!unidad.ocultarSubs" ng-click="unidad.ocultarSubs=true" style="right: 55px; " class="ticket-state bg-palegreen top-abajo-xs"><i uib-tooltip="Ocultar {{ ::SUBUNIDADES}}" class="fa fa-chevron-up"></i></div><span ng-if="::unidad.obligatoria==0 &amp;&amp; USER.profes_pueden_editar_notas==1 || hasRoleOrPerm('Admin')">
                    <div ng-click="unidad.editando=true" style="right: 15px; " class="ticket-state bg-palegreen top-abajo-xs"><i uib-tooltip="Editar" class="fa fa-pencil"></i></div>
                    <div ng-click=" removeUnidad(unidad)" class="ticket-state bg-darkorange top-abajo-xs"><i uib-tooltip="Eliminar" class="fa fa-times"></i></div></span>
                </div>
                <div ng-show="unidad.editando" class="row">
                  <div ng-show="unidad.editando" style="overflow: visible" class="ticket-user col-md-10 col-sm-12 no-padding-xs">
                    <form role="form" ng-submit="actualizarUnidad(unidad)" class="form-inline">
                      <div class="form-group unidaddefinicion col-md-10 col-sm-8 col-xs-12 no-padding-xs">
                        <label class="sr-only">Edite la definición</label>
                        <textarea required ng-model="unidad.definicion" placeholder="Edite la definición" uib-tooltip="Definición" tooltip-popup-delay="500" style="height: 35px;" class="form-control textarea-altura-xs"></textarea>
                      </div>
                      <div class="form-group unidadporcentaje col-md-2 col-sm-4 col-xs-12">
                        <label class="sr-only">Porcentaje</label>
                        <input required type="number" min="0" max="100" ng-model="unidad.porcentaje" placeholder="Edite el porcentaje" uib-tooltip="Porcentaje" tooltip-popup-delay="500" class="form-control">
                      </div>
                    </form>
                  </div>
                  <div style="padding-left: 0px; padding-right: 0px; text-align: center;" class="ticket-type col-md-2 col-xs-12">
                    <div class="btn-group">
                      <button type="button" ng-click="unidad.editando=false" class="btn btn-default btn-sm">Cancelar</button>
                      <button type="button" ng-click="actualizarUnidad(unidad)" class="btn btn-primary btn-sm">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-show="unidad.subunidades.length&gt;0 &amp;&amp; unidad.subunidades.porc_subunidades &amp;&amp; unidad.subunidades.porc_subunidades&gt;100" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-danger fade in radius-bordered"><i class="fa-fw fa fa-warning"></i><strong>Porcentaje incorrecto:</strong>  Sobra {{unidad.subunidades.porc_subunidades-100}}%</div>
              <div ng-show="(unidad.subunidades.length&gt;0 &amp;&amp; unidad.subunidades.porc_subunidades &amp;&amp; unidad.subunidades.porc_subunidades&lt;100) || (unidad.subunidades.length&gt;0 &amp;&amp; unidad.subunidades.porc_subunidades==0)" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px" class="alert alert-warning fade in radius-bordered"><i class="fa-fw fa fa-warning"></i><strong>Porcentaje incorrecto:</strong>  Falta {{100-unidad.subunidades.porc_subunidades}}%</div>
              <ul ng-model="unidad.subunidades" ng-hide="unidad.ocultarSubs" style="padding-left: 30px; " sv-root="root-subunidades-{{$index}}" sv-part="unidad.subunidades" sv-on-sort="onSortSubunidades($item, $partFrom, $partTo, $indexFrom, $indexTo, unidad)" class="tickets-list si-padding-left15-xs">
                <li ng-repeat="subunidad in unidad.subunidades" style="border: none; animation-delay: {{$index/10}}s;" sv-element ng-class="{'animated rotateIn': subunidad.anim_bloqueada==false} " class="ticket-item">
                  <div ng-show="!subunidad.editando" class="row">
                    <div style="overflow: visible; line-height: 2.4;" class="ticket-user col-lg-10 col-sm-9 col-xs-12">
                      <!--.user-avatar(uib-tooltip="Porcentaje")
                      | {{subunidad.porcentaje}}%
                      
                      -->
                      <button sv-handle tabindex="-1" style="margin-bottom: 25px; display: inline-block; cursor: move;" class="hidden-xs btn btn-default btn-sm"><span class="fa fa-sort"></span></button>
                      <div class="user-name definicion-subunidad-inside">
                        <div uib-tooltip="{{subunidad.orden}}. {{subunidad.definicion}}" tooltip-popup-delay="500">{{$index+1}}. {{subunidad.definicion}}</div>
                      </div>
                    </div>
                    <div uib-tooltip="Porcentaje" tooltip-popup-delay="500" class="ticket-time col-lg-1 col-sm-2 col-xs-6">
                      <div class="divider hidden-xs"></div>{{subunidad.porcentaje}}%
                    </div>
                    <div ng-click="subunidad.editando=true" style="right: 30px; " ng-show="::USER.profes_pueden_editar_notas || hasRoleOrPerm('Admin')" class="ticket-state bg-palegreen top-abajo-xs"><i uib-tooltip="Editar" class="fa fa-pencil"></i></div>
                    <div ng-click="removeSubunidad(unidad, subunidad)" style="right: 3px; " ng-show="::USER.profes_pueden_editar_notas || hasRoleOrPerm('Admin')" class="ticket-state bg-darkorange top-abajo-xs"><i uib-tooltip="Eliminar" class="fa fa-times"></i></div>
                  </div>
                  <!-- Formulario para EDITAR SUBUNIDAD-->
                  <div ng-show="subunidad.editando" class="row">
                    <div ng-show="subunidad.editando" style="overflow: visible" class="ticket-user col-md-10 col-sm-12 no-padding-xs">
                      <form role="form" ng-submit="actualizarSubunidad(subunidad, unidad)" class="form-inline">
                        <div style="padding: 0;" class="form-group unidaddefinicion col-md-8 col-sm-8 col-xs-12">
                          <label class="sr-only">Edite la definición</label>
                          <textarea required ng-model="subunidad.definicion" placeholder="Edite la definición" uib-tooltip="Definición" style="height: 35px;" class="form-control textarea-altura-xs"></textarea>
                        </div>
                        <div class="form-group unidadporcentaje col-md-2 col-sm-2 col-xs-12">
                          <label class="sr-only">Porcentaje</label>
                          <input required type="number" min="0" max="100" ng-model="subunidad.porcentaje" placeholder="%Porcentaje" uib-tooltip="Edite el porcentaje" style="padding: 5px;" class="form-control">
                        </div>
                        <div style="padding: 0;" class="form-group col-md-2 col-sm-2 col-xs-12 si-padding-lados-xs">
                          <input required ng-model="subunidad.nota_default" min="0" max="100" type="number" placeholder="Nota por defecto" uib-tooltip="Nota por defecto de {{ SUBUNIDAD}}" class="form-control">
                        </div>
                      </form>
                    </div>
                    <div style="padding-left: 0px; padding-right: 0px; text-align: center;" class="ticket-type col-md-2 col-xs-12">
                      <div class="btn-group">
                        <button type="button" ng-click="subunidad.editando=false" class="btn btn-default btn-sm">Cancelar</button>
                        <button type="button" ng-click="actualizarSubunidad(subunidad, unidad)" class="btn btn-primary btn-sm">Guardar</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- Formulario para CREAR NUEVA SUBUNIDAD-->
              <div ng-hide="unidad.ocultarSubs" style="margin: 10px 10px 10px 30px;  box-shadow: 0px 0px 5px rgb(123, 123, 241);" class="row si-margin-left15-xs">
                <div style="background-color: rgb(214, 225, 245);" ng-if="::USER.profes_pueden_editar_notas==1 || hasRoleOrPerm('Admin')" class="ticket-item">
                  <form ng-submit="addSubunidad(unidad)" class="row form-inline">
                    <div style="overflow: visible" class="ticket-user col-md-10 col-sm-12 no-padding-xs">
                      <div style="padding: 0;" class="form-group unidaddefinicion col-md-8 col-sm-8 col-xs-12 no-padding-xs">
                        <label class="sr-only">{{ ::GENERO_SUB=='M' ? 'Nuevo' : 'Nueva' }} {{ ::SUBUNIDAD}}:</label>
                        <textarea required ng-model="unidad.newsubunidad.definicion" placeholder="Escribe {{ GENERO_SUB=='M' ? 'nuevo' : 'nueva' }} {{ SUBUNIDAD}}" uib-tooltip="Definición del {{ GENERO_SUB=='M' ? 'nuevo' : 'nueva' }} {{ SUBUNIDAD}}" tooltip-popup-delay="500" style="height: 35px;" class="form-control textarea-altura-xs"></textarea>
                      </div>
                      <div class="form-group unidadporcentaje col-md-2 col-sm-2 col-xs-12">
                        <input ng-model="unidad.newsubunidad.porcentaje" min="0" max="100" type="number" placeholder="%Porcentaje" uib-tooltip="Porcentaje {{ GENERO_SUB=='M' ? 'del' : 'de la' }} {{ SUBUNIDAD}}" tooltip-popup-delay="500" style="padding: 5px;" class="form-control">
                      </div>
                      <div style="padding: 0;" class="form-group col-md-2 col-sm-2 col-xs-12 si-padding-lados-xs">
                        <input ng-model="unidad.newsubunidad.nota_default" min="0" max="100" type="number" placeholder="Nota por defecto" uib-tooltip="Nota por defecto {{  GENERO_SUB=='M' ? 'del' : 'de la' }} {{ SUBUNIDAD}}" tooltip-popup-delay="500" class="form-control">
                      </div>
                    </div>
                    <div class="ticket-type col-md-2 col-xs-12 text-center">
                      <input type="submit" ng-disabled="!activar_crear_subunidad || unidad.newsubunidad.definicion=='' || unidad.newsubunidad.definicion==' ' " value="Añadir {{ SUBUNIDAD}}" class="btn btn-primary">
                    </div>
                  </form>
                </div>
              </div>
            </li>
          </ol>
        </div><a ui-sref="panel.listasignaturas({profesor_id: asignatura.profesor_id})">Volver a asignaturas</a></span>
      <div style="margin-top: 30px; margin-bottom: 20px" class="row">
        <div class="col-xs-12 col-md-12"><a href="" ng-click="mostrarUnidadesEliminadas()" uib-tooltip="Muestra las {{ ::UNIDADES }} eliminadas de este periodo">Mostrar {{ ::UNIDADES}} en papelera</a></div>
      </div>
      <div ng-show="mostrando_unidades_eliminadas" class="row">
        <div class="col-xs-12 col-md-12">
          <div ng-show="unidades_eliminadas.length == 0" style="border-bottom: 1px solid #ccc;" class="row">
            <div class="col-xs-12">No hay {{::UNIDADES}} en la papelera</div>
          </div>
          <div ng-repeat="unidad in unidades_eliminadas" style="border-bottom: 1px solid #ccc;" class="row">
            <div class="col-xs-1">
              <button ng-click="restaurarUnidad(unidad)" uib-tooltip="Restaurar unidad" ng-disabled="unidad.restaurando" class="btn btn-default btn-sm"><i class="fa fa-undo"></i></button>
            </div>
            <div class="col-xs-1">{{unidad.id}}</div>
            <div class="col-xs-5">{{unidad.definicion}}</div>
            <div class="col-xs-5">
              <div ng-repeat="subunidad in unidad.subunidades">* {{subunidad.definicion}} - {{subunidad.porcentaje}}%</div>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px; margin-bottom: 20px" class="row">
        <div class="col-xs-12 col-md-12"><a href="" ng-click="mostrarSubunidadesEliminadas()" uib-tooltip="Muestra las {{ ::SUBUNIDADES }} eliminadas de este periodo">Mostrar {{ ::SUBUNIDADES}} en papelera</a></div>
      </div>
      <div ng-show="mostrando_subunidades_eliminadas" class="row">
        <div class="col-xs-12 col-md-12">
          <div ng-show="subunidades_eliminadas.length == 0" style="border-bottom: 1px solid #ccc;" class="row">
            <div class="col-xs-12">No hay {{ ::SUBUNIDADES }} en la papelera</div>
          </div>
          <div ng-repeat="subunidad in subunidades_eliminadas" style="border-bottom: 1px solid #ccc;" class="row">
            <div class="col-xs-1">
              <button ng-click="restaurarSubunidad(subunidad)" uib-tooltip="Restaurar subunidad" ng-disabled="subunidad.restaurando" class="btn btn-default btn-sm"><i class="fa fa-undo"></i></button>
            </div>
            <div class="col-xs-1">{{subunidad.id}}</div>
            <div class="col-xs-5">{{subunidad.definicion_subunidad}} - {{subunidad.porcentaje}}%</div>
            <div class="col-xs-5">UNIDAD: {{subunidad.definicion_unidad}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>