img(ng-if="asignatura.foto_nombre" ng-src="{{perfilPath + asignatura.foto_nombre}}" style="width: 150px!important; height: 150px!important;")
img(ng-if="actividad.foto_nombre" ng-src="{{perfilPath + actividad.foto_nombre}}" style="width: 150px!important; height: 150px!important;")
img(ng-if="periodo.nota_comportamiento.foto_nombre && !asignatura.foto_nombre" ng-src="{{perfilPath + periodo.nota_comportamiento.foto_nombre}}" style="width: 150px!important; height: 150px!important;")

