
<div style="margin-bottom: 20px; background-color:#fff; padding: 30px;" class="row hidden-print">
  <div class="col-xs-12 col-sm-3">Título encabezado: (puedes usar código html)</div>
  <div class="col-xs-12 col-sm-9">
    <textarea ng-model="titulo_listado.texto" ng-model-options="{ updateOn: 'blur' }" style="width: 90%; height: 100px; " ng-change="cambia_texto_informativo()"></textarea><br>
  </div>
  <div class="col-xs-12 col-sm-3">
    <label style="margin-right: 9px;">Columnas: (selecciona varias columnas usando Ctrl + Click)</label>
  </div>
  <div class="col-xs-12 col-sm-9">
    <select multiple="multiple" ng-model="columnasDatos" ng-change="cambiaColumnasDatos(columnasDatos)" style="width: 90%; display: inline-block;" class="form-control">
      <option value="{{campo.campo}}" ng-repeat="campo in campos">{{ campo.valor }}</option>
      <!-- sdc
      option(value="documento") Documento
      option(value="username") Nombre de usuario
      option(value="telefonos") Teléfonos
      option(value="ciudad_nac_nombre") Ciudad nacimiento
      option(value="es_urbano") Urbanidad
      option(value="direccion") Dirección
      option(value="email") Email
      option(value="fecha_nac") Fecha nacimiento
      option(value="edad") Edad
      option(value="religion") Religión
      option(value="sexo") Sexo
      option(value="eps") EPS
      -->
    </select><br><br>
  </div>
  <div class="col-xs-12 col-sm-3">
    <label style="margin-right: 9px;">Columnas vacías:</label>
  </div>
  <div class="col-xs-12 col-sm-9">
    <input type="number" ng-model="columnas" min="0" ng-change="cambiaColumnas(columnas)" style="width: 120px; display: inline-block;" class="form-control"><br>
  </div>
  <div class="col-xs-12 col-sm-3">
    <label style="margin-right: 9px;">Grupo:</label>
  </div>
  <div class="col-xs-12 col-sm-9">
    <ui-select ng-model="datos.grupo" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;">
      <ui-select-match placeholder="Grupo" allow-clear="true">{{$select.selected.nombre}}</ui-select-match>
      <ui-select-choices repeat="grupo in grupos_simat | filter: $select.search">
        <div ng-bind-html="grupo.nombre | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select><a href ng-click="todos()">Todos</a>
  </div>
  <hr><br>
</div>
<div ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $last==false }">
  <div class="row encabezado-planilla">
    <div class="col-lg-12">
      <!--.nombre-colegio| {{::year.nombre_colegio + ' - ' + year.abrev_colegio}}
      -->
      <div class="descripcion-title">
        <h4 ng-bind-html="titulo_listado.texto" style="border: 0px; width: 100%; " class="center"></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="padding: 4px;" class="col-lg-12 col-xs-12">
      <div ng-repeat="grupo in grupos_simat track by $index">
        <div style="padding-top: 10px; font-size: 12pt;" class="text-center"><span style="font-weight: 600;">{{ grupo.nombre }}</span></div>
        <table align="center" style="width: 100%" class="table-bordered table-bordered2 table-striped table-striped2">
          <thead>
            <tr>
              <th style="width: 20px">No</th>
              <th style="width: 190px" class="text-center">Nombres</th>
              <th ng-repeat="columna in columnasDatosTd" style="text-align: center; width: 30px;" ng-if="columna.valor!='Ninguna' ">{{columna.valor}}</th>
              <th ng-repeat="i in columnasArray track by $index" class="text-center">
                <input type="text" ng-model="i.titulo" class="hidden-print">
                <div class="show-on-print">{{i.titulo}}</div>
              </th>
            </tr>
          </thead>
          <tbody style="font-size: 10pt">
            <tr ng-repeat="alumno in grupo.alumnos track by $index">
              <td>{{ $index + 1 }}</td>
              <td style="width: 190px">
                <div uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-trigger="'mouseenter'" popover-popup-delay="500" popover-append-to-body="true" ng-style="alumno.estado=='ASIS' ? {'font-style': 'italic'} : {}" style="position: relative; vertical-align: middle;" class="nombresellipsis ellipsis250">{{ alumno.apellidos }} {{ alumno.nombres }}<span ng-show="alumno.estado=='ASIS'" style="font-size: 8pt; right: 0px; position: absolute; background-color: white; top: -2px;">(Asis)</span><span ng-show="alumno.estado=='PREM'" style="font-size: 8pt; right: 0px; position: absolute; background-color: white; top: -2px;">(Prem)</span></div>
              </td>
              <td ng-repeat="columna in columnasDatosTd" ng-if="columna.valor!='Ninguna' " class="text-center"><span ng-show="columna.campo=='documento'">{{ alumno.documento | formatNumberDocumento }}</span><span ng-show="columna.campo!='documento'">{{ alumno[columna.campo] }}</span></td>
              <td ng-repeat="i in columnasArray track by $index" style="min-width: 50px"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>