.row
  .col-lg-12.col-xs-12(style="margin-bottom: 10px;")
    button.btn.btn-default.shiny(ng-click="calcularPromovido()") Calcular promovidos
    
    
  .col-lg-12.col-xs-12(style="padding-bottom: 10px;")
    | Tipo de informe
    .btn-group
      button.btn.btn-default(ng-click="eligirTipoFinal(1)" ng-class="{'active': tipo_boletin_final==1 }" uib-tooltip="Con firma del titular") Boletín final
      button.btn.btn-default(ng-click="eligirTipoFinal(2)" ng-class="{'active': tipo_boletin_final==2 }" uib-tooltip="Con firma de secretario(a)" ng-if="::USER.tipo!='Profesor'")
        | Libros finales
      button.btn.btn-default(ng-click="eligirTipoFinal(3)" ng-class="{'active': tipo_boletin_final==3 }" uib-tooltip="Calcula todos los periodos" ng-if="::USER.tipo!='Profesor'")
        | Certificado final
      button.btn.btn-default(disabled ng-click="eligirTipoFinal(4)" ng-class="{'active': tipo_boletin_final==4 }" uib-tooltip="Calcula hasta el periodo que usted elija" ng-if="::USER.tipo!='Profesor'")
        | Certificado periodos

hr.wide

span(ng-show="tipo_boletin_final")
  .row
    .col-lg-12.col-xs-12

      span(ng-show="tipo_boletin_final==1 || tipo_boletin_final==2")
        .row
          .col-lg-12.col-xs-12
            .form-group
              label(style="margin-right: 9px;") Grupo
              ui-select(ng-model="datos.grupo" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;")
                ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
                ui-select-choices(repeat="grupo in grupos | filter: $select.search | orderBy:'orden'")
                  div(ng-bind-html="grupo.nombre | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verBoletinesFinalesGrupo()") Grupo completo
        .row(ng-show="datos.grupo")
          .col-lg-12.col-xs-12
            .form-group
              label Alumnos
              ui-select( ng-model="datos.selected_alumnos" multiple on-select="selectAlumnos($item)" style="width: 100%;")
                ui-select-match(placeholder="Alumnos del grupo {{datos.grupo.abrev}}" allow-clear="true")
                  img(ng-src="{{perfilPath + $item.foto_nombre}}" style="width:25px; height:25px;")
                  | {{$item.nombres}}
                ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
                  img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
                  small(ng-show="alumno.estado=='DESE'" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (DESERTOR)</i>'")
                  small(ng-show="alumno.estado=='RETI'" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (RETIRADO)</i>'")
                  small(ng-hide="alumno.estado=='RETI' || alumno.estado=='DESE'" ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verBoletinesFinalesAlumnos()") Cargar boletines

        .row(ng-hide="datos.grupo || USER.tipo=='Profesor'")
          .col-lg-12.col-xs-12
            .form-group
              label Alumno
              ui-select( ng-model="datos.selected_alumno" on-select="selectAlumno($item)" style="width: 300px;")
                ui-select-match(placeholder="Elige un alumno" allow-clear="true")
                  img(ng-src="{{perfilPath + $select.selected.foto_nombre}}" style="width:25px; height:25px;")
                  | {{$select.selected.nombres}} {{$select.selected.apellidos}}
                ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
                  img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
                  small(ng-show="alumno.estado=='DESE'" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (DESERTOR)</i>'")
                  small(ng-show="alumno.estado=='RETI'" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (RETIRADO)</i>'")
                  small(ng-hide="alumno.estado=='RETI' || alumno.estado=='DESE'" ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verBoletinFinalAlumno()") Cargar boletin
        br

        .row
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Mostrar foto
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.mostrar_foto")
                span.text.si-no
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Firma rector
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_firma_rector")
                span.text.si-no
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Otra firma
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_firma_titular")
                span.text.si-no
        br
        br



      span(ng-show="tipo_boletin_final==3")
        .row
          .col-lg-12.col-xs-12
            .form-group
              label Grupo
              ui-select(ng-model="datos.grupo" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;")
                ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
                ui-select-choices(repeat="grupo in grupos | filter: $select.search | orderBy:'orden'")
                  div(ng-bind-html="grupo.nombre | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verCertificadosEstudioGrupo()") Grupo completo
        .row(ng-show="datos.grupo")
          .col-lg-12.col-xs-12
            .form-group
              label Alumnos
              ui-select( ng-model="datos.selected_alumnos" multiple on-select="selectAlumnos($item)" style="width: 100%;")
                ui-select-match(placeholder="Alumnos del grupo {{datos.grupo.abrev}}" allow-clear="true")
                  img(ng-src="{{perfilPath + $item.foto_nombre}}" style="width:25px; height:25px;")
                  | {{$item.nombres}}
                ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
                  img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
                  small(ng-show="alumno.sin_matricular" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (RETIRADO)</i>'")
                  small(ng-hide="alumno.sin_matricular" ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verCertificadosEstudioAlumnos()") Cargar boletines

        .row(ng-show="!datos.grupo")
          .col-lg-12.col-xs-12
            .form-group
              label Alumno
              ui-select( ng-model="datos.selected_alumno" on-select="selectAlumno($item)" style="width: 300px;")
                ui-select-match(placeholder="Elige un alumno" allow-clear="true")
                  img(ng-src="{{perfilPath + $select.selected.foto_nombre}}" style="width:25px; height:25px;")
                  | {{$select.selected.nombres}} {{$select.selected.apellidos}}
                ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
                  img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
                  small(ng-show="alumno.sin_matricular" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (RETIRADO)</i>'")
                  small(ng-hide="alumno.sin_matricular" ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verCertificadosEstudioAlumno()") Cargar boletin
        br


        .row
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Mostrar foto
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.mostrar_foto")
                span.text.si-no
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Firma rector
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_firma_rector")
                span.text.si-no
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Firma secre
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_firma_secretario")
                span.text.si-no

          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Datos cabecera
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_datos")
                span.text.si-no
                
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Mostrar cédulas
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_cedulas")
                span.text.si-no

        br
        br


      span(ng-show="tipo_boletin_final==4")
        .row
          .col-lg-7.col-sm-12.col-xs-12
            .form-group
              label Calcular hasta el periodo:
              input(type="number" ng-model="config.periodo_a_calcular" min="1" max="4")

        .row
          .col-lg-12.col-xs-12
            .form-group
              label Grupo
              ui-select(ng-model="datos.grupo" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;")
                ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
                ui-select-choices(repeat="grupo in grupos | filter: $select.search | orderBy:'orden'")
                  div(ng-bind-html="grupo.nombre | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verCertificadosEstudioGrupo(config.periodo_a_calcular)") Grupo completo
        .row(ng-show="datos.grupo")
          .col-lg-12.col-xs-12
            .form-group
              label Alumnos
              ui-select( ng-model="datos.selected_alumnos" multiple on-select="selectAlumnos($item)" style="width: 100%;")
                ui-select-match(placeholder="Alumnos del grupo {{datos.grupo.abrev}}" allow-clear="true")
                  img(ng-src="{{perfilPath + $item.foto_nombre}}" style="width:25px; height:25px;")
                  | {{$item.nombres}}
                ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
                  img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
                  small(ng-show="alumno.sin_matricular" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (RETIRADO)</i>'")
                  small(ng-hide="alumno.sin_matricular" ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verCertificadosEstudioAlumnos(config.periodo_a_calcular)") Cargar informes

        .row(ng-show="!datos.grupo")
          .col-lg-12.col-xs-12
            .form-group
              label Alumno
              ui-select( ng-model="datos.selected_alumno" on-select="selectAlumno($item)" style="width: 300px;")
                ui-select-match(placeholder="Elige un alumno" allow-clear="true")
                  img(ng-src="{{perfilPath + $select.selected.foto_nombre}}" style="width:25px; height:25px;")
                  | {{$select.selected.nombres}} {{$select.selected.apellidos}}
                ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
                  img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
                  small(ng-show="alumno.sin_matricular" ng-bind-html="'<i> -- ' + (alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search) + ' -- (RETIRADO)</i>'")
                  small(ng-hide="alumno.sin_matricular" ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
              a.btn.btn-default(href="" ng-click="verCertificadosEstudioAlumno(config.periodo_a_calcular)") Cargar informe
        br


        .row
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Mostrar foto
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.mostrar_foto")
                span.text.si-no
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Firma rector
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_firma_rector")
                span.text.si-no
          .col-lg-2.col-sm-4.col-xs-12
            .form-group
              label Mostrar datos
              label
                input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-click="putConfigCookie()" ng-model="config.show_datos")
                span.text.si-no

        br
        br

