
<div class="modal-header">
  <h3 class="modal-title flipInY">Alumnos</h3>
</div>
<div class="modal-body"><span ng-if="false">
    <div style="padding-bottom: 30px;">
      <h3 style="display: inline;">{{ alumno.nombres }} {{ alumno.apellidos }}</h3>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="row">
          <div uib-tooltip="Código de la nota" class="col-xs-4">Código:</div>
          <div class="col-xs-8"><span uib-tooltip="Código de la nota" style="font-style: italic;">{{ alumno.alumno_id }}</span>
            <button ng-if="hasRoleOrPerm('Admin')" ng-click="eliminarNota()" uib-tooltip="Eliminar nota." class="btn btn-danger btn-xs">Eliminar</button>
          </div>
        </div>
        <div style="font-weight: bold" class="row">
          <div class="col-xs-4">Número matrícula:</div>
          <div class="col-xs-8">{{ alumno.no_matricula }}</div>
        </div>
        <div class="row">
          <div class="col-xs-4">Código matrícula:</div>
          <div class="col-xs-8">{{ alumno.matricula_id }}</div>
        </div>
        <div class="row">
          <div class="col-xs-4">Fecha creación:</div>
          <div class="col-xs-8">{{ alumno.created_at }}</div>
        </div>
        <div class="row">
          <div class="col-xs-4">Creado por:</div>
          <div class="col-xs-8"><span uib-tooltip="Nombre de usuario">{{ alumno.creado_por }} ({{ alumno.created_by }})</span></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-lg-12 col-sm-12 text-center">
        <button ng-repeat="matricula in matriculas" uib-tooltip="{{ matricula.fecha_matricula + ' - ' + matricula.estado + ' (id: ' + matricula.matricula_id + ')' }}" class="btn btn-success">{{ matricula.nombre + ' - ' + matricula.year }}</button>
      </div>
    </div>
    <hr>
    <div style="margin-top: 30px" class="row">
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-nombres">Nombres</label>
        <input id="alumno-nombres" type="text" ng-model="alumno.nombres" placeholder="Nombres" ng-change="guardarValor(alumno, 'nombres', alumno.nombres)" style="font-size: 12pt; color: #444; border: 1px solid #999;" class="form-control">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-apellidos">Apellidos</label>
        <input id="alumno-apellidos" type="text" ng-model="alumno.apellidos" placeholder="Apellidos" ng-change="guardarValor(alumno, 'apellidos', alumno.apellidos)" style="font-size: 12pt; color: #444; border: 1px solid #999;" class="form-control">
      </div>
      <div style="margin-bottom: 8px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Sexo</label>
        <div class="row">
          <div class="col-lg-6 col-sm-4 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" name="sexo" value="M" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)" class="inverted"><span class="text">Masculino</span>
              </label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-4 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" name="sexo" value="F" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)" class="inverted"><span class="text">Femenino</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-fecha_matricula">Fecha matrícula</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_matricula" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_matricula" is-open="data.isOpenMatr" ng-click="data.isOpenMatr = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha matrícula" ng-change="guardarValor(alumno, 'fecha_matricula', alumno.fecha_matricula)" class="form-control active">
          </div>
        </div>
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-fecha_matricula">Fecha retiro</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_retiro" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_retiro" is-open="data.isOpenReti" ng-click="data.isOpenReti = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha retiro" ng-change="guardarValor(alumno, 'fecha_retiro', alumno.fecha_retiro)" class="form-control active">
          </div>
        </div>
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-fecha_nac">Fecha nacimiento</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_nac" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_nac" is-open="data.isOpenNac" ng-click="data.isOpenNac = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento" ng-change="guardarValor(alumno, 'fecha_nac', alumno.fecha_nac)" class="form-control active">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-razon_retiro">Razón retiro</label>
        <input id="alumno-razon_retiro" type="text" ng-model="alumno.razon_retiro" placeholder="Razón retiro" ng-change="guardarValor(alumno, 'Razón retiro', alumno.razon_retiro)" style="color: #444; border: 1px solid #999;" class="form-control">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-estrato">Estrato</label>
        <input id="alumno-estrato" type="number" ng-model="alumno.estrato" min="0" max="10" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'estrato', alumno.estrato)" class="form-control">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-religion">Religión</label>
        <input id="alumno-religion" type="text" ng-model="alumno.religion" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'religion', alumno.religion)" class="form-control">
      </div>
    </div></span>
  <div class="row">
    <div style="overflow: auto;" class="col-lg-12 col-xs-12">
      <h4>Todos los alumnos:</h4>
      <table class="table table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center"><span uib-tooltip="Código de alumno">Id</span></th>
            <th class="text-center">Alumno</th>
            <th class="text-center"></th>
            <th class="text-center">Nro matrícula</th>
            <th class="text-center">Sexo</th>
            <th class="text-center">Creado en</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alum in alumnos track by $index">
            <td class="text-center">{{ $index+1 }}</td>
            <td style="padding-bottom: 0;" class="text-center">{{ alum.alumno_id }}<img ng-src="{{perfilPath + alum.foto_nombre}}" style="width: 35px; height: 35px; margin-top: -9px;"></td>
            <td style="font-size: 8pt;">
              <div ng-style="alum.estado=='ASIS' ? {'font-style': 'italic'} : {}" style="position: relative; vertical-align: middle;" uib-popover-template="views+'notas/popoverAlumInfo.tpl.html'" popover-title="{{alum.nombres + ' ' + alum.apellidos}}" popover-trigger="'mouseenter'" popover-popup-delay="500" class="ellipsis250 alumno-planilla">{{::alum.apellidos}} {{::alumno.nombres}}<span ng-show="alum.estado=='ASIS'" style="font-weight: bold; right: 0px; position: absolute; background-color: white; top: -2px;">(Asis)</span><span ng-show="alum.estado=='PREM'" style="font-weight: bold; right: 0px; position: absolute; background-color: white; top: -2px;">(Prema)</span><span ng-show="alum.estado=='DESE'" style="font-weight: bold; right: 0px; position: absolute; background-color: white; top: -2px;">(Dese)</span><span ng-show="alum.estado=='RETI'" style="font-weight: bold; right: 0px; position: absolute; background-color: white; top: -2px;">(Reti)</span></div>
            </td>
            <td class="text-center"><span ng-show="alum.deleted_at" uib-tooltip="Eliminado {{alum.deleted_at}}">Elimin</span></td>
            <td class="text-center">{{ ::alum.no_matricula }}</td>
            <td class="text-center">{{ ::alum.sexo }}</td>
            <td><span ng-show="alum.created_at!='0000-00-00 00:00:00'">{{ alum.created_at }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="ok()" class="btn btn-labeled btn-default">Cerrar<i class="btn-label fa fa-check"></i></button>
</div>