
<div style="background-color: #fff;" class="hidden-print">
  <div class="col-lg-12 col-xs-12">
    <div class="btn-group">
      <button ng-click="eligirTamanio('carta')" ng-class="{'active': tamanio_hoja=='carta' }" class="btn btn-default">Tamaño carta</button>
      <button ng-click="eligirTamanio('oficio')" ng-class="{'active': tamanio_hoja=='oficio' }" class="btn btn-default">Tamaño oficio</button>
    </div>
  </div>
</div>
<div ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $last==false }">
  <div ng-bind-html="grupos_observador" compile></div>
</div>