.row(ui-view="edit_grupo")


.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow Grupo
				a.btn.btn-info.shiny(ui-sref="panel.grupos.nuevo" uib-tooltip="Ingresa datos de un nuevo grupo") Crear grupo

			#grid1.grid(ui-grid="gridOptions" style="height: 600px" ui-grid-auto-resize ui-grid-edit external-scopes="$scope" ui-grid-resize-columns ui-grid-cellnav)


			.footer
				| Puedes editar presionando click sobre el dato deseado.
