.row(ui-view="edit_nivel")


.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow Niveles educativos 
				a.btn.btn-info.shiny(ui-sref="panel.niveles.nuevo" uib-tooltip="Ingresa datos de un nuevo nivel") Crear nivel
			#grid1.grid(ui-grid="gridOptions" ui-grid-auto-resize ui-grid-edit ui-grid-resize-columns ui-grid-cellnav)


			.footer
				| Puedes editar con doble click sobre el dato deseado.