.modal-header(style="background-color: #f2fd42;")
	h3.modal-title.flipInY Cambio de periodo/año
.modal-body

	h2
		strong Acabas de cambiar al periodo y año actual.



.modal-footer
	button.btn.btn-labeled.btn-default(ng-click="ok()") Aceptar
		i.btn-label.fa.fa-check
