
<div ng-if="::USER.tipo=='Profesor' || (USER.tipo=='Usuario' &amp;&amp; USER.profesor_id!=null) " style="padding-top: 60px !important;" class="well with-header animated bounceIn">
  <div class="header bordered-blue"><span ng-show="!pasandoNotas"><span ng-show="mostrandoHoy">Clases de hoy<a ng-click="mostrarClasesDeManana()" href="" style="float: right;">Mañana...</a></span><span ng-show="!mostrandoHoy"><a ng-click="mostrarClasesDeHoy()" href=""> ...Hoy</a><span style="float: right;">Clases de mañana</span></span></span><span ng-show="pasandoNotas" style="font-weight: bold;">{{ asignatura_actual.abrev_grupo }}. {{ asignatura_actual.materia }}</span></div>
  <div class="row">
    <div ng-hide="pasandoNotas" class="col-xs-12"><span ng-if="mostrandoHoy">
        <div ng-repeat="asignatura in changes_asked.horario_hoy">
          <button ng-click="seleccionarAsignatura(asignatura)" class="btn btn-default btn-block"><span style="background-color: #9aecff; padding: 0px 8px; float: left; font-weight: bold; font-size: 14pt;" uib-tooltip="{{ asignatura.nombre_grupo }}">{{ asignatura.abrev_grupo }}</span><span> {{ asignatura.materia }}</span></button>
          <div ng-show="asignatura.seleccionada" style="padding: 4px 15px;" class="no-padding-xs">
            <div style="text-align: center;">
              <div class="btn-group"><a href="" ng-click="cargarAlumnosAsistencia(asignatura, asignatura.grupo_id, asignatura.asignatura_id)" style="margin-top: 5px;" class="btn btn-success shiny">Asistencia</a><a href="" ui-sref="panel.unidades({asignatura_id: asignatura.asignatura_id})" style="margin-top: 5px;" class="btn btn-primary shiny">Ir a {{UNIDADES}}</a></div>
            </div>
            <!-- UNIDADES-->
            <div ng-repeat="unidad in asignatura.unidades | orderBy:'orden'" style="border: 1px solid #aaa; padding: 2px; margin-bottom: 10px; margin-top: 5px; border-radius: 4px; background-color: aliceblue;">
              <div style="max-height: 50px; overflow: hidden; margin: 8px 4px 8px 10px;">{{$index+1}}. {{ unidad.definicion }}</div>
              <!-- Subunidades-->
              <div ng-repeat="subunidad in unidad.subunidades  | orderBy:'orden'" style="margin-left: 20px;">
                <button style="text-align: left;" ng-click="cargarAlumnosSubunidad(subunidad, asignatura, asignatura.grupo_id, asignatura.asignatura_id)" class="btn btn-default btn-block subunidad-horario">{{$index+1}}. {{ subunidad.definicion }}</button>
              </div>
              <div style="text-align: right"><a ui-sref="panel.unidades({asignatura_id: asignatura.asignatura_id})" href="" ng-hide="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')">Crear {{SUBUNIDAD}}</a></div>
            </div>
          </div>
        </div></span><span ng-if="!mostrandoHoy">
        <div ng-repeat="asignatura in changes_asked.horario_manana">
          <button ng-click="seleccionarAsignatura(asignatura)" class="btn btn-default btn-block"><span style="background-color: #9aecff; padding: 0px 8px; float: left; font-weight: bold; font-size: 14pt;" uib-tooltip="{{ asignatura.nombre_grupo }}">{{ asignatura.abrev_grupo }}</span><span> {{ asignatura.materia }}</span></button>
          <div ng-show="asignatura.seleccionada" style="padding: 4px 15px;" class="no-padding-xs">
            <div style="text-align: center;">
              <div class="btn-group"><a href="" ng-click="cargarAlumnosAsistencia(asignatura, asignatura.grupo_id, asignatura.asignatura_id)" style="margin-top: 5px;" class="btn btn-success shiny">Asistencia</a><a href="" ui-sref="panel.unidades({asignatura_id: asignatura.asignatura_id})" style="margin-top: 5px;" class="btn btn-primary shiny">Ir a {{UNIDADES}}</a></div>
            </div>
            <!-- UNIDADES-->
            <div ng-repeat="unidad in asignatura.unidades" style="border: 1px solid #aaa; padding: 2px; margin-bottom: 10px; margin-top: 5px; border-radius: 4px; background-color: aliceblue;">
              <div style="max-height: 50px; overflow: hidden;">{{$index+1}}. {{ unidad.definicion }}</div>
              <!-- Subunidades-->
              <div ng-repeat="subunidad in unidad.subunidades" style="margin-left: 20px;">
                <button style="text-align: left;" ng-click="cargarAlumnosSubunidad(subunidad, asignatura, asignatura.grupo_id, asignatura.asignatura_id)" class="btn btn-default btn-block subunidad-horario">{{$index+1}}. {{ subunidad.definicion }}</button>
              </div>
              <div style="text-align: right"><a ui-sref="panel.unidades({asignatura_id: asignatura.asignatura_id})" href="" ng-hide="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')">Crear {{SUBUNIDAD}}</a></div>
            </div>
          </div>
        </div></span></div>
    <div ng-show="pasandoNotas" class="col-xs-12 animated rotateIn"><a href="" ng-click="volverClases()" class="btn btn-info shiny btn-lg"><i class="fa fa-arrow-left"></i> Volver</a>
      <h4 style="font-weigth: bold; margin-top: 5px">{{ subunidad_actual.definicion }}</h4>
      <div ng-repeat="alumno in alumnos_subunidad">
        <div style="padding: 4px; border: 1px solid #ccc; transition: all 0.5s" ng-class="{ 'alum-mostrando-ausencias': alumno.mostrandoFallas }" class="row">
          <div class="col-xs-12 col-sm-7"><span>{{::$index+1}}.</span><span uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-trigger="'mouseenter'" popover-popup-delay="500" popover-append-to-body="true" class="nombresellipsis"><img ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 30px; height: 30px;">{{ alumno.apellidos }} {{ alumno.nombres }}</span></div>
          <div class="col-xs-12 col-sm-5">
            <button ng-click="cambiarNota(alumno, alumno.nota)" uib-tooltip="Nota" tooltip-popup-delay="100" ng-if="subunidad_actual" style="width: 50px;" ng-class="{'inputnota-perdida': alumno.nota.nota &lt; nota_minima_aceptada, 'inputnota-superior': alumno.nota.nota &gt;= escala_maxima.porc_inicial }" class="btn btn-default">{{ alumno.nota.nota }}</button>
            <button ng-click="verUniformes(alumno)" style="padding-right: 9px;" uib-tooltip="Registro de uniforme o cámara" class="btn btn-default"><i class="fa fa-book">
                <div ng-show="alumno.uniformes_count&gt;0" ng-class="{'warning': alumno.uniforme_hoy }" style="background-color: cornflowerblue; padding-top: 3px; position: absolute;" class="badge badge-success">{{ alumno.uniformes_count }}</div></i></button>
            <button ng-click="verTardanzasAusencias(alumno)" ng-class="{'btn-warning': alumno.falla_hoy=='tardanza', 'btn-danger': alumno.falla_hoy=='ausencia' }" style="padding-left: 2px; padding-right: 4px;" uib-tooltip="Ausencias: {{ alumno.ausencias_count }} - Tardanzas: {{ alumno.ausencias_count }}" class="btn btn-default"><i class="fa fa-clock-o"></i>A: {{ alumno.ausencias_count }}
               - T: {{ alumno.tardanzas_count }}
            </button>
            <!-- Agregar-->
            <button ng-click="agregarAusencia(alumno)" style="padding-right: 9px;" uib-tooltip="Agregar ausencia" class="btn btn-danger"><i class="fa fa-plus"></i></button>
            <button ng-click="agregarTardanza(alumno)" style="padding-right: 9px;" uib-tooltip="Agregar tardanza" class="btn btn-warning"><i class="fa fa-plus"></i></button>
            <!-- Eliminar-->
            <button ng-click="quitarAusenciaHoy(alumno, 'ausencia')" style="padding-right: 9px;" uib-tooltip="Quitar ausencias de hoy" ng-show="alumno.falla_hoy=='ausencia'" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
            <button ng-click="quitarAusenciaHoy(alumno, 'tardanza')" style="padding-right: 9px;" uib-tooltip="Quitar tardanzas de hoy" ng-show="alumno.falla_hoy=='tardanza'" class="btn btn-warning"><i class="fa fa-minus-circle"></i></button>
          </div>
        </div>
        <!-- TARDANZAS - AUSENCIAS-->
        <div ng-show="alumno.mostrandoFallas" class="row">
          <div style="border-left: 5px solid #0085ff; border-right: 5px solid #0085ff;" class="col-lg-12 col-xs-12">
            <div ng-show="alumno.tardanzas_count == 0 &amp;&amp; alumno.ausencias_count == 0" style="border: 1px solid #bbb;" class="row animated bounceIn">
              <div style="font-style: italic" class="col-sm-12 col-xs-12 no-padding-xs">No tiene ausencias / tardanzas</div>
            </div>
            <div ng-repeat="falla in alumno.tardanzas" style="border: 1px solid #bbb;" class="row animated bounceIn">
              <div class="col-sm-1 col-xs-2 no-padding-xs">
                <div class="margin-top-33-noxs">{{ falla.id }}</div>
              </div>
              <div class="col-sm-3 col-xs-8 no-padding-xs">
                <div class="btn-group margin-top-33-noxs">
                  <label ng-model="falla.tipo" ng-click="cambiarTipo(falla, 'tardanza', alumno)" uib-btn-radio="'tardanza'" class="btn btn-success btn-sm">Tarda</label>
                  <label ng-model="falla.tipo" ng-click="cambiarTipo(falla, 'ausencia', alumno)" uib-btn-radio="'ausencia'" class="btn btn-success btn-sm">Ausen</label>
                </div>
              </div>
              <div class="col-sm-3 col-xs-2 visible-xs">
                <button ng-click="eliminarAusencia(falla, alumno)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
              </div>
              <div class="col-sm-3 col-xs-6 no-padding">
                <div style="margin-top: 28px;" class="controls">
                  <div class="input-group"><span ng-click="falla.isOpen = true" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="falla.fecha_hora" is-open="falla.isOpen" alt-input-formats="['M!/d!/yyyy', 'yyyy-M!-d!', 'M!-d!-yyyy', 'yyyy/M!/d!']" ng-click="falla.isOpen = true" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" ng-change="guardarValorAusencia(falla, 'fecha_hora', falla.fecha_hora, alumno)" placeholder="Escribe 'MM-dd-yyyy' o 'yyyy-dd-MM'" style="padding: 6px 2px;" datepicker-append-to-body="true" class="form-control active">
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6 no-padding">
                <div uib-timepicker ng-model="falla.fecha_hora" ng-change="guardarValorAusencia(falla, 'fecha_hora', falla.fecha_hora, alumno)" meridians="['AM', 'PM']"></div>
              </div>
              <div class="col-sm-1 col-xs-2 hidden-xs">
                <button ng-click="eliminarAusencia(falla, alumno)" style="margin-top: 33px" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div ng-repeat="falla in alumno.ausencias" style="border: 1px solid #bbb;" class="row animated bounceIn">
              <div class="col-sm-1 col-xs-2 no-padding-xs">
                <div class="margin-top-33-noxs">{{ falla.id }}</div>
              </div>
              <div class="col-sm-3 col-xs-8 no-padding-xs">
                <div class="btn-group margin-top-33-noxs">
                  <label ng-model="falla.tipo" ng-click="cambiarTipo(falla, 'tardanza', alumno)" uib-btn-radio="'tardanza'" class="btn btn-success btn-sm">Tarda</label>
                  <label ng-model="falla.tipo" ng-click="cambiarTipo(falla, 'ausencia', alumno)" uib-btn-radio="'ausencia'" class="btn btn-success btn-sm">Ausen</label>
                </div>
              </div>
              <div class="col-sm-3 col-xs-2 visible-xs">
                <button ng-click="eliminarAusencia(falla, alumno)" class="btn btn-danger btn-sm visible-xs"><i class="fa fa-times"></i></button>
              </div>
              <div class="col-sm-3 col-xs-6 no-padding">
                <div style="margin-top: 28px;" class="controls">
                  <div class="input-group"><span ng-click="falla.isOpen = true" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="falla.fecha_hora" is-open="falla.isOpen" alt-input-formats="['M!/d!/yyyy', 'yyyy-M!-d!', 'M!-d!-yyyy', 'yyyy/M!/d!']" ng-click="falla.isOpen = true" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" ng-change="guardarValorAusencia(falla, 'fecha_hora', falla.fecha_hora, alumno)" placeholder="Escribe 'MM-dd-yyyy' o 'yyyy-dd-MM'" style="padding: 6px 2px;" datepicker-append-to-body="true" class="form-control active">
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6 no-padding">
                <div uib-timepicker ng-model="falla.fecha_hora" ng-change="guardarValorAusencia(falla, 'fecha_hora', falla.fecha_hora, alumno)" meridians="['AM', 'PM']"></div>
              </div>
              <div class="col-sm-1 col-xs-2 hidden-xs">
                <button ng-click="eliminarAusencia(falla, alumno)" style="margin-top: 33px" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- UNIFORME-->
        <div ng-show="alumno.mostrandoUniformes" class="row">
          <div style="border-left: 5px solid #4caf50; border-right: 5px solid #4caf50; padding-bottom: 10px;" class="col-lg-12 col-xs-12">
            <div ng-show="!alumno.creandoUniforme" style="border: 1px solid #bbb; background-color: #f9f5d5" class="row">
              <div style="padding-bottom: 10px; padding-top: 10px;" class="col-sm-12 col-xs-2 no-padding-xs">
                <button type="button" ng-click="verAgregarUniforme(alumno)" class="btn btn-default"><i class="fa fa-plus"></i>Agregar falla de uniforme o cámara</button>
              </div>
            </div>
            <div ng-show="alumno.creandoUniforme" style="border: 1px solid #bbb; background-color: #f9f5d5; padding-bottom: 5px;" class="row">
              <div style="padding-top: 10px" class="col-sm-10 col-xs-12">
                <div style="display: block;" class="btn-group">
                  <label ng-model="alumno.new_uni.camara" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary"> <i class="fa fa-camera"></i>Cámara</label>
                  <label ng-model="alumno.new_uni.contrario" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Contrario</label>
                  <label ng-model="alumno.new_uni.sin_uniforme" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Sin uniforme</label>
                  <label ng-model="alumno.new_uni.incompleto" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Incompleto</label>
                  <label ng-model="alumno.new_uni.cabello" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Cabello</label>
                  <label ng-model="alumno.new_uni.accesorios" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Accesorios</label>
                </div>
              </div>
              <div style="padding-top: 10px" class="col-sm-2 col-xs-12">
                <button type="button" ng-model="alumno.new_uni.excusado" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" class="btn btn-info shiny">
                   
                  Excusado<i ng-show="alumno.new_uni.excusado" class="fa fa-check"></i>
                </button>
              </div>
              <div class="col-sm-6 col-xs-6">
                <div style="margin-top: 28px;" class="controls">
                  <div class="input-group"><span ng-click="alumno.new_uni.isOpen = true" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="alumno.new_uni.fecha_hora" is-open="alumno.new_uni.isOpen" alt-input-formats="['M!/d!/yyyy', 'yyyy-M!-d!', 'M!-d!-yyyy', 'yyyy/M!/d!']" ng-click="alumno.new_uni.isOpen = true" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Escribe 'MM-dd-yyyy' o 'yyyy-dd-MM'" style="padding: 6px 2px;" datepicker-append-to-body="true" class="form-control active">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xs-6 no-padding">
                <div uib-timepicker ng-model="alumno.new_uni.fecha_hora" meridians="['AM', 'PM']"></div>
              </div>
              <div class="col-sm-12 col-xs-12 form-group definicion-add-unidad">
                <label class="sr-only">Escriba descripción</label>
                <textarea ng-model="alumno.new_uni.descripcion" placeholder="Escriba una descrición, descargo, etc." uib-tooltip="Descripción" tooltip-popup-delay="500" style="height: 50px; width: 100%;" class="form-control"></textarea>
              </div>
              <div class="col-sm-12 col-xs-6 center">
                <button ng-click="cancelarGuardarUniforme(alumno)" type="button" class="btn btn-default shiny">Cancelar</button>
                <button ng-click="guardarUniforme(alumno)" type="button" class="btn btn-primary shiny">Guardar</button>
              </div>
            </div>
            <div ng-repeat="uniforme in alumno.uniformes" style="border: 1px solid #bbb; margin-left: 10px; margin-right: 10px; padding-top: 5px; padding-bottom: 5px;" class="row"><span ng-show="!uniforme.editando">
                <div style="font-size: 7pt; padding-right: 0px;" class="col-sm-1 col-xs-1">{{uniforme.id}} </div>
                <div uib-tooltip="{{ uniforme.descripcion }}" class="col-sm-5 col-xs-11">{{uniforme.fecha_hora | date:'MMM d hh:mm a'}}</div>
                <div class="col-sm-4 col-xs-12">
                  <div class="row"><a href="" ng-show="uniforme.excusado" class="badge badge-success">Excusado</a><a href="" ng-show="uniforme.camara" class="badge badge-primary"> <i class="fa fa-camera"></i>Cámara</a><a href="" ng-show="uniforme.contrario" class="badge badge-primary">Contrario</a><a href="" ng-show="uniforme.sin_uniforme" class="badge badge-primary">Sin uniforme</a><a href="" ng-show="uniforme.incompleto" class="badge badge-primary">Incompleto</a><a href="" ng-show="uniforme.cabello" class="badge badge-primary">Cabello</a><a href="" ng-show="uniforme.accesorios" class="badge badge-primary">Accesorios</a></div>
                </div>
                <div class="col-sm-2 col-xs-12 no-padding">
                  <button ng-click="editarUniforme(uniforme, alumno)" style="padding-right: 9px;" uib-tooltip="Editar uniforme" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                  <button ng-click="eliminarUniforme(uniforme, alumno)" style="padding-right: 9px;" uib-tooltip="Eliminar uniforme" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                </div></span>
              <!-- EDITANDO UNIFORME	--><span ng-show="uniforme.editando">
                <div style="padding-top: 10px" class="col-sm-10 col-xs-12">
                  <div style="display: block;" class="btn-group">
                    <label ng-model="uniforme.camara" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary"> <i class="fa fa-camera"></i>Cámara</label>
                    <label ng-model="uniforme.contrario" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Contrario</label>
                    <label ng-model="uniforme.sin_uniforme" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Sin uniforme</label>
                    <label ng-model="uniforme.incompleto" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Incompleto</label>
                    <label ng-model="uniforme.cabello" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Cabello</label>
                    <label ng-model="uniforme.accesorios" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Accesorios</label>
                  </div>
                </div>
                <div style="padding-top: 10px" class="col-sm-2 col-xs-12">
                  <button type="button" ng-model="uniforme.excusado" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" class="btn btn-info shiny">
                     
                    Excusado<i ng-show="uniforme.excusado" class="fa fa-check"></i>
                  </button>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div style="margin-top: 28px;" class="controls">
                    <div class="input-group"><span ng-click="uniforme.isOpen = true" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="uniforme.fecha_hora" is-open="uniforme.isOpen" alt-input-formats="['M!/d!/yyyy', 'yyyy-M!-d!', 'M!-d!-yyyy', 'yyyy/M!/d!']" ng-click="uniforme.isOpen = true" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Escribe 'MM-dd-yyyy' o 'yyyy-dd-MM'" style="padding: 6px 2px;" datepicker-append-to-body="true" class="form-control active">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6 no-padding">
                  <div uib-timepicker ng-model="uniforme.fecha_hora" meridians="['AM', 'PM']"></div>
                </div>
                <div class="col-sm-12 col-xs-12 form-group definicion-add-unidad">
                  <label class="sr-only">Escriba descripción</label>
                  <textarea ng-model="uniforme.descripcion" placeholder="Escriba una descrición, descargo, etc." uib-tooltip="Descripción" tooltip-popup-delay="500" style="height: 50px; width: 100%;" class="form-control"></textarea>
                </div>
                <div class="col-sm-12 col-xs-6 center">
                  <button ng-click="cancelarGuardarUniformeEditado(uniforme)" type="button" class="btn btn-default shiny">Cancelar</button>
                  <button ng-click="guardarUniformeEditado(uniforme, alumno)" type="button" class="btn btn-primary shiny">Actualizar</button>
                </div></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>