<!-- Loading Container -->
//loader(ng-if="bigLoader")
<!--  /Loading Container -->
<!-- Navbar -->

datalist#religiones-list
	option Adventista
	option Católico
	option Pentecostal
	option Testigo de Jehová


.navbar.hidden-print
	.navbar-inner
		.navbar-container
			<!-- Navbar Barnd -->
			.navbar-header.pull-left
				a.navbar-brand(ui-sref="panel")
					small
						img.img-si-margin-top25-xs.animated.bounceIn(ng-src="{{logoPath}}" alt="Logo" style="animation-delay: 0.8s;")

			<!-- /Navbar Barnd -->
			<!-- Sidebar Collapse -->
			#sidebar-collapse(ng-click="toggleCompactMenu()" ng-class="{'active': menucompacto, 'sidebar-collapse': true}"
				uib-tooltip="Esconder menú lateral")
				i.collapse-icon.fa.fa-bars
			<!-- /Sidebar Collapse -->


			<!-- Account Area and Settings -->
			.navbar-header.pull-right
				.navbar-account
					ul.account-area

						<!-- Periodo Dropdown-->
						li.dropdown-periodos(my-drop-down ng-click="toggleOpen()" is-open="false")
							a.dropdown-toggle.link-dropdown-periodos.wave.in(data-toggle="dropdown" title="Tasks" href="")
								i.icon.fa.fa-ioxhost  Per{{ USER.numero_periodo }}
								span.badge
							ul.pull-right.dropdown-menu.dropdown-tasks.dropdown-arrow
								li.dropdown-header.bordered-blueberry
									i.fa.fa-ioxhost
									span Periodos
								li(ng-repeat="periodo in periodos")
									a(href="" ng-click="cambiarPeriodo(periodo)")
										.clearfix
											span.pull-left Periodo {{ periodo.numero }}
											.pull-right(ng-show="periodo.actual") En curso

									div(ng-if="false")
										span.pull-right 65%
										.progress.progress-xs
											.progress-bar(style="width:65%")
										.progress.progress-xs
											.progress-bar.progress-bar-success(style="width:05%")

						<!--/ Periodo Dropdown-->

						li(my-drop-down ng-click="toggleOpen()" is-open="false" evitar-cierre="true")
							a.dropdown-toggle(data-toggle="dropdown" title="Año" href="")
								i.icon  {{ USER.year }}
							<!-- Año Dropdown-->
							ul.pull-right.dropdown-menu.dropdown-arrow.dropdown-notifications
								li(ng-repeat="year in years")
									a(href="" ng-click="cambiarYear(year)")
										.clearfix
											.notification-icon
												i.fa.fa-check.bg-themeprimary.white(ng-if="year.actual")
												i.fa.bg-warning.white(ng-if="!year.actual")
											.notification-body
												span.title {{year.year}}
											.notification-extra
												i.fa.fa-calendar(ng-if="year.actual")  En curso
												i.fa.fa-clock-o.themeprimary(ng-if="year.actual")
												i.fa.fa-clock-o.darkorange(ng-if="!year.actual")

								li.dropdown-footer
									span Hoy, {{::date | date:"EEEE dd ' de ' MMMM"}}
							<!--/ Año Dropdown-->

						li(my-drop-down ng-click="toggleOpen()" is-open="false" evitar-cierre="true" ng-if="false")
							a.dropdown-toggle(data-toggle="dropdown" title="Ayuda" href="")
								i.icon.fa.fa-warning
							<!--Notification Dropdown-->
							ul.pull-right.dropdown-menu.dropdown-arrow.dropdown-notifications
								li
									a(href="")
										.clearfix
											.notification-icon
												i.fa.fa-phone.bg-themeprimary.white
											.notification-body
												span.title Llamada de Miguel
												span.description 01:00 pm
											.notification-extra
												i.fa.fa-clock-o.themeprimary
												spa.description oficina
								li
									a(href="")
										.clearfix
											.notification-icon
												i.fa.fa-check.bg-darkorange.white
											.notification-body
												span.title Periodo 3 habilitado
												span.description 10 ene - 15 mar
											.notification-extra
												i.fa.fa-clock-o.darkorange
								li
									a(href="")
										.clearfix
											.notification-icon
												i.fa.fa-gift.bg-warning.white
											.notification-body
												span.title Cumple Venus Ibica
												span.description 08:30 pm
											.notification-extra
												i.fa.fa-calendar Atención
												i.fa.fa-clock-o.warning
												span.description En el colegio
								li
									a(href="")
										.clearfix
											.notification-icon
												i.fa.fa-glass.bg-success.white
											.notification-body
												span.title Fin del periodo 2
												span.description 10:30 pm
								li.dropdown-footer
									span Hoy, Enero 17
									span.pull-right 10°c
										i.wi.wi-cloudy
							<!--/Notification Dropdown-->
						li(my-drop-down ng-click="toggleOpen()" is-open="false" ng-if="false")
							a.wave.in.dropdown-toggle(data-toggle="dropdown" title="Mensajes" href="")
								i.icon.fa.fa-envelope
								span.badge 3
							<!--Messages Dropdown-->
							ul.pull-right.dropdown-menu.dropdown-arrow.dropdown-messages
								li
									a(href="")
										img(ng-src="images/perfil/default_male.jpg" class="message-avatar" alt="Armando Maradona")
										div.message
											span.message-sender Armando Maradona
											span.message-time Hace 2 minutos
											span.message-subject La mano de Dios
											span.message-body Me parece increíble que me hayan valido ese gol de la mano de oro, que arbitro tan tonto.
								li
									a(href="")
										img(ng-src="images/perfil/default_female.png" class="message-avatar" alt="Administrador LAL")
										div.message
											span.message-sender Administrador LAL
											span.message-time Ayer
											span.message-subject Documento actualizado
											span.message-body Le adjunto el documento acerca de lo que usted quiera, ya que no sé que copiar.
								li
									a(href="")
										img(ng-src="images/perfil/default_male.jpg" class="message-avatar" alt="Nicolás")
										div.message
											span.message-sender Nicolás
											span.message-time Viernes, Enero 2
											span.message-subject Mira esta camara
											span.message-body Esta cámara es muy bacana!! el problema es que no la han inventado, por lo que yo estoy copiando barrabasadas :)
							<!--/Messages Dropdown-->

						li(my-drop-down ng-click="toggleOpen()" is-open="false" ng-if="false")
							a.dropdown-toggle(data-toggle="dropdown" title="Tasks" href="")
								i.icon.fa.fa-tasks
								span.badge
							<!--Tasks Dropdown-->
							ul.pull-right.dropdown-menu.dropdown-tasks.dropdown-arrow
								li.dropdown-header.bordered-darkorange
									i.fa.fa-tasks 4 Tareas en proceso
								li
									a(href="")
										.clearfix
											span.pull-left Notas del periodo
											span.pull-right 65%
										.progress.progress-xs
											.progress-bar(style="width:65%")
								li
									a(href="")
										.clearfix
											span.pull-left Datos personales
											span.pull-right 35%
										.progress.progress-xs
											.progress-bar.progress-bar-success(style="width:35%")

							<!--/Tasks Dropdown-->

						<!--  Área de usuario -->
						li(my-drop-down ng-click="toggleOpen()" is-open="false" evitar-cierre="login-area-noclose")
							a.login-area.dropdown-toggle.animated.bounceIn(data-toggle="dropdown" style="animation-delay: 1s;")
								.avatar(title="Ver tu perfil público")
									img(ng-src="{{ imagenPrincipal }}")
								section
									h2
										span.profile
											span {{nameToShow()}}
							<!--Login Area Dropdown-->
							ul.pull-right.dropdown-menu.dropdown-arrow.dropdown-login-area#login-area-noclose
								li.username
									a {{currentUser.username}}
								li.email
									a {{currentUser.email}}
								<!--Avatar Area-->
								li
									.avatar-area
										img.avatar(ng-src="{{ imagenOficial }}")
										span.caption(ng-click="goFileManager()") Cambiar fotos
								<!--Avatar Area-->
								li.edit
									a.pull-left(ui-sref='panel.user.resumen({username: usuario()})') Perfil
									a.pull-right(ui-sref='panel.user.configuracion({username: usuario()})') Configuración

								li.dropdown-footer
									a(href="" ng-click="logout()") Cerrar sesión
							<!--/Login Area Dropdown-->
						<!-- /Account Area -->
						<!--Note: notice that setting div must start right after account area list. no space must be between these elements-->
						<!-- Settings -->

						li( ng-click="logout()")
							a.dropdown-toggle(title="Salir" href="")
								i.icon.fa.fa-sign-out  Salir


			<!-- /Account Area and Settings -->
<!-- /Navbar -->

<!-- Main Container -->
.main-container.container-fluid
	<!-- Page Container -->
	.page-container





		<!-- Sidebar Menu ************************************* -->
		sidebar-menu(ng-class="{'menu-compact': menucompacto, 'page-sidebar': true}")
		<!-- /Sidebar Menu ************************************ -->





		<!-- /Page Sidebar -->

		<!-- Page Content -->
		.page-content

			<!-- Page Breadcrumb -->
			ui-breadcrumbs.hidden-print(displayname-property="data.displayName")
			<!-- /Page Breadcrumb -->

			<!-- Page Header  ************************************* -->

			.page-header.position-relative.hidden-print(ui-view="headerContent")

				.header-title
					h6
						a(href="" ng-click="verPoliticasPrivacidad()") Ver políticas de privacidad

			<!-- /Page Header ************************************* -->

			<!-- Page Body -->
			// Con esto quito espacios para el contenedor cuando sea el estado actividades
			.page-body.margin-padding-lados-xs(withpadding-dir)


				<!-- Main Content ************************************* -->



				div(ui-view="maincontent")

					anuncios-dir


					br
					br

					//h3 Entra a los resultados:
					//button.btn.btn-primary.btn-lg(ui-sref="panel.actividades.votaciones.resultados()") VOTACIONES




				<!-- /Main Content ************************************ -->

		<!-- /Page Content -->

	<!-- /Page Container -->
<!-- /Main Container -->
