
<div class="row hidden-print">
  <div class="col-lg-12 margin-padding-lados-xs">
    <div class="well with-header with-footer animated bounceIn">
      <div class="header bordered-yellow"><span style="font-size: 12pt" ng-show="dato.grupo.nombre">{{dato.grupo.nombre + ' - ' + dato.grupo.abrev}}</span><span style="font-size: 12pt" ng-show="!dato.grupo.nombre">Seleccione grupo</span><a ui-sref="panel.ordinales" uib-tooltip="Ordinales del manual de convivencia" style="float: right;" class="btn btn-default shiny"><i class="fa fa-file"></i><span class="hidden-xs">  Ordinales</span></a></div>
      <div class="form-group flipInY animated">
        <selector-grupo-dir></selector-grupo-dir>
      </div>
      <button ng-class="{'active': inmovible_activado==true}" ng-click="toggleInmovible()" uib-tooltip="Ver la columna nombre siempre. (el diseño aún está en construcción pero ya es funcional)" class="btn btn-default"><span style="padding-right: 3px">Nombre inmovible</span><i class="fa fa-map-marker"></i></button>
      <button ng-click="irComportamientoGrupo()" uib-tooltip="Ir al comportamiento hecho por el titular" class="btn btn-primary"><span style="padding-right: 3px">Ir a comportamiento {{grupo.nombre}}</span></button>
      <div style="overflow: auto; padding-top: 10px;" class="row">
        <div class="col-xs-12">
          <div ng-show="datos.grupo.nombre" fixed-column-table fixed-columns="2" class="table-responsive">
            <table ng-class="{ inmovible: inmovible_activado }" class="table table-hover table-condensed table-striped tablenot100">
              <thead>
                <tr>
                  <th style="width: 20px;" class="cross">
                    <div>No</div>
                  </th>
                  <th style="min-width: 50px;" class="cross text-center border-right-dddd">
                    <div>Nombres</div>
                  </th>
                  <th style="min-width: 180px;" class="border-right-dddd">
                    <div uib-tooltip="Periodo 1" tooltip-popup-delay="500" tooltip-append-to-body="true" class="text-center nombresellipsis">Periodo 1</div>
                  </th>
                  <th style="min-width: 180px;" class="border-right-dddd">
                    <div uib-tooltip="Periodo 2" tooltip-popup-delay="500" tooltip-append-to-body="true" class="text-center nombresellipsis">Periodo 2</div>
                  </th>
                  <th style="min-width: 180px;" class="border-right-dddd">
                    <div uib-tooltip="Periodo 3" tooltip-popup-delay="500" tooltip-append-to-body="true" class="text-center nombresellipsis">Periodo 3</div>
                  </th>
                  <th style="min-width: 180px;" class="border-right-dddd">
                    <div uib-tooltip="Periodo 4" tooltip-popup-delay="500" tooltip-append-to-body="true" class="text-center nombresellipsis">Periodo 4</div>
                  </th>
                  <th ng-if="false">
                    <div uib-tooltip="Promedio de las notas automáticas">Definitiva</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="alumno in alumnos | filter:searchAlum | orderBy:['apellidos', 'nombres']">
                  <td class="fixed-cell">
                    <div>{{$index+1}}</div>
                  </td>
                  <td style="padding: 0 5px;" class="fixed-cell border-right-dddd">
                    <div uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-trigger="'mouseenter'" popover-popup-delay="500" popover-append-to-body="true" ng-style="alumno.estado=='ASIS' ? {'font-style': 'italic'} : {}" class="nombresellipsis"><img ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 30px; height: 30px;">{{alumno.apellidos + ' ' + alumno.nombres}}<span ng-show="alumno.estado=='ASIS'" style="font-size: 8pt">(Asis)</span></div>
                  </td>
                  <td class="border-right-dddd">
                    <div class="btn-group posi-unset">
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per1_unifor')" uib-tooltip="Deficiencias en el uniforme" class="btn btn-warning shiny posi-unset padding-lr-6"><i class="fa fa-user"></i>{{ alumno.uniformes_per1.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per1_tard')" uib-tooltip="Llegadas tarde a la institución" class="btn btn-warning posi-unset padding-lr-6"><i class="fa fa-clock-o"></i>{{ alumno.tardanzas_per1.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per1_t1')" uib-tooltip="{{ config.faltas_tipo1_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per1_cant_t1 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per1_t2')" uib-tooltip="{{ config.faltas_tipo2_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per1_cant_t2 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per1_t3')" uib-tooltip="{{ config.faltas_tipo3_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per1_cant_t3 }}</button>
                    </div>
                    <button uib-tooltip="Crear falta" style="margin-top: -3px;" ng-click="crearFalta(alumno, alumno.periodo1, 1)" class="btn btn-success posi-unset btn-xs shiny"><i class="fa fa-plus"></i></button>
                    <!-- FATAS DETALLADAS PER 1-->
                    <!-- Uniformes-->
                    <div ng-if="alumno.mostrando_per1_unifor" style="background-color: #ffe586" ng-click="verUniformesModal(alumno, 1)" class="faltas-detalle-box">
                      <div class="title-faltas">Uniforme / Cam</div>
                      <div ng-repeat="uniforme in alumno.uniformes_per1" style="padding: 4px; border: 1px solid #888; border-radius: 4px; background-color: #e8f7fb; margin-right: 3px" uib-tooltip="{{uniforme.materia}}"><span>{{ uniforme.fecha_hora | date:'d MMM' }} </span>
                        <div ng-show="uniforme.excusado" uib-tooltip="Excusado" class="badge badge-success">Excusa<i class="fa fa-check"> </i></div>
                        <div ng-show="uniforme.camara" uib-tooltip="Sin cámara" class="badge badge-primary">Cam<i class="fa fa-camera"> </i></div>
                        <div ng-show="uniforme.contrario" uib-tooltip="Contrario" class="badge badge-primary">Contrar</div>
                        <div ng-show="uniforme.sin_uniforme" uib-tooltip="Sin uniforme" class="badge badge-primary">Sin uni</div>
                        <div ng-show="uniforme.incompleto" uib-tooltip="Incompleto" class="badge badge-primary">Incompl</div>
                        <div ng-show="uniforme.cabello" uib-tooltip="Cabello" class="badge badge-primary">Cabello</div>
                        <div ng-show="uniforme.accesorios" uib-tooltip="Accesorios" class="badge badge-primary">Accesor</div>
                      </div>
                    </div>
                    <!-- Tardanzas-->
                    <div ng-if="alumno.mostrando_per1_tard" style="background-color: #ffe586" class="faltas-detalle-box">
                      <div class="title-faltas">Tardanzas</div>
                      <button ng-repeat="tardanza in alumno.tardanzas_per1" ng-click="clickTardanzaObject(tardanza, alumno)" uib-popover-template="views+'notas/popoverTardanzaObject.tpl.html'" popover-title="Editar tardanza" style="width: 55px" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-is-open="tardanza.isOpen" ng-disabled="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')" class="btn btn-xs"><span ng-hide="tardanza.fecha_hora"><i class="fa fa-clock-o"></i></span><span ng-show="tardanza.fecha_hora">{{ tardanza.fecha_hora | date:'d MMM' }}</span></button>
                    </div>
                    <!-- Faltas-->
                    <div ng-if="alumno.mostrando_per1_t1" ng-click="verFaltasModal(alumno, alumno.periodo1, 1, 1)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo1_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo1 | filter:{'tipo_situacion': 1}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per1_t2" ng-click="verFaltasModal(alumno, alumno.periodo1, 1, 2)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo2_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo1 | filter:{'tipo_situacion': 2}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per1_t3" ng-click="verFaltasModal(alumno, alumno.periodo1, 1, 3)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo3_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo1 | filter:{'tipo_situacion': 3}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                  </td>
                  <td class="border-right-dddd">
                    <div class="btn-group posi-unset">
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per2_unifor')" uib-tooltip="Deficiencias en el uniforme" class="btn btn-warning shiny posi-unset padding-lr-6"><i class="fa fa-user"></i>{{ alumno.uniformes_per2.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per2_tard')" uib-tooltip="Llegadas tarde a la institución" class="btn btn-warning posi-unset padding-lr-6"><i class="fa fa-clock-o"></i>{{ alumno.tardanzas_per2.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per2_t1')" uib-tooltip="{{ config.faltas_tipo1_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per2_cant_t1 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per2_t2')" uib-tooltip="{{ config.faltas_tipo2_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per2_cant_t2 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per2_t3')" uib-tooltip="{{ config.faltas_tipo3_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per2_cant_t3 }}</button>
                    </div>
                    <button uib-tooltip="Crear falta" style="margin-top: -3px" ng-click="crearFalta(alumno, alumno.periodo2, 2)" class="btn btn-success posi-unset btn-xs shiny"><i class="fa fa-plus"></i></button>
                    <!-- FATAS DETALLADAS PER 2-->
                    <!-- Uniformes-->
                    <div ng-if="alumno.mostrando_per2_unifor" style="background-color: #ffe586" ng-click="verUniformesModal(alumno, 2)" class="faltas-detalle-box">
                      <div class="title-faltas">Uniformes</div>
                      <button ng-repeat="uniforme in alumno.uniformes_per2" style="width: 55px" ng-disabled="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')" class="btn btn-xs"><span ng-hide="uniforme.fecha_hora"><i class="fa fa-user"></i></span><span ng-show="uniforme.fecha_hora">{{ uniforme.fecha_hora | date:'d MMM' }}</span></button>
                    </div>
                    <!-- Tardanzas-->
                    <div ng-if="alumno.mostrando_per2_tard" style="background-color: #ffe586" class="faltas-detalle-box">
                      <div class="title-faltas">Tardanzas</div>
                      <button ng-repeat="tardanza in alumno.tardanzas_per2" ng-click="clickTardanzaObject(tardanza, alumno)" uib-popover-template="views+'notas/popoverTardanzaObject.tpl.html'" popover-title="Editar tardanza" style="width: 55px" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-is-open="tardanza.isOpen" ng-disabled="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')" class="btn btn-xs"><span ng-hide="tardanza.fecha_hora"><i class="fa fa-clock-o"></i></span><span ng-show="tardanza.fecha_hora">{{ tardanza.fecha_hora | date:'d MMM' }}</span></button>
                    </div>
                    <div ng-if="alumno.mostrando_per2_t1" ng-click="verFaltasModal(alumno, alumno.periodo2, 2, 1)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo1_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo2 | filter:{'tipo_situacion': 1}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per2_t2" ng-click="verFaltasModal(alumno, alumno.periodo2, 2, 2)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo2_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo2 | filter:{'tipo_situacion': 2}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per2_t3" ng-click="verFaltasModal(alumno, alumno.periodo2, 2, 3)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo3_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo2 | filter:{'tipo_situacion': 3}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                  </td>
                  <td class="border-right-dddd">
                    <div class="btn-group posi-unset">
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per3_unifor')" uib-tooltip="Deficiencias en el uniforme" class="btn btn-warning shiny posi-unset padding-lr-6"><i class="fa fa-user"></i>{{ alumno.uniformes_per3.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per3_tard')" uib-tooltip="Llegadas tarde a la institución" class="btn btn-warning posi-unset padding-lr-6"><i class="fa fa-clock-o"></i>{{ alumno.tardanzas_per3.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per3_t1')" uib-tooltip="{{ config.faltas_tipo1_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per3_cant_t1 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per3_t2')" uib-tooltip="{{ config.faltas_tipo2_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per3_cant_t2 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per3_t3')" uib-tooltip="{{ config.faltas_tipo3_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per3_cant_t3 }}</button>
                    </div>
                    <button uib-tooltip="Crear falta" style="margin-top: -3px" ng-click="crearFalta(alumno, alumno.periodo3, 3)" class="btn btn-success posi-unset btn-xs shiny"><i class="fa fa-plus"></i></button>
                    <!-- FATAS DETALLADAS PER 3-->
                    <!-- Uniformes-->
                    <div ng-if="alumno.mostrando_per3_unifor" style="background-color: #ffe586" ng-click="verUniformesModal(alumno, 3)" class="faltas-detalle-box">
                      <div class="title-faltas">Uniformes</div>
                      <button ng-repeat="uniforme in alumno.uniformes_per3" style="width: 55px" ng-disabled="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')" class="btn btn-xs"><span ng-hide="uniforme.fecha_hora"><i class="fa fa-user"></i></span><span ng-show="uniforme.fecha_hora">{{ uniforme.fecha_hora | date:'d MMM' }}</span></button>
                    </div>
                    <!-- Tardanzas-->
                    <div ng-if="alumno.mostrando_per3_tard" style="background-color: #ffe586" class="faltas-detalle-box">
                      <div class="title-faltas">Tardanzas</div>
                      <button ng-repeat="tardanza in alumno.tardanzas_per3" ng-click="clickTardanzaObject(tardanza, alumno)" uib-popover-template="views+'notas/popoverTardanzaObject.tpl.html'" popover-title="Editar tardanza" style="width: 55px" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-is-open="tardanza.isOpen" ng-disabled="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')" class="btn btn-xs"><span ng-hide="tardanza.fecha_hora"><i class="fa fa-clock-o"></i></span><span ng-show="tardanza.fecha_hora">{{ tardanza.fecha_hora | date:'d MMM' }}</span></button>
                    </div>
                    <div ng-if="alumno.mostrando_per3_t1" ng-click="verFaltasModal(alumno, alumno.periodo3, 3, 1)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo1_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo3 | filter:{'tipo_situacion': 1}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per3_t2" ng-click="verFaltasModal(alumno, alumno.periodo3, 3, 2)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo2_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo3 | filter:{'tipo_situacion': 2}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per3_t3" ng-click="verFaltasModal(alumno, alumno.periodo3, 3, 3)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo3_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo3 | filter:{'tipo_situacion': 3}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                  </td>
                  <td class="border-right-dddd">
                    <div class="btn-group posi-unset">
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per4_unifor')" uib-tooltip="Deficiencias en el uniforme" class="btn btn-warning shiny posi-unset padding-lr-6"><i class="fa fa-user"></i>{{ alumno.uniformes_per4.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per4_tard')" uib-tooltip="Llegadas tarde a la institución" class="btn btn-warning posi-unset padding-lr-6"><i class="fa fa-clock-o"></i>{{ alumno.tardanzas_per4.length }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per4_t1')" uib-tooltip="{{ config.faltas_tipo1_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per4_cant_t1 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per4_t2')" uib-tooltip="{{ config.faltas_tipo2_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per4_cant_t2 }}</button>
                      <button ng-click="toggleMostrarDetalle(alumno, 'mostrando_per4_t3')" uib-tooltip="{{ config.faltas_tipo3_displayname }}" class="btn btn-default posi-unset padding-lr-6">{{ alumno.per4_cant_t3 }}</button>
                    </div>
                    <button uib-tooltip="Crear falta" style="margin-top: -3px" ng-click="crearFalta(alumno, alumno.periodo4, 4)" class="btn btn-success posi-unset btn-xs shiny"><i class="fa fa-plus"></i></button>
                    <!-- FATAS DETALLADAS PER 4-->
                    <!-- Uniformes-->
                    <div ng-if="alumno.mostrando_per4_unifor" style="background-color: #ffe586" ng-click="verUniformesModal(alumno, 4)" class="faltas-detalle-box">
                      <div class="title-faltas">Uniformes</div>
                      <button ng-repeat="uniforme in alumno.uniformes_per4" style="width: 55px" ng-disabled="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')" class="btn btn-xs"><span ng-hide="uniforme.fecha_hora"><i class="fa fa-user"></i></span><span ng-show="uniforme.fecha_hora">{{ uniforme.fecha_hora | date:'d MMM' }}</span></button>
                    </div>
                    <!-- Tardanzas-->
                    <div ng-if="alumno.mostrando_per4_tard" style="background-color: #ffe586" class="faltas-detalle-box">
                      <div class="title-faltas">Tardanzas</div>
                      <button ng-repeat="tardanza in alumno.tardanzas_per4" ng-click="clickTardanzaObject(tardanza, alumno)" uib-popover-template="views+'notas/popoverTardanzaObject.tpl.html'" popover-title="Editar tardanza" style="width: 55px" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-is-open="tardanza.isOpen" ng-disabled="::USER.profes_pueden_editar_notas==0 &amp;&amp; !hasRoleOrPerm('Admin')" class="btn btn-xs"><span ng-hide="tardanza.fecha_hora"><i class="fa fa-clock-o"></i></span><span ng-show="tardanza.fecha_hora">{{ tardanza.fecha_hora | date:'d MMM' }}</span></button>
                    </div>
                    <div ng-if="alumno.mostrando_per4_t1" ng-click="verFaltasModal(alumno, alumno.periodo4, 4, 1)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo1_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo4 | filter:{'tipo_situacion': 1}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per4_t2" ng-click="verFaltasModal(alumno, alumno.periodo4, 4, 2)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo2_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo4 | filter:{'tipo_situacion': 2}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                    <div ng-if="alumno.mostrando_per4_t3" ng-click="verFaltasModal(alumno, alumno.periodo4, 4, 3)" class="faltas-detalle-box">
                      <div class="title-faltas">{{ config.faltas_tipo3_displayname }}</div>
                      <div ng-repeat="falta in alumno.periodo4 | filter:{'tipo_situacion': 3}" style="border-bottom: 1px solid #aaa;"><span style="font-weight: bold">{{ falta.fecha_corta }}:</span> {{ falta.descripcion }}</div>
                    </div>
                  </td>
                  <td ng-if="false" class="border-right-dddd">
                    <div class="text-center">No sé</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><br><br>
      <button ng-click="verSituacionesPorGrupos()" uib-tooltip="Listado de alumnos con situaciones por grados" class="btn btn-default">Situaciones por grupo</button>
      <button ng-click="verObservadorPeriodo()" uib-tooltip="Ver el observador del grupo del periodo" class="btn btn-default">Observador por periodo</button>
      <button ng-click="verObservadorCompleto()" uib-tooltip="Ver el observador del grupo en el año" class="btn btn-default">Observador completo </button>
      <hr class="wide">
      <h5>Orientación de la página:</h5>
      <div class="control-group">
        <div class="radio">
          <label>
            <input type="radio" ng-model="config_infor.orientacion" value="oficio_horizontal">
            <div class="text">Oficio Horizontal</div>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="config_infor.orientacion" value="carta_horizontal">
            <div class="text">Carta horizontal</div>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="config_infor.orientacion" value="vertical">
            <div class="text">Vertical</div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view="report_content" class="informes-pages altura-informe">
  <h5 style="text-align: center">Aquí saldrán tus reportes</h5>
</div>