
<div uib-tooltip="Seleccione si esta falta se pondrá por haber llegado muchas veces tarde al colegio." class="form-group">
  <label>Deriva de tardanzas</label>
  <label>
    <input type="checkbox" ng-change="cambiarValorFalla(falta_new, 'deriva_de_tardanzas', falta_new.deriva_de_tardanzas)" ng-true-value="1" ng-false-value="0" ng-model="falta_new.deriva_de_tardanzas" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
  </label>
</div>
<div ng-if="falta_new.tipo_situacion &gt; 1" class="form-group">
  <div ng-show="config.reinicia_por_periodo==0" class="faltas-deriva-edit">
    <!-- Las del primer periodo siempre salen en cualquier periodo-->
    <div>Deriva de las siguientes faltas (PERIODO 1):</div>
    <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
    <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
      <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo1 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per1 - t{{situac.tipo_situacion}}: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
    </div>
    <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
      <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo1 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per1 - t{{situac.tipo_situacion}}: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t2: {{ situac.descripcion }}</label>
    </div>
    <div ng-show="alumno.periodo1.length==0" class="italic">No tiene faltas en el periodo 1</div>
    <!-- Las faltas del periodo 2 aparecerán en el periodo 2, 3 y 4-->
    <div ng-if="periodo.numero&gt;1">
      <div>Deriva de las siguientes faltas (PERIODO 2):</div>
      <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
      <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo2 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per2 - t1: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo2 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per2 - t2: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t2: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="alumno.periodo2.length==0">No tiene faltas en el periodo 2</div>
    </div>
    <!-- Las faltas del periodo 3 aparecerán en el periodo 3 y 4-->
    <div ng-if="periodo.numero&gt;2">
      <div>Deriva de las siguientes faltas (PERIODO 3):</div>
      <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
      <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo3 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per3 - t1: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo3 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per3 - t2: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t2: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="alumno.periodo3.length==0">No tiene faltas en el periodo 3</div>
    </div>
    <!-- Las faltas del periodo 4 solo aparecerán en el periodo 4-->
    <div ng-if="periodo.numero==4">
      <div>Deriva de las siguientes faltas (PERIODO 4):</div>
      <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
      <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo4 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per4 - t1: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo4 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per4 - t2: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t2: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="alumno.periodo4.length==0">No tiene faltas en el periodo 3</div>
    </div>
  </div>
  <div ng-show="config.reinicia_por_periodo==1" class="faltas-deriva-edit">
    <div ng-if="periodo.numero==1">
      <div>Deriva de las siguientes faltas (PERIODO 1):</div>
      <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
      <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo1 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per1 - t1: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo1 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per1 - t2: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t2: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="alumno.periodo1.length==0">No tiene faltas en el periodo 1</div>
    </div>
    <div ng-if="periodo.numero==2">
      <div>Deriva de las siguientes faltas (PERIODO 2):</div>
      <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
      <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo2 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per2 - t1: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo2 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per2 - t2: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t2: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="alumno.periodo2.length==0">No tiene faltas en el periodo 2</div>
    </div>
    <div ng-if="periodo.numero==3">
      <div>Deriva de las siguientes faltas (PERIODO 3):</div>
      <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
      <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo3 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per3 - t1: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo3 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per3 - t2: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-derivar">t2: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="alumno.periodo3.length==0">No tiene faltas en el periodo 3</div>
    </div>
    <div ng-if="periodo.numero==4">
      <div>Deriva de las siguientes faltas (PERIODO 3):</div>
      <!-- Si es tipo 2 o 3, siempre mostramos las tipo 1-->
      <div ng-show="falta_new.tipo_situacion==2" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo4 | filter:{ 'tipo_situacion': 1, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per4 - t1: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t1: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="falta_new.tipo_situacion==3" class="btn-group">
        <label ng-model="situac.seleccionado" ng-repeat="situac in alumno.periodo4 | filter:{ 'tipo_situacion': 2, 'become_id': null }" uib-btn-checkbox uib-tooltip="Per4 - t2: {{situac.descripcion}}" class="btn btn-sucess shiny label-falta-deriva">t2: {{ situac.descripcion }}</label>
      </div>
      <div ng-show="alumno.periodo4.length==0">No tiene faltas en el periodo 4</div>
    </div>
  </div>
</div>