
<div class="modal-header">
  <h3 class="modal-title">Detalle de falta</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div style="border-left: 5px solid #4caf50; border-right: 5px solid #4caf50" class="col-lg-12 col-xs-12">
      <div ng-show="!alumno.creandoUniforme" style="border: 1px solid #bbb; background-color: #f9f5d5" class="row">
        <div style="padding-bottom: 10px; padding-top: 10px;" class="col-sm-12 col-xs-2 no-padding-xs">
          <button type="button" ng-click="verAgregarUniforme(alumno)" class="btn btn-default"><i class="fa fa-plus"></i>Agregar falla de uniforme</button>
        </div>
      </div>
      <div ng-show="alumno.creandoUniforme" style="border: 1px solid #bbb; background-color: #f9f5d5; padding-bottom:10px;" class="row">
        <div style="padding-top: 10px" class="col-sm-10 col-xs-12">
          <div style="display: block;" class="btn-group">
            <label ng-model="alumno.new_uni.camara" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary"> <i class="fa fa-camera"></i>Cámara</label>
            <label ng-model="alumno.new_uni.contrario" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Contrario</label>
            <label ng-model="alumno.new_uni.sin_uniforme" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Sin uniforme</label>
            <label ng-model="alumno.new_uni.incompleto" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Incompleto</label>
            <label ng-model="alumno.new_uni.cabello" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Cabello</label>
            <label ng-model="alumno.new_uni.accesorios" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Accesorios</label>
          </div>
        </div>
        <div style="padding-top: 10px" class="col-sm-2 col-xs-12">
          <button type="button" ng-model="alumno.new_uni.excusado" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" class="btn btn-info shiny">
             
            Excusado<i ng-show="alumno.new_uni.excusado" class="fa fa-check"></i>
          </button>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div style="margin-top: 28px;" class="controls">
            <div class="input-group"><span ng-click="alumno.new_uni.isOpen = true" class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <!--input.form-control.active(type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="alumno.new_uni.fecha_hora"
              is-open="alumno.new_uni.isOpen" alt-input-formats="['M!/d!/yyyy', 'yyyy-M!-d!', 'M!-d!-yyyy', 'yyyy/M!/d!']"
              ng-click="alumno.new_uni.isOpen = true" close-text="Aceptar" current-text="Hoy" clear-text="Borrar"
              placeholder="Escribe 'MM-dd-yyyy' o 'yyyy-dd-MM'" style="padding: 6px 2px;"
              datepicker-append-to-body="true")
              -->
              <input type="date" ng-model="alumno.new_uni.fecha_hora" placeholder="Escribe 'MM-dd-yyyy'" style="padding: 6px 2px;" class="form-control active">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-6 no-padding">
          <div uib-timepicker ng-model="alumno.new_uni.fecha_hora" meridians="['AM', 'PM']"></div>
        </div>
        <div class="col-sm-12 col-xs-12 form-group definicion-add-unidad">
          <label class="sr-only">Escriba descripción</label>
          <textarea ng-model="alumno.new_uni.descripcion" placeholder="Escriba una descrición, descargo, etc." uib-tooltip="Descripción" tooltip-popup-delay="500" style="height: 50px; width: 100%;" class="form-control"></textarea>
        </div>
        <div class="col-sm-12 col-xs-6 center">
          <button ng-click="cancelarGuardarUniforme(alumno)" type="button" class="btn btn-default shiny">Cancelar</button>
          <button ng-click="guardarUniforme(alumno)" type="button" class="btn btn-primary shiny">Guardar</button>
        </div>
      </div>
      <div ng-repeat="uniforme in alumno['uniformes_per'+per_num]" style="border: 1px solid #bbb; margin-left: 10px; margin-right: 10px; padding-top: 5px; padding-bottom: 5px;" class="row"><span ng-show="!uniforme.editando">
          <div style="font-size: 7pt; padding-right: 0px;" class="col-sm-1 col-xs-1">{{uniforme.id}} </div>
          <div uib-tooltip="{{ uniforme.descripcion }}" class="col-sm-5 col-xs-11">{{uniforme.fecha_hora | date:'MMM d hh:mm a'}}</div>
          <div class="col-sm-4 col-xs-12">
            <div class="row"><a href="" ng-show="uniforme.excusado" class="badge badge-success">Excusado</a><a href="" ng-show="uniforme.camara" class="badge badge-primary"> <i class="fa fa-camera"></i>Cámara</a><a href="" ng-show="uniforme.contrario" class="badge badge-primary">Contrario</a><a href="" ng-show="uniforme.sin_uniforme" class="badge badge-primary">Sin uniforme</a><a href="" ng-show="uniforme.incompleto" class="badge badge-primary">Incompleto</a><a href="" ng-show="uniforme.cabello" class="badge badge-primary">Cabello</a><a href="" ng-show="uniforme.accesorios" class="badge badge-primary">Accesorios</a></div>
          </div>
          <div class="col-sm-2 col-xs-12 no-padding">
            <button ng-click="editarUniforme(uniforme, alumno)" style="padding-right: 9px;" uib-tooltip="Editar uniforme" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
            <button ng-click="eliminarUniforme(uniforme, alumno)" style="padding-right: 9px;" uib-tooltip="Eliminar uniforme" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
          </div></span>
        <!-- EDITANDO UNIFORME	--><span ng-show="uniforme.editando" style="padding-bottom:10px;">
          <div style="padding-top: 10px; padding-bottom:10px;" class="col-sm-10 col-xs-12">
            <div style="display: block;" class="btn-group">
              <label ng-model="uniforme.camara" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary"> <i class="fa fa-camera"></i>Cámara</label>
              <label ng-model="uniforme.contrario" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Contrario</label>
              <label ng-model="uniforme.sin_uniforme" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Sin uniforme</label>
              <label ng-model="uniforme.incompleto" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Incompleto</label>
              <label ng-model="uniforme.cabello" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Cabello</label>
              <label ng-model="uniforme.accesorios" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox class="btn btn-primary">Accesorios</label>
            </div>
          </div>
          <div style="padding-top: 10px" class="col-sm-2 col-xs-12">
            <button type="button" ng-model="uniforme.excusado" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" class="btn btn-info shiny">
               
              Excusado<i ng-show="uniforme.excusado" class="fa fa-check"></i>
            </button>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div style="margin-top: 28px;" class="controls">
              <div class="input-group"><span ng-click="uniforme.isOpen = true" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="uniforme.fecha_hora" is-open="uniforme.isOpen" alt-input-formats="['M!/d!/yyyy', 'yyyy-M!-d!', 'M!-d!-yyyy', 'yyyy/M!/d!']" ng-click="uniforme.isOpen = true" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Escribe 'MM-dd-yyyy' o 'yyyy-dd-MM'" style="padding: 6px 2px;" class="form-control active">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 no-padding">
            <div uib-timepicker ng-model="uniforme.fecha_hora" meridians="['AM', 'PM']"></div>
          </div>
          <div class="col-sm-12 col-xs-12 form-group definicion-add-unidad">
            <label class="sr-only">Escriba descripción</label>
            <textarea ng-model="uniforme.descripcion" placeholder="Escriba una descrición, descargo, etc." uib-tooltip="Descripción" tooltip-popup-delay="500" style="height: 50px; width: 100%;" class="form-control"></textarea>
          </div>
          <div class="col-sm-12 col-xs-6 center">
            <button ng-click="cancelarGuardarUniformeEditado(uniforme)" type="button" class="btn btn-default shiny">Cancelar</button>
            <button ng-click="guardarUniformeEditado(uniforme, alumno)" type="button" class="btn btn-primary shiny">Actualizar</button>
          </div></span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="ok()" class="btn btn-labeled btn-default">Aceptar<i class="btn-label fa fa-check"></i></button>
</div>