.row.hidden-print(style="background-color: #fff; padding: 10px; padding-bottom: 50px; margin-bottom: 20px;")

    .col-lg-12.col-xs-12
        .row
            .col-sm-6
                .form-group

                    label Imagen (por defecto 'fondo-observador.png')
                    ui-select(ng-model="observ.imagen" on-select="imagenSelect($item, $model)" theme="select2" style="min-width: 300px;")
                        ui-select-match(placeholder="Encabezado" allow-clear="true")
                            img(ng-src="{{perfilPath + $select.selected.nombre}}" style="width:25px; height:25px;")
                            small(ng-bind-html="' ' + $select.selected.nombre ")
                        ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
                            img(ng-src="{{perfilPath + imagen.nombre}}" style="width:25px; height:25px;")
                            small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")
        .row
            .col-sm-2
                .form-group
                    span.input-icon.icon-right(uib-tooltip="Margen superior del contenido")
                        input#encab-margintop-certif.form-control(ng-model="observ.encabezado_margin_top" type='number')
                        i.fa.fa-arrow-up.blue
            .col-sm-2
                .form-group
                    span.input-icon.icon-right(uib-tooltip="Margen izquierdo del contenido")
                        input#encab-marginleft-certif.form-control(ng-model="observ.encabezado_margin_left" type='number')
                        i.fa.fa-arrow-left.blue



div(ng-repeat="alumno in grupo.alumnos" style="min-width: 30cm; background-color: white;")
    div.salto-pagina(style="display: table; min-height: 20cm ; position: relative; " ng-class="{'page-carta-horizontal': $parent.config_infor.orientacion=='carta_horizontal', 'page-oficio-horizontal': ($parent.config_infor.orientacion=='oficio_horizontal' || $parent.config_infor.orientacion=='vertical') }")
        span
            img.encabezado-membrete(ng-src="{{perfilPath + observ.imagen.nombre}}"
                style="width: 36cm; position: absolute" ng-if="observ.imagen.nombre")
        .row
            div(ng-style="{ 'margin-top' : observ.encabezado_margin_top+'px', 'margin-left' : observ.encabezado_margin_left+'px' }")
                .col-lg-12.col-xs-12
                    .row.encabezado-boletin(style="padding-bottom: 0px;")
                        .col-lg-12.col-xs-12(style="padding: 0;")
                            .row
                                .col-lg-2.col-xs-2(ng-if="!observ.imagen")
                                    img.img-responsive.logo-colegio( ng-src="{{perfilPath + year.logo}}" style="width: 150px; margin-top: -35px;")
                                div.title-encabezado-boletin(ng-class="{'col-xs-8': !observ.imagen, 'col-xs-10': observ.imagen}" style=" text-align: center;")
                                    div(style="font-size: 15pt; font-weight: bold;")
                                        | OBSERVADOR DEL ESTUDIANTE PERIODO {{USER.numero_periodo}} - {{ USER.year }}
                                    div(style="font-size: 20pt; font-style: italic; font-weight: bold")
                                        span(style="color: #253383!important;") {{alumno.apellidos}} {{alumno.nombres}}
                                        
                                    .row(style="text-align: left; margin-top: -5px;")
                                        .col-xs-6
                                            | Grado: 
                                            span(style="font-weight: bold") {{ grupo.nombre }}
                                        .col-xs-6(style="height: 18px; overflow: hidden; text-align: right;")
                                            span Titular: {{::grupo.nombres_titular}} {{::grupo.apellidos_titular}}
                                        .col-xs-6
                                            | Dirección: 
                                            span
                                                | {{ alumno.direccion }}
                                        .col-xs-6(style="height: 18px; overflow: hidden; text-align: right;")
                                            | Teléfono: 
                                            span
                                                span(ng-if="::alumno.celular") {{ alumno.celular }}
                                                span(ng-if="::alumno.celular && alumno.telefono")  - 
                                                span(ng-if="::alumno.telefono")  {{ alumno.telefono }}
                                        .col-xs-6
                                            | {{ alumno.tipo_doc_abrev }}: 
                                            span {{ alumno.documento }}
                                    .row(style="text-align: left;")
                                        .col-xs-12
                                            | Acudiente: 
                                            span(ng-show="alumno.acudientes.length > 0") {{ alumno.acudientes[0].nombres }} {{ alumno.acudientes[0].apellidos }}
                                            span(ng-show="alumno.acudientes.length > 1")  - {{ alumno.acudientes[1].nombres }} {{ alumno.acudientes[1].apellidos }}
                                        
                                .col-lg-2.col-xs-2(style="padding: 0; margin-top: -35px;")
                                    img.img-responsive.foto-alumno(style="width: 160px" ng-src="{{perfilPath + alumno.foto_nombre}}" ng-show="::alumno.foto_id")




                            .row(style="margin-top: 4px; ")
                                .col-lg-12.col-xs-12
                                    .row.caja-comportamiento
                                        
                                        .col-xs-6
                                            .panel-comport(style="height: 50vh;")
                                                div.title-panel-comport Seguimiento convivencia
                                                div.body-panel-comport
                                                    // No es necesario el repeat porque solo hay una nota en el periodo, pero por rapidez...
                                                    div(ng-repeat="nota in ::alumno.notas" ng-class="{'bottom-dashed': $last==false}")
                                                        span(style="font-weight: bold") Fecha: {{ ::nota.fecha_fin }}
                                                            div(ng-show="::USER.mostrar_nota_comport_boletin") Nota:
                                                                span(ng-show="::USER.mostrar_nota_comport_boletin" style="padding-left: 10px;")  {{ ::nota.nota }}.
                                                        
                                                        div(style="padding: 10px 0;")  {{ alumno.libro['per' +nota.numero+ '_col1'] }}

                                                        span(ng-show="nota.definiciones.length>0") 
                                                            span(style="font-weight: bold") Más frases:
                                                            ul(style="padding-left: 30px;")
                                                                li(ng-repeat="definicion in nota.definiciones") {{ definicion.frase }}
                                                    
                                        .col-xs-6
                                            .row(style="height: 50vh;")
                                                .col-xs-12.panel-comport(style="margin-bottom: 2%; height: 55%;")
                                                    div.title-panel-comport Seguimiento académico
                                                    div.body-panel-comport
                                                        div(ng-show="::USER.numero_periodo==1")
                                                            span  {{ alumno.libro['per1_col2'] }}
                                                        div(ng-show="::USER.numero_periodo==2")
                                                            span  {{ alumno.libro['per2_col2'] }}
                                                        div(ng-show="::USER.numero_periodo==3")
                                                            span  {{ alumno.libro['per3_col2'] }}
                                                        div(ng-show="::USER.numero_periodo==4")
                                                            span  {{ alumno.libro['per4_col2'] }}
                                                        
                                                
                                                .col-xs-12.panel-comport(style="height: 42%;")
                                                    div.title-panel-comport Fallas y situaciones
                                                    div.body-panel-comport(style="font-size: 8pt;")
                                                        div(ng-repeat="proceso in alumno.periodo1")
                                                            span(style="font-weight: bold") Tipo {{ proceso.tipo_situacion }}
                                                            span  {{ proceso.descripcion }}
                                                        div(ng-repeat="proceso in alumno.periodo2")
                                                            span(style="font-weight: bold") Tipo {{ proceso.tipo_situacion }}
                                                            span  {{ proceso.descripcion }}
                                                        div(ng-repeat="proceso in alumno.periodo3")
                                                            span(style="font-weight: bold") Tipo {{ proceso.tipo_situacion }}
                                                            span  {{ proceso.descripcion }}
                                                        div(ng-repeat="proceso in alumno.periodo4")
                                                            span(style="font-weight: bold") Tipo {{ proceso.tipo_situacion }}
                                                            span  {{ proceso.descripcion }}
                                                                            
                                        


                            .row(style="margin-top: 4px; text-align: center;")
                                .col-lg-12.col-xs-12
                                    | ESTUDIANTE: 
                                    span(style="border-bottom: 1px solid #000; width: 15%; height: 20px; display: inline-block; margin-right: 10px")
                                    | ACUDIENTE: 
                                    span(style="border-bottom: 1px solid #000; width: 15%; height: 20px; display: inline-block; margin-right: 10px")
                                    | TITULAR: 
                                    span(style="border-bottom: 1px solid #000; width: 15%; height: 20px; display: inline-block; margin-right: 10px")
                                    | COORDINADOR: 
                                    span(style="border-bottom: 1px solid #000; width: 15%; height: 20px; display: inline-block; margin-right: 10px")







