.row
	.col-lg-7.col-sm-7.col-xs-12
		div(uib-datepicker ng-model="tardanza_edit.fecha_hora" class="well well-sm" datepicker-options="opts_picker"
			style="margin: 0px;")

	.col-lg-5.col-sm-5.col-xs-12(style="padding: 0px")
		div(uib-timepicker ng-model="tardanza_edit.fecha_hora" ng-change="changed()" )

		button.btn.btn-primary(ng-click="guardarCambioAusencia(tardanza_edit, alumno_aus_tard_edit)")
			| Guardar
		button.btn.btn-default(ng-click="cancelarCambioTardanza(tardanza_edit, alumno_aus_tard_edit)")
			| Cancelar

		button.btn.btn-danger.btn-xs(ng-click="eliminarTardanza(tardanza_edit, alumno_aus_tard_edit)"
			style="margin-top: 10px")

			| Eliminar tardanza
