div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $last==false || !asignatura.alumnos2 }")
	.row
		.col-lg-12.col-xs-12
			.row.encabezado-planilla
				.col-lg-12.col-xs-12
					.row
						.col-lg-2.col-xs-2
							img.img-responsive.logo-colegio.menos-margin(ng-src="{{::perfilPath + year.logo}}" style="width: 70px;")
						.col-lg-8.col-xs-8.title-encabezado-planilla
							.row
								.col-lg-12
									.nombre-colegio
										| {{::year.nombre_colegio + ' - ' + year.abrev_colegio}}
									.descripcion-title
										| Listado de profesores contratados {{::USER.year}}

			.row.body-boletin
				.col-lg-12.col-xs-12.materias(style="padding:0px")
					.materia-item(style="page-break-inside: auto;")
						table.table-bordered.table-bordered2.table-striped.table-striped2
							tr(style="background-color: #99caed !important;")
								th
									| No
								th.text-center
									| Grupo
								th.text-center
									| Docente
								th.text-center(style="font-size: 8pt")
									| Sexo
								th.text-center
									| Usuario
								th.text-center
									| Título
								th.text-center
									| Tipo doc
								th.text-center
									| Documento
								th.text-center
									| Ciudad Docu
								th.text-center
									| Fecha nac
								th.text-center
									| Ciudad nac
								th.text-center
									| Estado civil
								th.text-center
									| Dirección
								th.text-center
									| Celular
								th.text-center
									| Email

							tr.altura-22(ng-repeat="profesor in ::profesores | orderBy:['orden_grupo', 'nombres']" style="font-size: 9pt")
								td.text-center
									| {{$index + 1}}
								td.text-center
									b {{ profesor.grupos }}
								td
									| {{ ::profesor.nombres }} {{ ::profesor.apellidos }}
								td.text-center
									| {{ ::profesor.sexo }}
								td.text-center(style="font-size: 8pt")
									| {{ ::profesor.username }}
								td.text-center
									| {{ ::profesor.titulo }}
								td.text-center
									| {{ ::profesor.abrev }}
								td.text-center
									| {{ ::profesor.num_doc }}
								td.text-center
									| {{ ::profesor.ciudad_doc_nombre }}
								td.text-center
									| {{ ::profesor.fecha_nac }}
								td.text-center
									| {{ ::profesor.ciudad_nac_nombre }}
								td.text-center
									| {{ ::profesor.estado_civil }}
								td.text-center(style="font-size: 8pt")
									| {{ ::profesor.direccion }}
								td.text-center(style="font-size: 8pt")
									| {{ ::profesor.celular }}
								td.text-center(style="font-size: 8pt")
									| {{ ::profesor.email }}
							tr.altura-22(style="height: 17px;")
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td(style="width: 50px")
									| {{::subuni}}




