
<div ng-repeat="alumnoBig in alumnos">
  <div class="boletin-alumno">
    <div ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="row encabezado-boletin">
            <div class="col-lg-12 col-xs-12 no-padding">
              <div class="row">
                <div class="col-lg-2 col-xs-2"><img ng-src="{{ ::perfilPath }}{{ ::year.logo }}" class="img-responsive logo-colegio"></div>
                <div class="col-lg-8 col-xs-8 title-encabezado-boletin">
                  <div class="nombre-colegio">{{ ::year.nombre_colegio }} - {{ ::year.abrev_colegio }}</div>
                  <div class="resolucion-colegio">{{::year.resolucion}}</div>
                  <div class="title-descripcion">Notas actuales de alumno</div>
                </div>
                <div class="col-lg-2 col-xs-2"><img ng-src="{{::perfilPath}}{{::alumnoBig.foto_nombre}}" ng-show="config.mostrar_foto &amp;&amp; alumnoBig.foto_id" class="img-responsive img-thumbnail foto-alumno"></div>
              </div>
              <div class="row descripcion-encabezado">
                <div class="col-lg-6 col-xs-6">
                  <div class="grupo-alumno"><span>Grupo:</span><b class="camel">  {{ ::grupo.nombre_grupo.toLowerCase() }}</b></div>
                  <div uib-popover-template="::views+'informes/infoTitularPop.tpl.html'" popover-popup-delay="500" popover-title="{{::grupo.nombres_profesor}} {{grupo.apellidos_profesor}}" popover-animation="true" popover-trigger="mouseenter" popover-append-to-body="true" class="titular-grupo">Titular: Prof. {{ ::grupo.nombres_profesor }}  {{ ::grupo.apellidos_profesor }}</div>
                </div>
                <div class="col-lg-6 col-xs-6">
                  <h5 class="nombre-alumno">{{::alumnoBig.nombres}} {{::alumnoBig.apellidos}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div ng-repeat="alumno in ::alumnoBig.periodos" ng-if="::alumno.cant_perdidas &gt; 0" class="row body-boletin">
            <div class="col-lg-12 col-xs-12">
              <div class="row">
                <div style="font-size: 13pt; font-weight: bold;" class="col-xs-12 text-center">-------- PERIODO {{ alumno.numero }} --------</div>
                <div class="col-lg-12 col-xs-12 no-padding">
                  <div ng-repeat="asignatura in ::alumno.asignaturas track by $index" ng-hide="::asignatura.cant_perdidas == 0 || (asignatura.manual==1 &amp;&amp; asignatura.nota_asignatura &gt; USER.nota_minima_aceptada) || year.si_recupera_materia_recup_indicador" class="materia-item">
                    <div class="row materia-title">
                      <div uib-popover-template="::views+'informes/infoDocentePop.tpl.html'" popover-popup-delay="500" popover-title="{{::asignatura.nombres_profesor}} {{::asignatura.apellidos_profesor}}" popover-animation="true" popover-trigger="'mouseenter'" popover-append-to-body="true" class="col-lg-9 col-xs-9"><span class="materia-name">{{::asignatura.materia}}</span><span class="materia-profesor camel">  - Prof. {{::asignatura.nombres_profesor.toLowerCase()}} {{ ::asignatura.apellidos_profesor.toLowerCase()}}</span></div>
                      <div style="padding: 0px" class="col-lg-1 col-xs-1"><i class="fa fa-clock-o icon-tardanza"></i><span class="text-tardanza">A:{{::asignatura.total_ausencias}} / T:{{::asignatura.total_tardanzas}}</span></div>
                      <div ng-class="{'nota-perdida': asignatura.nota_asignatura&lt;USER.nota_minima_aceptada &amp;&amp; config.show_rojos}" style="padding: 0px; text-align: center;" class="col-lg-1 col-xs-1">{{ ::asignatura.desempenio }}</div>
                      <div class="col-lg-1 col-xs-1">
                        <div ng-class="{'nota-perdida-bold': asignatura.nota_asignatura&lt;USER.nota_minima_aceptada}">{{ ::asignatura.nota_asignatura }}<span ng-show="::asignatura.manual"> M</span></div>
                      </div>
                    </div>
                    <div class="row unidades-list">
                      <div class="col-lg-12 col-xs-12">
                        <div ng-repeat="unidad in ::asignatura.unidades track by $index" ng-show="::unidad.cant_perdidas &gt; 0" class="row unidades-item">
                          <div class="col-lg-12 col-xs-12">
                            <div class="row">
                              <div class="col-lg-10 col-xs-10 unidad-definicion">{{::unidad.definicion_unidad}}</div>
                              <div class="col-lg-1 col-xs-1 unidad-porc">{{::unidad.porcentaje_unidad}}%</div>
                              <div class="col-lg-1 col-xs-1 unidad-nota">{{::unidad.nota_unidad }}</div>
                            </div>
                            <div ng-repeat="subunidad in ::unidad.subunidades" ng-hide="::subunidad.nota &gt; USER.nota_minima_aceptada" class="row subunidades-list">
                              <div class="col-lg-12 col-xs-12">
                                <div class="row">
                                  <div class="col-lg-9 col-xs-9 subunidad-definicion">{{::$index+1}}. {{::subunidad.definicion_subunidad}}</div>
                                  <div class="col-lg-1 col-xs-1 subunidad-porc">{{::subunidad.porcentaje_subunidad}}%</div>
                                  <div style="font-size: 6pt; line-height: 2; font-weight: bold;" class="col-lg-1 col-xs-1 subunidad-nota no-padding text-center">{{ ::subunidad.desempenio }}</div>
                                  <div class="col-lg-1 col-xs-1 subunidad-nota puntero"><span uib-tooltip="Valor nota: {{::subunidad.valor_nota}}" class="{{::subunidad.clase_perdida}}">{{::subunidad.nota}}</span><span ng-hide="::subunidad.nota &gt; -1" uib-tooltip="Aún sin nota" class="nota-perdida"><i class="fa fa-warning"></i></span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div ng-show="::asignatura.frases.length&gt;0" class="row comentarios-asignatura">
                          <div class="col-lg-12 col-xs-12">
                            <div class="comentario-title"><i style="padding-right: 5px;" class="fa fa-comments-o"></i>Observaciones</div>
                            <div ng-repeat="frase in ::asignatura.frases" class="row comentario-item">{{::frase.frase}}<span ng-show="::frase.frase_id" class="tipo-frase">- {{::frase.tipo_frase}}</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-xs-2"><span>{{::unidad.nota_unidad}}</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row comportamiento-boletin">
                <div class="col-lg-12 col-xs-12"><span dynamic="::alumno.encabezado_comportamiento"></span>
                  <div class="row comportamiento-body">
                    <div class="col-lg-12 col-xs-12 comportamiento-frases">
                      <div style="border-bottom: 1px solid #666; text-align: center; padding-bottom: 3px; margin-bottom: 3px;">
                        <div class="row">
                          <div class="col-lg-3 col-xs-3"><b>Llegadas tarde</b>  a la institución: {{ ::alumno.ausencias_total.cant_tardanzas_entrada }}.</div>
                          <div class="col-lg-3 col-xs-3"><b>Ausencias</b>  en la entrada: {{ ::alumno.ausencias_total.cant_ausencias_entrada }}.</div>
                          <div class="col-lg-3 col-xs-3"><b>Tardanzas</b>  a clases: {{ ::alumno.ausencias_total.cant_tardanzas_clases }}.</div>
                          <div class="col-lg-3 col-xs-3"><b>Ausencias</b>  a clases: {{ ::alumno.ausencias_total.cant_ausencias_clases }}</div>
                        </div>
                      </div>
                      <div ng-repeat="definicion in alumno.comportamiento.definiciones" class="row">
                        <div class="col-lg-12 col-xs-12">{{::definicion.frase}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row resumen-perdidas">
                <!-- Tabla de perdidas de este año-->
                <div ng-if="::alumno.notas_perdidas_year &gt; 0" class="col-lg-6 col-xs-6 no-padding">
                  <div class="row resumen-head">
                    <div class="col-lg-12 col-xs-12 resumen-title"><span>Notas pendientes del año {{::USER.year}}</span></div>
                  </div>
                  <div class="row resumen-body">
                    <div class="col-lg-10 col-xs-10 resumen-tabla">
                      <table class="table-bordered">
                        <thead>
                          <tr>
                            <td>No</td>
                            <td class="text-center">Asignaturas</td>
                            <td uib-tooltip="Nota definitiva del año" tooltip-append-to-body="true">Def</td>
                            <td ng-repeat="periodo in ::year.periodos track by $index">Per{{::periodo.numero}}</td>
                            <td>Total</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="asignatura_perdida in ::alumno.asignaturas_perdidas">
                            <td>{{$index + 1}}</td>
                            <td>
                              <div style="width: 140px;" class="nombresellipsis camel">{{::asignatura_perdida.materia.toLowerCase()}}</div>
                            </td>
                            <td class="text-center">{{ ::asignatura_perdida.detalle_periodos.definitiva_year | number:0 }}</td>
                            <td ng-repeat="periodo in ::year.periodos track by $index" class="text-center">
                              <div>{{ ::asignatura_perdida.detalle_periodos['cant_perdidas_' + ($index+1) ] }}</div>
                            </td>
                            <td class="text-center"><b>{{::asignatura_perdida.detalle_periodos.cant_perdidas_year}}</b></td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="2">Total</td>
                            <td></td>
                            <td ng-repeat="periodo in ::year.periodos track by $index" class="text-center">{{::alumno['notas_perdidas_per' + ($index+1) ]}}</td>
                            <td class="text-center"><b>{{::alumno.notas_perdidas_year}}</b></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>