
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div style="padding-top: 80px" class="well with-header">
      <div class="header bordered-yellow"> 
        <div style="margin-bottom: 0px; " class="form-group">
          <label for="act-descrip" style="margin-top: 10px;" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right">Descripción: </label>
          <div class="col-xs-12 col-sm-10 col-md-10">
            <input id="act-descrip" type="text" ng-model="actividad.descripcion" placeholder="Descripción" uib-tooltip="Descripción de la actividad" class="form-control">
          </div>
        </div>
      </div>
      <div ng-show="mostrando_detalles_actividad" class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="row">
            <div class="form-group col-lg-12 col-sm-12 col-xs-12">Tipo de actividad: 
              <div class="btn-group btn-group-justified">
                <label ng-model="actividad.tipo" uib-btn-radio="'Contenido'" uib-tooltip="La actividad/tarea solo tiene contenido" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Contenido</label>
                <label ng-model="actividad.tipo" uib-btn-radio="'Autoevaluacion'" uib-tooltip="Pide una nota al alumno" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Autoevaluación</label>
                <label ng-model="actividad.tipo" uib-btn-radio="'Cuestionario'" uib-tooltip="Encuesta o cuestionario sin tiempo" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Cuestionario</label>
                <label ng-model="actividad.tipo" uib-btn-radio="'Examen'" uib-tooltip="Examen con tiempo establecido por tiempo o pregunta" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Examen</label>
              </div>
            </div>
          </div>
          <hr class="wide">
          <div ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' " class="row">
            <div uib-tooltip="¿Actividad para una asignatura o para docentes, acudientes y varios grupos?" tooltip-popup-delay="500" style="width: 250px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label>Compartida</label>
              <label>
                <input type="checkbox" ng-model="actividad.compartida" ng-change="toggle_compartida(actividad.compartida)" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
            <!-- Se muestra si NO es compartida **-->
            <div style="width: 90%" uib-popover-template="views+'informes/infoDocentePop.tpl.html'" popover-popup-delay="500" popover-title="Titular: {{actividad.nombres_profesor + ' ' + actividad.apellidos_profesor}}" popover-animation="true" popover-trigger="'mouseenter'" ng-show="!actividad.compartida" class="col-sm-12">
              <h6 style="border: 1px solid #ccc; border-radius: 4px; padding: 8px">Solo {{ actividad.nombre_grupo }} -- {{ actividad.materia }}</h6>
            </div>
            <!-- Se muestra si ES compartida **-->
            <div ng-show="actividad.compartida" class="col-sm-12">
              <div class="form-group"> 
                <div class="btn-group">
                  <label uib-btn-checkbox ng-click="para_alumnos_toggle(actividad.para_alumnos)" ng-model="actividad.para_alumnos" uib-tooltip="Varios grupos podrán realizar esta actividad" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Para alumnos</label>
                  <label uib-btn-checkbox ng-click="para_profesores_toggle(actividad.para_profesores)" ng-model="actividad.para_profesores" uib-tooltip="Actividad para los docentes" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Para profesores</label>
                  <label uib-btn-checkbox ng-click="para_acudientes_toggle(actividad.para_acudientes)" ng-model="actividad.para_acudientes" uib-tooltip="Actividad para los acudientes" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Para acudientes</label>
                </div>
              </div>
              <div ng-show="actividad.para_alumnos" class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Grupos</label>
                <div class="col-sm-10">
                  <ui-select ng-model="datos.selected_grupos" multiple on-select="select_grupo_compartido($item)" on-remove="quitando_grupo_compartido($item, $model)" style="width: 100%;">
                    <ui-select-match placeholder="Grupos" allow-clear="true">
                       
                      {{$item.nombre}}
                    </ui-select-match>
                    <ui-select-choices repeat="grupo in grupos | filter: $select.search"><small ng-bind-html="grupo.nombre | highlight: $select.search"></small></ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <hr class="wide">
            </div>
            <div uib-tooltip="Mostrar todas las preguntas o de una en una" tooltip-popup-delay="500" style="width: 150px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label>Una por una</label>
              <label>
                <input type="checkbox" ng-model="actividad.one_by_one" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
            <div ng-hide="actividad.one_by_one" style="width: 150px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label for="act-duraexamen">Duracion examen</label>
              <div class="spinner spinner-horizontal">
                <input id="act-duraexamen" type="text" minlength="1" maxlength="999" ng-model="actividad.duracion_exam" class="spinner-input form-control">
                <div class="spinner-buttons btn-group">
                  <button type="button" ng-click="restar('duracion_exam')" class="btn spinner-down blueberry"><i class="fa fa-minus"></i></button>
                  <button type="button" ng-click="sumar('duracion_exam')" class="btn spinner-up purple"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div ng-show="actividad.one_by_one" style="width: 150px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label for="act-durapreg">Duracion pregunta</label>
              <div class="spinner spinner-horizontal">
                <input id="act-durapreg" type="text" minlength="1" maxlength="999" ng-model="actividad.duracion_preg" class="spinner-input form-control">
                <div class="spinner-buttons btn-group">
                  <button type="button" ng-click="restar('duracion_preg')" class="btn spinner-down blueberry"><i class="fa fa-minus"></i></button>
                  <button type="button" ng-click="sumar('duracion_preg')" class="btn spinner-up purple"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div uib-tooltip="La nota se define sumando los puntos por pregunta o promediándolas" tooltip-popup-delay="500" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label class="col-sm-2">Calificación:</label>
              <div class="col-sm-10">
                <select ng-model="actividad.tipo_calificacion" class="form-control">
                  <option value="Por promedio">Por promedio</option>
                  <option value="Por puntos">Por puntos</option>
                  <option value="Sin puntaje">Sin calificación</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div style="margin-top: 5px;" class="form-group col-lg-3 col-sm-4 col-xs-12">
              <label for="act-finaliza_at">Fecha de entrega</label>
              <div class="controls">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input id="act-finaliza_at" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="actividad.finaliza_at" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2030-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Finaliza en" class="form-control active">
                </div>
              </div>
            </div>
            <div style="padding: 0px" class="col-lg-5 col-sm-5 col-xs-12">
              <div uib-timepicker ng-model="actividad.finaliza_at"></div>
            </div>
          </div>
          <div class="row">
            <div uib-tooltip="Redirecciona automáticamente al alumno a esta actividad al loguearse" tooltip-popup-delay="500" class="form-group col-lg-3 col-sm-6 col-xs-12">
              <label>En ejecución</label>
              <label>
                <input type="checkbox" ng-model="actividad.in_action" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div uib-tooltip="Defina si esta actividad se responde subiendo archivo" tooltip-popup-delay="500" class="form-group col-lg-3 col-sm-6 col-xs-12">
              <label>Responder con archivo</label>
              <label>
                <input type="checkbox" ng-model="actividad.can_upload" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
          </div>
          <div ng-show="actividad.tipo == 'Contenido' || actividad.tipo == 'Autoevaluacion' " class="row">
            <div style="margin-bottom: 12px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <div ckeditor="editor_options" ng-model="actividad.contenido" ready="onEditorReady"></div>
            </div>
          </div>
          <div class="row">
            <div style="text-align: right;" class="col-lg-12 col-sm-12">
              <button ng-click="verResultados()" class="btn btn-success">Ver resultados</button>
              <button ng-click="guardarActividad()" class="btn btn-primary">Guardar ajustes</button>
              <button ng-click="guardarActividad(true)" class="btn btn-primary">Guardar y salir</button>
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="mostrando_detalles_actividad" style="margin-top: 10px" class="row">
        <div class="col-lg-12 col-sm-12"><a href="" ng-click="ver_detalles_actividad()">Mostrar detalles actividad</a></div>
      </div>
    </div>
  </div>
</div>
<div ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' " class="row">
  <div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
      <div class="header bordered-yellow"> <a href="" ng-click="ver_preguntas()" ng-hide="mostrando_preguntas">Ver Preguntas</a><a href="" ng-click="ver_preguntas()" ng-show="mostrando_preguntas">Preguntas</a></div>
      <div ng-show="mostrando_preguntas" class="row">
        <div class="col-lg-12 col-sm-12">
          <button ng-click="crearPregunta()" class="btn btn-primary"> <i class="fa fa-plus"></i>Crear pregunta</button>
        </div>
        <div style="margin-top: 10px" class="row">
          <div class="col-lg-12 col-sm-12">
            <div ui-view="preguntacontent"></div>
          </div>
        </div>
        <div style="margin-top: 10px" class="row">
          <div class="col-lg-12 col-sm-12">
            <ol sv-root="root-preguntas" sv-on-sort="on_sort_preguntas($item, $partFrom, $partTo, $indexFrom, $indexTo)" sv-part="actividad.preguntas">
              <li ng-repeat="pregunta in actividad.preguntas" sv-element style="padding: 8px; margin-bottom: 5px; " class="well well-pregunta"><span ng-bind-html="pregunta.enunciado"></span>
                <div style="top: 5px;" class="item-menu"><a href="" sv-handle uib-tooltip="Ordenar" ng-click="duplicar_pregunta(pregunta)" tooltip-placement="left" tooltip-popup-delay="500" style="margin-right: 4px;" class="btn-mail tooltip-primary"><i class="fa fa-arrows"></i></a><a href="" uib-tooltip="Duplicar pregunta" ng-click="duplicar_pregunta(pregunta)" tooltip-placement="left" tooltip-popup-delay="500" style="margin-right: 4px;" class="btn-mail tooltip-primary"><i class="fa fa-copy"></i></a><a href="" uib-tooltip="Editar" ng-click="editar_pregunta(pregunta)" tooltip-placement="left" tooltip-popup-delay="500" class="btn-mail tooltip-primary"><i class="fa fa-pencil"></i></a><a href="" uib-tooltip="Eliminar" ng-click="eliminar_pregunta(pregunta.id)" tooltip-placement="left" style="margin-left: 4px;" tooltip-popup-delay="500" class="btn-mail tooltip-danger btn-danger"><i class="fa fa-times"></i></a></div>
              </li>
            </ol>
          </div>
          <!-- Para scrollear cuando duplique pregunta-->
          <div id="end-preguntas"> </div>
        </div>
      </div>
    </div>
  </div>
</div>