
<div class="col-lg-12">
  <div class="well bordered-top bordered-blueberry">
    <h3>{{ actividad.descripcion }}</h3>
    <div ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' " class="row">
      <div class="col-xs-12 col-md-12">
        <div style="margin-top: 10px" class="row">
          <div class="col-lg-12 col-sm-12">
            <ol style="padding-left: 20px;">
              <li ng-repeat="pregunta in actividad.preguntas" style="padding: 8px; margin-bottom: 5px; " class="well well-pregunta"><span ng-bind-html="pregunta.enunciado"></span>
                <div class="dd shadowed">
                  <ol ng-repeat="opcion in pregunta.opciones" class="dd-list row-title before-blue">
                    <li class="dd-item bordered-blue"> 
                      <div ng-click="seleccionar_opcion(pregunta, opcion)" ng-class="{'bg-warning': opcion.seleccionada}" class="dd-handle">
                         {{indexChar($index)}}.  
                         {{opcion.definicion}}
                      </div>
                    </li>
                  </ol>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 10px" class="row">
      <div style="text-align: right;" class="col-lg-12 col-sm-12">
        <button ng-click="cancelar()" class="btn btn-default"> <i class="fa fa-arrow-left"></i>Actividades</button>
        <button ng-click="finalizar_actividad()" class="btn btn-primary">Finalizar</button>
      </div>
    </div>
  </div>
</div>