.col-lg-12
	.well.bordered-top.bordered-blueberry
		h3 {{ actividad.descripcion }}


		.row(ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' ")
			.col-xs-12.col-md-12


				.row(style="margin-top: 10px")
					.col-lg-12.col-sm-12
						ol(style="padding-left: 20px;")
							li.well.well-pregunta(ng-repeat="pregunta in actividad.preguntas" style="padding: 8px; margin-bottom: 5px; ")
									
								span(ng-bind-html="pregunta.enunciado")

								.dd.shadowed
									ol.dd-list.row-title.before-blue(ng-repeat="opcion in pregunta.opciones")
										li.dd-item.bordered-blue 
											.dd-handle(ng-click="seleccionar_opcion(pregunta, opcion)" ng-class="{'bg-warning': opcion.seleccionada}")
												|  {{indexChar($index)}}.  
												|  {{opcion.definicion}}




		.row(style="margin-top: 10px")
			.col-lg-12.col-sm-12(style="text-align: right;")
				button.btn.btn-default(ng-click="cancelar()") 
					i.fa.fa-arrow-left
					| Actividades
				button.btn.btn-primary(ng-click="finalizar_actividad()") Finalizar
