
<div class="col-lg-12">
  <div class="well bordered-top bordered-blueberry">
    <h3>{{ actividad.descripcion }}</h3>
    <div ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' " style="margin-top: 10px" class="row">
      <div class="col-lg-12 col-sm-12 table-responsive">
        <table class="table-bordered table-bordered2 table-striped table-striped2">
          <thead>
            <tr>
              <th rowspan="2" style="width: 20px; line-height: 3;" class="text-center">No</th>
              <th rowspan="2" style="width: 20px; line-height: 3;" class="text-center">Preguntas</th>
              <th ng-repeat="grupo in grupos" colspan="{{grupo.alumnos.length}}" class="text-center"> {{ grupo.nombre }}</th>
            </tr>
            <tr>
              <th ng-repeat="alumno in alumnos_unidos">
                <div uib-popover-template="plantilla" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-trigger="'mouseenter'" popover-append-to-body="true" class="text-center nombresellipsis">{{$index + 1}}</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pregunta in actividad.preguntas">
              <td>{{ $index + 1 }}</td>
              <td><span ng-bind-html="pregunta.enunciado"></span></td>
              <td ng-repeat="alumno in alumnos_unidos">{{ alumno.respuestas[$parent.$index].orden }}</td>
            </tr>
          </tbody>
        </table>
        <div style="margin-top: 10px" class="row">
          <div class="col-lg-12 col-sm-12">
            <table class="table-bordered table-bordered2 table-striped table-striped2">
              <thead>
                <tr>
                  <th rowspan="2" class="text-center">No</th>
                  <th rowspan="2" class="text-center">Preguntas</th>
                  <th rowspan="2" ng-repeat="i in getOpcionesMaximas() track by $index" class="text-center"> {{indexChar($index)}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="pregunta in actividad.preguntas">
                  <td>{{ $index + 1 }}</td>
                  <td>
                    <div ng-bind-html="pregunta.enunciado" style=""></div>
                  </td>
                  <td ng-repeat="i in getOpcionesMaximas() track by $index">   </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 10px" class="row">
      <div style="text-align: right;" class="col-lg-12 col-sm-12">
        <button ng-click="cancelar()" class="btn btn-default"> <i class="fa fa-arrow-left"></i>Actividades</button>
        <button ng-click="finalizar_actividad()" class="btn btn-primary">Finalizar</button>
      </div>
    </div>
  </div>
</div>