label
	input.checkbox-slider.slider-icon.colored-blue.ocultar-input(type="checkbox" 
		ng-model="row.entity.locked" ng-true-value="1" ng-false-value="0" 
		ng-change="grid.appScope.cambiarLocked(row.entity)")
	span.text.si-no

