
<div style="padding: 5px; " class="row">
  <div class="col-lg-6 col-md-8 col-sm-9 col-xs-12">
    <div class="widget">
      <div class="widget-header"><span class="widget-caption">Candidatos por aspiración</span><span ng-if="aspiraciones.length == 0">- No hay apiraciones creadas.</span></div>
      <div class="widget-body">
        <div class="dd dd-draghandle darker">
          <ol class="dd-list">
            <li data-id="$index" ng-repeat="aspiracion in aspiraciones" class="dd-item dd2-item">
              <button data-action="collapse" type="button">Collapse</button>
              <button data-action="expand" type="button" style="display: none;">Expand</button>
              <div class="dd-handle dd2-handle"><i class="normal-icon fa fa-cloud"></i><i class="drag-icon fa fa-arrows-alt"></i></div>
              <div class="dd2-content">{{aspiracion.aspiracion}}</div>
              <ol class="dd-list">
                <li class="dd-item dd2-item bordered-blue">
                  <div class="dd-handle">
                    <form ng-submit="crearCandidato(aspiracion)">
                      <label>Participante</label>
                      <ui-select ng-model="aspiracion.newParticip" style="width: 100%;">
                        <ui-select-match placeholder="Seleccione aspirante" allow-clear="true">{{$select.selected.nombres}} - {{$select.selected.username}}</ui-select-match>
                        <ui-select-choices group-by="'grupo'" repeat="particip in allinscritos | filter: $select.search">
                          <div ng-bind-html="particip.nombres +' '+ particip.apellidos | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                      <div class="form-group">
                        <input type="textbox" placeholder="Plancha" ng-model="aspiracion.newParticip.plancha" class="form-control">
                        <input type="textbox" placeholder="Número" ng-model="aspiracion.newParticip.numero" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="submit" ng-submit="crearCandidato(aspiracion)" value="Crear candidato" class="btn btn-primary btn-sm shiny">
                      </div>
                    </form>
                  </div>
                </li>
                <li data-id="2" ng-repeat="candidato in aspiracion.candidatos" class="dd-item dd2-item">
                  <div class="dd-handle dd2-handle"><i class="normal-icon fa fa-legal"></i><i class="drag-icon fa fa-arrows-alt"></i></div>
                  <div style="padding-bottom: 0px; background-color: #aceefe;" class="dd2-content">
                    <button ng-click="eliminarCandidato(candidato.candidato_id, aspiracion)" ng-hide="candidato.voto_blanco" uib-tooltip="Quitar candidato" style="margin-top: -8px;" class="btn btn-default"><i class="fa fa-times"></i></button><img ng-src="{{perfilPath + candidato.foto_nombre}}" style="width: 38px; margin-top: -8px;">{{candidato.nombres}} {{candidato.apellidos}} [{{candidato.plancha +' - '+candidato.numero}}]<span ng-show="candidato.tipo == 'Al'">(Alumno)</span><span ng-show="candidato.tipo == 'Pr'">(Docente)</span><span ng-show="candidato.tipo == 'Acu'">(Acudiente)</span><span ng-show="candidato.tipo == 'Usu'">(Usuario)</span>
                  </div>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>