.modal-header
	h3.modal-title ¿Seguro que deseas elegir?
.modal-body
	.row
		.col-lg-5.col-xs-7.text-center
			img(ng-src="{{imagesPath+candidato.foto_nombre}}" class="image-circular bordered-4 bordered-sky" style="width:200px; height:200px;")
		.col-lg-5.col-xs-7
			h3 {{candidato.nombres + ' ' +candidato.apellidos}}
			h4 {{aspiracion.aspiracion}}
			h4 Plancha {{candidato.plancha}} - Número {{candidato.numero}}
			h5 Grupo: {{candidato.nombre_grupo}}

.modal-footer
	button.btn.btn-labeled.btn-yellow(ng-click="cancel()") Cancelar
		i.btn-label.fa.fa-times
	button.btn.btn-labeled.btn-primary(ng-click="ok()") Elegir candidato
		i.btn-label.glyphicon.glyphicon-ok

