.row(style="padding: 5px; ")
	.col-lg-12.col-sm-12.col-xs-12
		h5.row-title
			i.fa.fa-list-alt.darkorange
			| {{ votacion.nombre }}
		.row
			.col-lg-4.col-xs-12
				.well.with-header
					.header.bordered-yellow Elija quién puede votar


					div.btn-group(style="padding-top:2px; padding-left: 4px; " ng-if="hasRoleOrPerm(['profesor', 'admin'])")
						label.btn.btn-default(ng-model="grupo.inscrito" uib-btn-checkbox
							ng-repeat="grupo in grupos" btn-checkbox-false="0" btn-checkbox-true="1"
							uib-tooltip="{{grupo.nombre}}" tooltip-append-to-body="true") {{grupo.abrev}}

					a.btn.btn-primary(href="" ng-click="guardarInscripciones()"
						ng-if="hasRoleOrPerm(['profesor', 'admin'])"
						ng-disabled="guardando_inscrip") Guardar cambios



			.col-lg-12.col-xs-12
				.well.with-header
					.header.bordered-purple Paticipantes y votos
					
							
					.form-group
						selector-grupo-dir
						
					a(href="" ng-click="traerProfesores()") Traer profesores
					
					#grid1.grid(ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize style="height: 600px")


