
<ui-select ng-model="MODEL_COL_FIELD" on-select="grid.appScope.tipoDocSeleccionado($item, row.entity)" append-to-body="true" style="width: 100%;">
  <ui-select-match placeholder="Elija..."> <span style="font-size: 9pt"> <span style="font-weight: 600">{{ COL_FIELD.abrev }} </span><span style="font-size: 7pt">- {{ COL_FIELD.tipo }}</span></span></ui-select-match>
  <ui-select-choices repeat="item in grid.appScope.tipos_doc | filter: $select.search"><span style="font-weight: 800">{{ item.abrev }}</span><span style="font-size: 7pt">- {{ item.tipo }}</span></ui-select-choices>
</ui-select>