div(style="padding-left: 2px; padding-top: 4px; overflow: hidden;")
		button.btn.btn-info.btn-xs(ng-click="grid.appScope.cambiarCiudad(row.entity, 'ciudad_resid')" style="min-height: 15px;") {{ row.entity.ciudad_resid_nombre }}
