<!-- Loading Container -->
.loading-container
	.loading-progress
		.rotator
			.rotator
				.rotator.colored
					.rotator
						.rotator.colored
							.rotator.colored
								.rotator
									.rotator.colored
					.rotator
				.rotator
			.rotator
		.rotator
<!--  /Loading Container -->