.body-404
	.error-header
	.container
		section.error-container.text-center
			h1 Mi Colegio Virtual
			.error-divider
				h2 Bienvenido.
				p.description Estamos construyendo un sistema genial, disfrútalo.
			a.return-btn(ui-sref='login')
				i.fa.fa-home
				| Ingresar
