div(ng-show="creando_certificado")
	.row
		.col-sm-6
			.form-group
				label(for='nombre-certif') Nombre o Tipo de certificado
				span.input-icon.icon-right
					input#nombre-certif.form-control(type='text' ng-model="newcertif.nombre" placeholder='Nombre que identifique la configuración')
					i.fa.fa-envelope.blue

	h6.row-title.before-blue Encabezado
	.row
		.col-sm-6
			.form-group

				label Imagen
				ui-select(ng-model="newcertif.encabezado_img_id" on-select="usuarioSelect($item, $model)" theme="select2" style="min-width: 300px;")
					ui-select-match(placeholder="Encabezado" allow-clear="true")
						img(ng-src="{{perfilPath + $select.selected.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + $select.selected.nombre ")
					ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
						img(ng-src="{{perfilPath + imagen.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")
	.row
		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Ancho encabezado")
					input#encab-width-certif.form-control(ng-model="newcertif.encabezado_width" type='number')
					i.fa.fa-arrows-h.blue

		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Altura encabezado")
					input#encab-height-certif.form-control(ng-model="newcertif.encabezado_height" type='number')
					i.fa.fa-arrows-v.blue

		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen superior del contenido")
					input#encab-margintop-certif.form-control(ng-model="newcertif.encabezado_margin_top" type='number')
					i.fa.fa-arrow-up.blue
		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen izquierdo del contenido")
					input#encab-marginleft-certif.form-control(ng-model="newcertif.encabezado_margin_left" type='number')
					i.fa.fa-arrow-down.blue

	h6.row-title.before-blue Pie de página
	.row
		.col-sm-6
			.form-group
				label Imagen
				ui-select(ng-model="newcertif.piepagina_img_id" on-select="usuarioSelect($item, $model)" theme="select2" style="min-width: 300px;")
					ui-select-match(placeholder="Pie de página" allow-clear="true")
						img(ng-src="{{perfilPath + $select.selected.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + $select.selected.nombre ")
					ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
						img(ng-src="{{perfilPath + imagen.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")

	.row
		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Ancho pie de página")
					input#pie-width-certif.form-control(ng-model="newcertif.piepagina_width" type='number')
					i.fa.fa-arrows-h.blue

		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Altura pie de página")
					input#pie-height-certif.form-control(ng-model="newcertif.piepagina_height" type='number')
					i.fa.fa-arrows-v.blue

		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen inferior")
					input#pie-marginbottom-certif.form-control(ng-model="newcertif.piepagina_margin_bottom" type='number')
					i.fa.fa-arrow-down.blue
		.col-sm-2(ng-show="false")
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen izquierdo")
					input#pie-marginleft-certif.form-control(ng-model="newcertif.piepagina_margin_left" type='number')
					i.fa.fa-arrow-left.blue

	button.btn.btn-default(ng-click="cancelConfig()") Cancelar
	button.btn.btn-primary(ng-click="guardar()")
		i.fa.fa-save
		| Crear




div(ng-show="editando")
	.row
		.col-sm-6
			.form-group
				label(for='nombre-certif') Nombre o Tipo de certificado
				span.input-icon.icon-right
					input#nombre-certif.form-control(type='text' ng-model="currentCertif.nombre" placeholder='Nombre que identifique la configuración')
					i.fa.fa-envelope.blue

	h6.row-title.before-blue Encabezado
	.row
		.col-sm-6
			.form-group

				label Imagen
				ui-select(ng-model="currentCertif.encabezado_img" theme="select2" style="min-width: 300px;")
					ui-select-match(placeholder="Encabezado" allow-clear="true")
						img(ng-src="{{perfilPath + $select.selected.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + $select.selected.nombre ")
					ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
						img(ng-src="{{perfilPath + imagen.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")
	.row
		.col-sm-2(uib-tooltip="Ancho encabezado")
			.form-group
				span.input-icon.icon-right
					input#encab-width-certif.form-control(ng-model="currentCertif.encabezado_width" type='number')
					i.fa.fa-arrows-h.blue

		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Altura encabezado")
					input#encab-height-certif.form-control(ng-model="currentCertif.encabezado_height" type='number')
					i.fa.fa-arrows-v.blue

		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen superior del contenido")
					input#encab-margintop-certif.form-control(ng-model="currentCertif.encabezado_margin_top" type='number')
					i.fa.fa-arrow-up.blue
		.col-sm-2
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen izquierdo del contenido")
					input#encab-marginleft-certif.form-control(ng-model="currentCertif.encabezado_margin_left" type='number')
					i.fa.fa-arrow-down.blue

	h6.row-title.before-blue Pie de página
	.row
		.col-sm-6
			.form-group
				label Imagen
				ui-select(ng-model="currentCertif.piepagina_img" theme="select2" style="min-width: 300px;")
					ui-select-match(placeholder="Pie de página" allow-clear="true")
						img(ng-src="{{perfilPath + $select.selected.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + $select.selected.nombre ")
					ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
						img(ng-src="{{perfilPath + imagen.nombre}}" style="width:25px; height:25px;")
						small(ng-bind-html="' ' + imagen.nombre | highlight: $select.search")

	.row
		.col-sm-2(uib-tooltip="Ancho pie de página")
			.form-group
				span.input-icon.icon-right
					input#pie-width-certif.form-control(ng-model="currentCertif.piepagina_width" type='number')
					i.fa.fa-arrows-h.blue

		.col-sm-2(uib-tooltip="Altura pie de página")
			.form-group
				span.input-icon.icon-right
					input#pie-height-certif.form-control(ng-model="currentCertif.piepagina_height" type='number')
					i.fa.fa-arrows-v.blue

		.col-sm-2(uib-tooltip="Margen inferior pie de página")
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen inferior")
					input#pie-marginbottom-certif.form-control(ng-model="currentCertif.piepagina_margin_bottom" type='number')
					i.fa.fa-arrow-down.blue
		.col-sm-2(ng-show="false")
			.form-group
				span.input-icon.icon-right(uib-tooltip="Margen izquierdo")
					input#pie-marginleft-certif.form-control(ng-model="currentCertif.piepagina_margin_left" type='number')
					i.fa.fa-arrow-left.blue

	button.btn.btn-default(ng-click="cancelEdit()") Cancelar
	button.btn.btn-primary(ng-click="actualizar()") Guardar
	br
	br

div(ng-hide="creando_certificado")
	div(ng-repeat="configcert in configcertificados")
		span {{configcert}}

	#grid1.grid(ui-grid="gridOptions" ui-grid-edit ui-grid-auto-resize ui-grid-resize-columns style="height: 180px")
	button.btn.btn-primary(ng-click="crearConfig()")
		i.fa.fa-plus
		| Crear configuración
	br
	br
	.form-group
		label Actual:
		ui-select(ng-model="certificado.config_actual" on-select="certificadoSelect($item, $model)" theme="select2" style="min-width: 200px;")
			ui-select-match(placeholder="Cerfiticado estudio" allow-clear="true") {{$select.selected.nombre}}
			ui-select-choices(repeat="certif in certificados | filter: $select.search")
				div(ng-bind-html="certif.nombre | highlight: $select.search")
				small {{ certif.nombre | highlight: $select.search}}


	br
	.form-group
		label Encabezado boletines:
		textarea.form-control(ng-model="year.encabezado_certificado")
		a(ng-click="guardarEncabezado()" href="") Guardar encabezado



