#overview.tab-pane.active
	.row.profile-overview
		.col-md-8
			h6.row-title.before-orange

#overview.tab-pane.active(ng-if='false')
	.row.profile-overview
		.col-md-8
			h6.row-title.before-orange COMPAÑEROS
			.row
				.col-lg-4.col-sm-6.col-xs-12
					.databox.databox-graded
						.databox-left.no-padding
							img(src='', style='width:65px; height:65px;')
						.databox-right.padding-top-20.bg-whitesmoke
							.databox-stat.orange.radius-bordered
								i.stat-icon.fa.fa-times
							.databox-text.darkgray JAVI JIMENEZ
							.databox-text.darkgray Manager
				.col-lg-4.col-sm-6.col-xs-12
					.databox.databox-graded
						.databox-left.no-padding
							img(src='', style='width:65px; height:65px;')
						.databox-right.padding-top-20.bg-whitesmoke
							.databox-stat.palegreen.radius-bordered
								i.stat-icon.fa.fa-plus
							.databox-text.darkgray LEE MUNROE
							.databox-text.darkgray Developer
				.col-lg-4.col-sm-6.col-xs-12
					.databox.databox-graded
						.databox-left.no-padding
							img(src='', style='width:65px; height:65px;')
						.databox-right.padding-top-20.bg-whitesmoke
							.databox-stat.palegreen.radius-bordered
								i.stat-icon.fa.fa-plus
							.databox-text.darkgray NICOLAI LARSON
							.databox-text.darkgray Manager
			h6.row-title.before-palegreen ALUMNOS DE TITULARÍA
			.row
				.col-lg-4.col-sm-6.col-xs-12
					.databox.databox-graded
						.databox-left.no-padding
							img(src='', style='width:65px; height:65px;')
						.databox-right.padding-top-20.bg-whitesmoke
							.databox-stat.orange.radius-bordered
								i.stat-icon.fa.fa-times
							.databox-text.darkgray JOHN SMITH
							.databox-text.darkgray Architect
				.col-lg-4.col-sm-6.col-xs-12
					.databox.databox-graded
						.databox-left.no-padding
							img(src='', style='width:65px; height:65px;')
						.databox-right.padding-top-20.bg-whitesmoke
							.databox-stat.palegreen.radius-bordered
								i.stat-icon.fa.fa-plus
							.databox-text.darkgray MATT CHEUVRONT
							.databox-text.darkgray Developer
				.col-lg-4.col-sm-6.col-xs-12
					.databox.databox-graded
						.databox-left.no-padding
							img(src='', style='width:65px; height:65px;')
						.databox-right.padding-top-20.bg-whitesmoke
							.databox-stat.orange.radius-bordered
								i.stat-icon.fa.fa-times
							.databox-text.darkgray KATE WALTER
							.databox-text.darkgray Developer
			h6.row-title.before-yellow YOU MAY ALSO KNOW
			.row
				.col-lg-6.col-sm-6.col-xs-12
					.databox.databox-xlg.databox-halved.databox-shadowed.databox-vertical.no-margin-bottom
						.databox-top.bg-white.padding-10
							.col-lg-4.col-sm-4.col-xs-4
								img.image-circular.bordered-3.bordered-palegreen(src='assets/img/avatars/Sergey-Azovskiy.jpg', style='width:75px; height:75px;')
							.col-lg-8.col-sm-8.col-xs-8.text-align-left.padding-10
								span.databox-header.carbon.no-margin Martin James
								span.databox-text.lightcarbon.no-margin  Software Manager at Microsoft
						.databox-bottom.bg-white.no-padding
							.databox-row.row-12
								.databox-row.row-6.no-padding
									.databox-cell.cell-4.no-padding.text-align-center.bordered-right.bordered-platinum
										span.databox-text.sonic-silver.no-margin Posts
										span.databox-number.lightcarbon.no-margin 510
									.databox-cell.cell-4.no-padding.text-align-center.bordered-right.bordered-platinum
										span.databox-text.sonic-silver.no-margin Followers
										span.databox-number.lightcarbon.no-margin 908
									.databox-cell.cell-4.no-padding.text-align-center
										span.databox-text.sonic-silver.no-margin Following
										span.databox-number.lightcarbon.no-margin 286
								.databox-row.row-6.padding-10
									button.btn.btn-palegreen.btn-sm.pull-right FOLLOW
				.col-lg-6.col-sm-6.col-xs-12
					.databox.databox-xlg.databox-halved.databox-shadowed.databox-vertical.no-margin-bottom
						.databox-top.bg-white.padding-10
							.col-lg-4.col-sm-4.col-xs-4
								img.image-circular.bordered-3.bordered-palegreen(src='assets/img/avatars/Osvaldus-Valutis.jpg', style='width:75px; height:75px;')
							.col-lg-8.col-sm-8.col-xs-8.text-align-left.padding-10
								span.databox-header.carbon.no-margin Osvaldus Valutis
								span.databox-text.lightcarbon.no-margin  Graphic Designer at Yahoo!
						.databox-bottom.bg-white.no-padding
							.databox-row.row-12
								.databox-row.row-6.no-padding
									.databox-cell.cell-4.no-padding.text-align-center.bordered-right.bordered-platinum
										span.databox-text.sonic-silver.no-margin Posts
										span.databox-number.lightcarbon.no-margin 102
									.databox-cell.cell-4.no-padding.text-align-center.bordered-right.bordered-platinum
										span.databox-text.sonic-silver.no-margin Followers
										span.databox-number.lightcarbon.no-margin 634
									.databox-cell.cell-4.no-padding.text-align-center
										span.databox-text.sonic-silver.no-margin Following
										span.databox-number.lightcarbon.no-margin 100
								.databox-row.row-6.padding-10
									button.btn.btn-palegreen.btn-sm.pull-right FOLLOW
		.col-md-4
			form.well.padding-bottom-10(method='post', onsubmit='return false;')
				span.input-icon.icon-right
					textarea.form-control(rows='2', placeholder='Post a new message')
					i.fa.fa-camera.themeprimary
				.padding-top-10.text-align-right
					a.btn.btn-sm.btn-primary
						| Send
			div
				.comment
					img.comment-avatar(src='', alt='')
					.comment-body
						.comment-text
							.comment-header
								a(href='#', title='') Adam Jansen
								span about 2 minuts ago
							|Story based around the idea of time lapse, animation to post soon!
						.comment-footer
							a(href='#')
								i.fa.fa-thumbs-o-up
							a(href='#')
								i.fa.fa-thumbs-o-down
							a(href='#') Reply
					.comment
						img.comment-avatar(src='', alt='')
						.comment-body
							.comment-text
								.comment-header
									a(href='#', title='') John Smith
									span about 1 hour ago
								|Wow impressive!
							.comment-footer
								a(href='#')
									i.fa.fa-thumbs-o-up
								a(href='#')
									i.fa.fa-thumbs-o-down
								a(href='#') Reply
#timeline.tab-pane
	ul.timeline.animated.fadeInDown
		li
			.timeline-datetime
				span.timeline-time
					| 8:19
				span.timeline-date Today
			.timeline-badge.blue
				i.fa.fa-tag
			.timeline-panel
				.timeline-header.bordered-bottom.bordered-blue
					span.timeline-title
						| New Items Arrived
					p.timeline-datetime
						small.text-muted
							i.fa.fa-time
							span.timeline-date Today -
							span.timeline-time 8:19
				.timeline-body
					p Purchased new stationary items for head office
		li.timeline-inverted
			.timeline-datetime
				span.timeline-time
					| 3:10
				span.timeline-date Today
			.timeline-badge.darkorange
				i.fa.fa-map-marker.font-120
			.timeline-panel.bordered-right-3.bordered-orange
				.timeline-header.bordered-bottom.bordered-blue
					span.timeline-title
						| Visit Appointment
					p.timeline-datetime
						small.text-muted
							i.fa.fa-time
							span.timeline-date Today -
							span.timeline-time 3:10
				.timeline-body
					p
						| Outdoor visit at California State Route 85 with John Boltana &amp; Harry Piterson regarding to setup a new show room.
					p
						i.orange.fa.fa-exclamation
						New task added for
						span
							a.info(href='#') James Dean
		li
			.timeline-datetime
				span.timeline-time
					| 8:19
				span.timeline-date Yesterday
			.timeline-badge.sky
				i.fa.fa-bar-chart-o
			.timeline-panel.bordered-top-3.bordered-azure
				.timeline-header.bordered-bottom.bordered-blue
					span.timeline-title
						| Bank Report
					p.timeline-datetime
						small.text-muted
							i.fa.fa-time
							span.timeline-date Yesterday -
							span.timeline-time 8:19
				.timeline-body
					p
						| Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sem neque sed
		li.timeline-node
			a.btn.btn-yellow LOAD MORE
#contacts.tab-pane
	.row
		.col-md-6
			.profile-contacts
				.profile-badge.orange
					i.fa.fa-phone.orange
					span Contacts
				.contact-info
					p
						| Phone&#x9;: +1 1 2345 6789
						br
						|Cell: +1 9 876 5432
					p
						| Email&#x9;&#x9;: kim@gmail.com
						br
						|Skype&#x9;&#x9;: kim.ryder
					p
						| Facebook&#x9;: facebook.com/Kim.Ryder
						br
						|Twitter&#x9;: @KimRyder
				.profile-badge.azure
					i.fa.fa-map-marker.azure
					span Location
				.contact-info
					p
						| Address
						br
						|Department 98
						br
						|44-46 Morningside Road
						br
						|Toronto, Canada
					p
						| Office
						br
						|44-46 Morningside Road
						br
						|Toronto, Canada
		.col-md-6
			#contact-map.animated.flipInY
