.row
	.col-md-12
		.profile-container
			.profile-header.row
				.col-lg-6.col-md-6.col-sm-12.text-center
					img.header-avatar(ng-src='{{ perfilPath + perfilactual.imagen_nombre }}' alt='Imagen de usuario')
					img.header-avatar(ng-src='{{ perfilPath + perfilactual.foto_nombre }}' alt='Foto oficial')
				.col-lg-6.col-md-6.col-sm-12.profile-info
					.header-fullname {{nameToShow()}}
					a.btn.btn-palegreen.btn-sm.btn-follow(href='' ng-if="false")
						i.fa.fa-check
						| Siguiendo
					.header-information
						| Pronto m치s informaci칩n
				.col-lg-5.col-md-12.col-sm-12.col-xs-12.profile-stats
					.row
						.col-lg-4.col-md-4.col-sm-4.col-xs-12.stats-col
							.stats-value.pink {{perfilactual.abrev_grupo}}
							.stats-title {{perfilactual.nombre_grupo}}
						.col-lg-4.col-md-4.col-sm-4.col-xs-12.stats-col(ng-show="perfilactual.tipo=='Al'")
							span(ng-show="perfilactual.deuda && perfilactual.deuda==0")
								.stats-value.pink ${{perfilactual.deuda}}
								.stats-title Deuda
						.col-lg-4.col-md-4.col-sm-4.col-xs-12.stats-col
							.stats-value.pink {{perfilactual.fecha_nac | date:'d-MMM'}}
							.stats-title Cumplea침os
					.row
						.col-lg-4.col-md-4.col-sm-4.col-xs-4.inlinestats-col
							i.fa.fa-map-marker
							| {{perfilactual.ciudad_nac_nombre}}
						.col-lg-8.col-md-8.col-sm-8.col-xs-8.inlinestats-col
							| Email:
							strong   {{perfilactual.email_restore}}
			.profile-body
				.col-lg-12
					.tabbable
						ul.nav.nav-tabs.tabs-flat.nav-justified
							li(ui-sref-active='active')
								a(ui-sref='panel.user.resumen')
									| Resumen
							li(ui-sref-active='active' ng-if="canConfig")
								a(ui-sref='panel.user.configuracion')
									| Configuraci칩n
					.tab-content.tabs-flat(ui-view='user_detail')



