
<div class="col-lg-12 col-sm-12 col-xs-12">
  <div class="widget">
    <div class="widget-header bordered-bottom bordered-blue"><span class="widget-caption">Editar profesor</span></div>
    <div class="widget-body">
      <div>
        <form role="form" ng-submit="guardar()">
          <uib-tabset>
            <uib-tab heading="Información">
              <div style="animation-delay: 0.5s;" class="widget animated bounceIn">
                <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption">Básica</span></div>
                <div class="widget-body">
                  <div class="row">
                    <div class="col-lg-2 col-sm-12"><img style="width: 200px" ng-src="{{perfilPath + profesor.foto_nombre}}"></div>
                    <div class="col-lg-10 col-sm-12">
                      <div class="row">
                        <div class="form-group col-lg-4 col-sm-6">
                          <label for="profesor-nombres">Nombres</label>
                          <input id="profesor-nombres" type="text" ng-model="profesor.nombres_profesor" placeholder="Nombres" class="form-control">
                        </div>
                        <div class="form-group col-lg-4 col-sm-6">
                          <label for="profesor-apellidos">Apellidos</label>
                          <input id="profesor-apellidos" type="text" ng-model="profesor.apellidos_profesor" placeholder="Apellidos" class="form-control">
                        </div>
                        <div style="margin-bottom: 5px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
                          <label>Sexo</label>
                          <div class="row">
                            <div class="col-lg-3 col-sm-4 col-xs-6">
                              <div class="radio">
                                <label>
                                  <input type="radio" name="sexo" value="M" ng-model="profesor.sexo" class="inverted"><span class="text">Masculino</span>
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-xs-6">
                              <div class="radio">
                                <label>
                                  <input type="radio" name="sexo" value="F" ng-model="profesor.sexo" class="inverted"><span class="text">Femenino</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div style="margin-bottom: 5px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
                          <label>Tipo</label>
                          <div class="row">
                            <div style="padding: 0;" class="col-lg-3 col-sm-4 col-xs-6">
                              <div class="radio">
                                <label>
                                  <input type="radio" name="tipo_profesor" value="Tiempo completo" ng-model="profesor.tipo_profesor" class="inverted"><span class="text">Tiempo completo</span>
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-xs-6">
                              <div class="radio">
                                <label>
                                  <input type="radio" name="tipo_profesor" value="Catedrático" ng-model="profesor.tipo_profesor" class="inverted"><span class="text">Catedrático</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-4 col-sm-6">
                          <label for="profesor-titulo">Título</label>
                          <input id="profesor-titulo" type="text" ng-model="profesor.titulo" placeholder="Título o profesión" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="animation-delay: 0.8s;" class="widget animated bounceIn">
                <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption">Nacimiento</span></div>
                <div class="widget-body">
                  <div class="row">
                    <div style="margin-bottom: 12px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label for="profesor-fecha-nac">Fecha de nacimiento</label>
                      <div class="controls">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          <input id="profesor-fecha-nac" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="profesor.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento" datepicker-append-to-body="true" class="form-control active">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label>Pais</label>
                      <ui-select ng-model="profesor.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;" append-to-body="true">
                        <ui-select-match placeholder="Pais nacimiento" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
                        <ui-select-choices repeat="pais in paises | filter: $select.search">
                          <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label>Departamento</label>
                      <ui-select ng-model="profesor.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;" append-to-body="true">
                        <ui-select-match placeholder="Departamento nacimiento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
                        <ui-select-choices repeat="departamento in departamentosNac | filter: $select.search">
                          <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label>Ciudad</label>
                      <ui-select ng-model="profesor.ciudad_nac" style="width: 100%;" append-to-body="true">
                        <ui-select-match placeholder="Ciudad nacimiento" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
                        <ui-select-choices repeat="ciudad in ciudadesNac | filter: $select.search">
                          <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div style="animation-delay: 1s;" class="widget animated bounceIn">
                <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption">Documento</span></div>
                <div class="widget-body">
                  <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label>Tipo</label>
                      <ui-select ng-model="profesor.tipo_doc" style="width: 100%;" append-to-body="true">
                        <ui-select-match placeholder="Tipo de documento" allow-clear="true">{{$select.selected.tipo}}{{ ' ('+$select.selected.abrev+')'}}</ui-select-match>
                        <ui-select-choices repeat="tipo_doc in tipos_doc">
                          <div ng-bind-html="tipo_doc.tipo | highlight: $select.search"></div><small>{{ tipo_doc.abrev}}</small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label for="profesor-documento">Número documento</label>
                      <input id="profesor-documento" type="text" ng-model="profesor.num_doc" placeholder="Documento" class="form-control">
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label>Pais</label>
                      <ui-select ng-model="profesor.pais_doc" on-select="paisDocSelect($item, $model)" style="width: 100%;" append-to-body="true">
                        <ui-select-match placeholder="Pais documento" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
                        <ui-select-choices repeat="pais in paises | filter: $select.search">
                          <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label>Departamento</label>
                      <ui-select ng-model="profesor.departamento_doc" on-select="departDocSelect($item, $model)" style="width: 100%;" append-to-body="true">
                        <ui-select-match placeholder="Departamento documento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
                        <ui-select-choices repeat="departamento in departamentos | filter: $select.search">
                          <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                      <label>Ciudad</label>
                      <ui-select ng-model="profesor.ciudad_doc" style="width: 100%;">
                        <ui-select-match placeholder="Ciudad documento" allow-clear="true" append-to-body="true">{{$select.selected.ciudad}}</ui-select-match>
                        <ui-select-choices repeat="ciudad in ciudades | filter: $select.search">
                          <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
            </uib-tab>
            <uib-tab heading="Datos extras">
              <div class="row">
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-estado-civil">Estado civil</label>
                  <ui-select ng-model="profesor.estado_civil" theme="select2" style="width: 100%;" append-to-body="true">
                    <ui-select-match placeholder="Estado civil" allow-clear="true">{{$select.selected.estado_civil}}</ui-select-match>
                    <ui-select-choices repeat="estado in estados_civiles | filter: $select.search">
                      <div ng-bind-html="estado.estado_civil | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-telefono">Teléfono</label>
                  <input id="profesor-telefono" type="text" ng-model="profesor.telefono" placeholder="Teléfono" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-celular">Celular</label>
                  <input id="profesor-celular" type="text" ng-model="profesor.celular" placeholder="Celular" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-barrio">Barrio</label>
                  <input id="profesor-barrio" type="text" ng-model="profesor.barrio" placeholder="Barrio" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-direccion">Direccion</label>
                  <input id="profesor-direccion" type="text" ng-model="profesor.direccion" placeholder="Direccion" class="form-control">
                </div>
              </div>
            </uib-tab>
            <uib-tab heading="Usuario">
              <div class="row">
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-username">Nombre de usuario</label>
                  <input id="profesor-username" type="text" ng-model="profesor.username" placeholder="Nombre usuario" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-password">Contraseña</label>
                  <input id="profesor-password" type="password" ng-model="profesor.password" placeholder="Contraseña" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-password2">Verificar contraseña</label>
                  <input id="profesor-password2" type="password" ng-model="profesor.password2" placeholder="Verificar contraseña" class="form-control">
                </div>
                <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                  <label for="profesor-email">Correo electrónico</label>
                  <input id="profesor-email" type="email" ng-model="profesor.email" placeholder="Correo electrónico" class="form-control">
                </div>
              </div>
            </uib-tab>
          </uib-tabset><br>
          <input type="submit" ng-submit="guardar()" value="Guardar cambios" class="btn btn-primary btn-lg shiny"><a type="button" ui-sref="panel.profesores" class="btn btn-warning btn-lg shiny">Ocultar</a>
        </form>
      </div>
    </div>
  </div>
</div>