.row(ui-view="edit_profesor")


.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer.animated.bounceIn
			.header.bordered-blue Profesores
				a.btn.btn-info.shiny(ui-sref="panel.profesores.nuevo" uib-tooltip="Ingresa datos de un nuevo alumno") Nuevo profesor

			.form-title Todos los profesores:


				#grid1.grid(ui-grid="gridOptions" ui-grid-exporter ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize ui-grid-cellnav ui-grid-selection ui-grid-pinning style="height: 400px")

			br
			br
			.form-title Profesores contratados este año {{USER.year}}:
			#grid2.grid(ui-grid="gridCurrentOptions" ui-grid-exporter ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize)

			.footer
				| Puedes ver todos los profesores de años anteriores y el presente.
