form.login-container.animated.fadeInDown(ng-submit="reset(credentials)" name="loginForm")
	.loginbox.bg-white
		.loginbox-title Resetear contrase単a
		.loginbox-social
			.social-title Escribe tu nueva contrase単a 2 veces
			small
				img(ng-src="{{logoPath}}" alt="MYVC")

		.loginbox-or
			.or-line
			.or Datos
		.loginbox-textbox
			input.form-control(type='text', placeholder='Usuario' ng-model="username" disabled="disabled")
		.loginbox-textbox
			input.form-control(type='password', placeholder='Contrase単a' ng-model="credentials.password1" autofocus)
		.loginbox-textbox
			input.form-control(type='password', placeholder='Repita contrase単a' ng-model="credentials.password2")
		.loginbox-submit
			input.btn.btn-primary.btn-block(type='submit', value='Resetear')


