.row(ui-view="edit_alumno")


.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer.animated.bounceIn
			.header.bordered-yellow
				span(style="font-size: 12pt") Acudientes
				a.btn.btn-info.shiny(href="" ng-click="crearAcudiente()" uib-tooltip="Ingresa datos de un nuevo acudiente" style="float: right;" tooltip-append-to-body="true")
					i.fa.fa-plus
					|   Crear acudiente

				.btn-group
					a.btn.btn-info.shiny(href="" ng-click="exportarAcudientesPlanillas()" uib-tooltip="Exportar acudientes a Excel" tooltip-append-to-body="true")
						i.fa.fa-download
						|   Exportar

				.btn-group
					a.btn.btn-info.shiny(href="" ng-click="verPlanillas()" uib-tooltip="Ver informe de planilla de asistencia para imprimir" tooltip-append-to-body="true")
						i.fa.fa-print
						|   Planillas


			.form-group
				selector-grupo-dir
				div(style="margin-top: 10px;")
					a(ng-click="traerNOAsignados()" href="" style="margin: 20px 0px;" uib-tooltip="Mostrar acudientes NO asignados a algún alumno") Mostrar los NO asignados


			#grid1.grid(ui-grid="gridOptions" ui-grid-exporter ui-grid-move-columns ui-grid-expandable ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize ui-grid-pinning style="height: 700px")




