
<div ui-view="edit_alumno" class="row"></div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer animated bounceIn">
      <div class="header bordered-yellow"><span style="font-size: 12pt">Alumnos</span><a ui-sref="panel.alumnos.nuevo" uib-tooltip="Ingresa datos de un nuevo alumno" style="float: right;" class="btn btn-info shiny"><i class="fa fa-plus"></i>  Crear alumno</a>
        <div class="btn-group"><a href="" ng-click="exportarAlumnos()" uib-tooltip="Exportar alumnos a Excel" class="btn btn-info shiny"><i class="fa fa-download"></i>  Descargar</a><a href="" uib-tooltip="Importar alumnos desde Excel" type="file" ngf-select="importarSimat($file, $invalidFiles)" accept=".xls,.xlsx" ngf-max-size="1MB" class="btn btn-info shiny"><i class="fa fa-upload"></i>  Subir</a></div>
      </div>
      <div class="form-group">
        <selector-grupo-dir></selector-grupo-dir>
      </div>
      <div style="border: 1px solid rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        <button ng-click="cambiarVariasClaves()" class="btn btn-default">Cambiar claves y usuarios</button>
        <div ng-show="cambiandoClave" style="padding: 5px; ">
          <input ng-model="clave_cambiar" type="text" placeholder="Escriba contraseña" style="width: 257px" class="form-control">
          <input ng-click="guardarClaves()" type="button" value="Cambiar a grupo" uib-tooltip="Cambiar contraseña SOLO a grupo" class="btn btn-default">
          <input ng-click="guardarClavesTodosAlumnos()" type="button" value="Cambiar a todos" uib-tooltip="Cambiar a TODOS los ALUMNOS del plantel" class="btn btn-default"><br>
          <input ng-click="guardarClavesTodosAcudientes()" type="button" value="Cambiar a los acudientes" uib-tooltip="Cambiar a TODOS los acudientes del plantel" style="width: 257px" class="btn btn-default"><br>
          <div style="margin-top: 20px;">Establecer documento como usuario a todos los grupos (los que no tengan documento NO serán modificados y los errores por documentos duplicados serán ignorados):</div>
          <input ng-click="PonerDocumentoComoUsernameAlumnos()" type="button" value="Establecer documento a alumnos" class="btn btn-default">
          <input ng-click="PonerDocumentoComoUsernameAcudientes()" type="button" value="Establecer documento a acudientes" class="btn btn-default">
        </div>
      </div>
      <p style="margin-top: 8px">Mueva las columnas para mayor comodidad y oculte las que desee:</p>
      <div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-move-columns ui-grid-expandable ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize ui-grid-pinning style="height: 600px" class="grid"></div>
      <hr class="wide">
      <h4 style="margin-top: 15px">Alumnos retirados {{ USER.year }}:<a href="" ng-click="mostrar_retirados=!mostrar_retirados" style="margin-left: 20px"><i class="fa fa-eye"></i></a></h4>
      <table ng-if="mostrar_retirados" class="table table-striped">
        <thead>
          <tr>
            <th style="max-width: 10px">No</th>
            <th><a href="" ng-click="dato.sortType = 'no_matricula'; dato.sortReverse = !dato.sortReverse">Matrícula<span ng-show="dato.sortType == 'no_matricula' &amp;&amp; !dato.sortReverse" class="fa fa-caret-down"></span><span ng-show="dato.sortType == 'no_matricula' &amp;&amp; dato.sortReverse" class="fa fa-caret-up"></span></a></th>
            <th><a href="" ng-click="dato.sortType = 'apellidos'; dato.sortReverse = !dato.sortReverse">Apellidos<span ng-show="dato.sortType == 'apellidos' &amp;&amp; !dato.sortReverse" class="fa fa-caret-down"></span><span ng-show="dato.sortType == 'apellidos' &amp;&amp; dato.sortReverse" class="fa fa-caret-up"></span></a></th>
            <th><a href="" ng-click="dato.sortType = 'nombres'; dato.sortReverse = !dato.sortReverse">Nombres<span ng-show="dato.sortType == 'nombres' &amp;&amp; !dato.sortReverse" class="fa fa-caret-down"></span><span ng-show="dato.sortType == 'nombres' &amp;&amp; dato.sortReverse" class="fa fa-caret-up"></span></a></th>
            <th style="max-width: 20px; padding: 0px 0px 8px;"><a href="" ng-click="dato.sortType = 'sexo'; dato.sortReverse = !dato.sortReverse"><i style="font-weight: bold;" class="fa fa-venus-mars"></i><span ng-show="dato.sortType == 'sexo' &amp;&amp; !dato.sortReverse" class="fa fa-caret-down"></span><span ng-show="dato.sortType == 'sexo' &amp;&amp; dato.sortReverse" class="fa fa-caret-up"></span></a></th>
            <th style="min-width: 180px; text-align: center;"><a href="" ng-click="dato.sortType = 'estado'; dato.sortReverse = !dato.sortReverse">Estado<span ng-show="dato.sortType == 'estado' &amp;&amp; !dato.sortReverse" class="fa fa-caret-down"></span><span ng-show="dato.sortType == 'estado' &amp;&amp; dato.sortReverse" class="fa fa-caret-up"></span></a></th>
            <th><a href="" ng-click="dato.sortType = 'fecha_retiro'; dato.sortReverse = !dato.sortReverse">Retirado<span ng-show="dato.sortType == 'fecha_retiro' &amp;&amp; !dato.sortReverse" class="fa fa-caret-down"></span><span ng-show="dato.sortType == 'fecha_retiro' &amp;&amp; dato.sortReverse" class="fa fa-caret-up"></span></a></th>
            <th><a href="" ng-click="dato.sortType = 'fecha_matricula'; dato.sortReverse = !dato.sortReverse">Matriculado<span ng-show="dato.sortType == 'fecha_matricula' &amp;&amp; !dato.sortReverse" class="fa fa-caret-down"></span><span ng-show="dato.sortType == 'fecha_matricula' &amp;&amp; dato.sortReverse" class="fa fa-caret-up"></span></a></th>
          </tr>
        </thead>
        <tbody class="filasestrechas">
          <tr ng-repeat="alumno in AlumnosDesertRetir | orderBy:dato.sortType:dato.sortReverse track by $index">
            <td>{{ $index+1 }}</td>
            <td class="content-menu-matrics">{{ alumno.no_matricula }}
              <div><a ui-sref="panel.matriculas.detalles({alumno_id: alumno.alumno_id})" uib-tooltip="Ver matrículas" class="btn btn-default btn-xs menu-matrics"><i class="fa fa-pencil"></i></a></div>
            </td>
            <td>
              <div uib-popover-template="views+'alumnos/popoverAlumnoInfo.tpl.html'" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-trigger="'mouseenter'" popover-popup-delay="500"><img ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 20px; height: 20px; margin-top: -3px;">{{ alumno.apellidos }}</div>
            </td>
            <td>{{ alumno.nombres }}</td>
            <td>{{ alumno.sexo }}</td>
            <td><span ng-show="alumno.grupo_id==dato.grupo.id || alumno.estado=='RETI' "><span style="margin-top: -2px; padding-bottom: 2px;" class="btn-group">
                  <label ng-model="alumno.estado" uib-btn-radio="'MATR'" ng-click="reMatricularUno(alumno)" class="btn btn-info btn-xs">Matr</label>
                  <label ng-model="alumno.estado" uib-btn-radio="'ASIS'" ng-click="setAsistente(alumno)" class="btn btn-info btn-xs">Asis</label>
                  <label ng-model="alumno.estado" uib-btn-radio="'RETI'" ng-click="retirar(alumno)" class="btn btn-info btn-xs">Reti</label>
                  <label ng-model="alumno.estado" uib-btn-radio="'DESE'" ng-click="desertar(alumno)" uib-tooltip="Desertor" tooltip-placement="right" tooltip-popup-delay="1000" class="btn btn-info btn-xs">Dese</label>
                  <label ng-model="alumno.estado" ng-click="matricularEn(alumno)" uib-tooltip="Matricular en..." tooltip-placement="right" tooltip-popup-delay="1000" class="btn btn-info btn-xs">...</label></span></span>
              <div ng-show="alumno.grupo_id!=dato.grupo.id " style="margin-top: -2px; padding-bottom: 2px;" class="btn-group">
                <label ng-click="setNewAsistente(alumno)" uib-tooltip="Inscribir como asistente" class="btn btn-success shiny btn-xs">Asis</label>
                <label ng-click="matricularUno(alumno)" uib-tooltip="Matricular" tooltip-popup-delay="1000" class="btn btn-success shiny btn-xs">Matric</label>
                <label ng-click="matricularEn(alumno)" uib-tooltip="Matricular en..." tooltip-placement="right" class="btn btn-success shiny btn-xs">...</label>
              </div>
            </td>
            <td>
              <input ng-model="alumno.fecha_retiro" type="date" ng-show="alumno.estado=='RETI' || alumno.estado=='DESE'" ng-change="cambiarFechaRetiro(alumno)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }">
            </td>
            <td>
              <input ng-model="alumno.fecha_matricula" type="date" ng-change="cambiarFechaMatricula(alumno)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }">
            </td>
          </tr>
        </tbody>
      </table>
      <hr class="wide">
      <h4 style="margin-top: 15px">Alumnos del año pasado {{ USER.year - 1 }}:<a href="" ng-click="mostrar_pasado=!mostrar_pasado" style="margin-left: 20px"><i class="fa fa-eye"></i></a></h4>
      <div ng-if="mostrar_pasado">
        <div id="grid1" ui-grid="gridOptionsSinMatricula" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize style="height: 400px" class="grid"></div>
      </div>
      <hr class="wide">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <form ng-submit="buscar_por('nombre')">
            <div>Buscar en todo el sistema(retirados, de otros años, etc.):
              <div class="input-group">
                <input type="text" name="buscar" placeholder="Buscar..." ng-model="texto_a_buscar" class="form-control">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">Por nombre</button>
                  <button type="button" ng-click="buscar_por('apellido')" class="btn btn-default">Por Apellido</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <table ng-show="alumnos_encontrados.length&gt;0" style="max-height: 700px; overflow-y: scroll; display: block;" class="table table-striped">
        <thead>
          <tr>
            <th style="max-width: 25px">No</th>
            <th style="min-width: 170px" class="text-center">Matrícula</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Nombres</th>
            <th style="max-width: 20px; padding: 0px 0px 8px;" class="text-center"><i style="font-weight: bold;" class="fa fa-venus-mars"></i></th>
            <th uib-tooltip="Grupo en este año" tooltip-append-to-body="true" class="text-center">Gru</th>
            <th style="min-width: 120px; text-align: center;" class="text-center">Creado en</th>
            <th class="text-center">Modificado</th>
            <th class="text-center">Eliminado</th>
          </tr>
        </thead>
        <tbody class="filasestrechas">
          <tr ng-repeat="alumno in alumnos_encontrados track by $index" ng-class="{'filagris': alumno.grupo_id!=dato_f.grupo.id, 'filawarning': alumno.estado=='ASIS' }" ng-show="!alumno.restaurado">
            <td>{{ $index+1 }}</td>
            <td class="text-center">
              <div class="btn-group"><a ui-sref="panel.alumnos.matricula_detalles({alumno_id: alumno.alumno_id})" uib-tooltip="Ver matrículas" tooltip-append-to-body="true" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a><a ng-click="matricularUno(alumno)" uib-tooltip="Matricular en {{dato.grupo.abrev}}" tooltip-append-to-body="true" tooltip- class="btn btn-default btn-xs">Matri en {{dato.grupo.abrev}}</a><a ng-click="matricularEn(alumno)" uib-tooltip="Matricular en..." tooltip-append-to-body="true" tooltip- class="btn btn-default btn-xs">Matri en...</a></div>
            </td>
            <td>
              <div uib-popover-template="views+'alumnos/popoverAlumnoInfo.tpl.html'" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-trigger="'mouseenter'" popover-popup-delay="500"><img ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 20px; height: 20px; margin-top: -3px;">{{ alumno.apellidos }}</div>
            </td>
            <td>{{ alumno.nombres }}</td>
            <td>{{ alumno.sexo }}</td>
            <td style="background-color: #a8cbea!important;" uib-tooltip="{{alumno.estado}} - {{alumno.nombre_grupo}}" tooltip-append-to-body="true" class="text-center">{{ alumno.abrev_grupo }}</td>
            <td style="font-size: 7pt" class="text-center">{{ alumno.created_at }}</td>
            <td style="font-size: 7pt" class="text-center">{{ alumno.updated_at }}</td>
            <td style="font-size: 7pt" ng-class="{danger: alumno.deleted_at}" class="text-center">{{ alumno.deleted_at }}
              <button uib-tooltip="Sacar de papelera" ng-click="restaurar(alumno)" ng-show="alumno.deleted_at" class="btn btn-default btn-xs"><i class="fa fa-refresh"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="footer">Matriculas optimizadas para eficiencia superior.</div>
    </div>
  </div>
</div>
<div ui-view="matricula_detalle" class="row page-body"></div>