.badge(ng-repeat="aspiracion in row.entity.aspiraciones" 
	uib-tooltip="{{ aspiracion.aspiracion }}: {{ aspiracion.votos[0].created_at | date:'d MMM hh:mm a' }}" 
	tooltip-placement="right"
	ng-class="{'badge-success': aspiracion.votos.length > 0, 'badge-warning': aspiracion.votos.length == 0}")
	| {{ aspiracion.abrev }}: {{ aspiracion.votos.length }}