.modal-header
	h3.modal-title ¿Cuál es el estado de la promoción de este estudiante?
.modal-body
	.row(ng-show="!modificarCiudades") 
		.col-lg-12.col-xs-12
			h4(style="text-overflow: ellipsis") {{persona.nombres}} {{persona.apellidos}}
			
			.row(ng-repeat="opcion in opciones_promo" uib-tooltip="{{opcion.descripcion}}")
				.col-sm-1.col-xs-0
				.col-sm-10.col-xs-12
					button.btn.btn-default.btn-block(type="button" ng-class="{disabled: opcion.disabled}" ng-click="setPromovido(opcion)") {{opcion.valor}}
						i.btn-label.fa.fa-check(ng-show="persona.promovido == opcion.valor")
				.col-sm-1.col-xs-0
				
								

.modal-footer
	button.btn.btn-primary(ng-click="cancel()") Cerrar