
<div class="modal-header">
  <h3 class="modal-title">¿Cuál es el estado de la promoción de este estudiante?</h3>
</div>
<div class="modal-body">
  <div ng-show="!modificarCiudades" class="row"> 
    <div class="col-lg-12 col-xs-12">
      <h4 style="text-overflow: ellipsis">{{persona.nombres}} {{persona.apellidos}}</h4>
      <div ng-repeat="opcion in opciones_promo" uib-tooltip="{{opcion.descripcion}}" class="row">
        <div class="col-sm-1 col-xs-0"></div>
        <div class="col-sm-10 col-xs-12">
          <button type="button" ng-class="{disabled: opcion.disabled}" ng-click="setPromovido(opcion)" class="btn btn-default btn-block">{{opcion.valor}}<i ng-show="persona.promovido == opcion.valor" class="btn-label fa fa-check"></i></button>
        </div>
        <div class="col-sm-1 col-xs-0"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="cancel()" class="btn btn-primary">Cerrar</button>
</div>