
<div class="modal-header">
  <h3 class="modal-title">Cambiar ciudad <span style="font-weight: 700">- {{ persona[tipo_ciudad + '_nombre'] }}</span></h3>
</div>
<div class="modal-body">
  <div ng-show="!modificarCiudades" class="row"> 
    <div class="col-lg-12 col-xs-12">
      <h4 style="text-overflow: ellipsis">{{persona.nombres}} {{persona.apellidos}}</h4>
      <div class="row"> 
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Pais</label>
          <ui-select ng-model="datos.pais" on-select="paisSelect($item, 1)" style="width: 100%;">
            <ui-select-match placeholder="Elija Pais" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
            <ui-select-choices repeat="pais in paises | filter: $select.search">
              <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Departamento</label>
          <ui-select ng-model="datos.departamento" on-select="departamentoSelect($item, 1)" style="width: 100%;" autofocus focus-on="paisSeleccionadoEvent1">
            <ui-select-match placeholder="Elija Departamento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
            <ui-select-choices repeat="departamento in departamentos | filter: $select.search">
              <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Ciudad</label>
          <ui-select ng-model="datos.ciudad" style="width: 100%;" focus-on="departamentoSeleccionadoEvent1">
            <ui-select-match placeholder="Elija Ciudad" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
            <ui-select-choices repeat="ciudad in ciudades | filter: $select.search">
              <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12"><a href="" ng-click="modificarCiudades = !modificarCiudades" style="margin-top: 30px; display: block;">
             
            Modificar / Agregar ciudades</a></div>
      </div>
    </div>
  </div>
  <div ng-show="modificarCiudades" class="row"> 
    <uib-tabset active="" class="widget-main">
      <uib-tab heading="Editar ciudades">
        <div class="row">
          <div class="form-group col-lg-4 col-sm-6 col-xs-12">
            <label>Pais</label>
            <ui-select ng-model="datos.pais" on-select="paisSelect($item, 2)" style="width: 100%;">
              <ui-select-match placeholder="Pais" allow-clear="true">{{$select.selected.pais}}</ui-select-match>
              <ui-select-choices repeat="pais in paises | filter: $select.search">
                <div ng-bind-html="pais.pais | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group col-lg-4 col-sm-6 col-xs-12">
            <label>Departamento</label>
            <ui-select ng-model="datos.departamento" on-select="departamentoSelect($item, 2)" style="width: 100%;" focus-on="paisSeleccionadoEvent2">
              <ui-select-match placeholder="Departamento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
              <ui-select-choices repeat="depart in departamentos | filter: $select.search">
                <div ng-bind-html="depart.departamento | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div ng-show="!mostrarAgregarCiudad" class="col-lg-6 col-sm-6 col-xs-12"><a href="" ng-click="mostrarAgregarCiudad = true">Crear ciudad/departamento</a></div>
          <div ng-show="mostrarAgregarCiudad" class="form-group col-lg-6 col-sm-6 col-xs-12">
            <input type="text" ng-model="departamento_new" ng-change="escribeEnDepartamentoNew()" placeholder="Departamento nuevo" uib-tooltip="Escriba nuevo o elija de arriba " class="form-control">
          </div>
          <div ng-show="mostrarAgregarCiudad" class="form-group col-lg-6 col-sm-6 col-xs-12">
            <form ng-submit="guardarCiudad(ciudad_new, departamento_new)"> 
              <div class="input-group">
                <input type="text" ng-model="ciudad_new" placeholder="Nueva ciudad" class="form-control">
                <div class="input-group-btn">
                  <button type="submit" aria-label="Agregar ciudad" uib-tooltip="Guardar nueva ciudadd" class="btn btn-default"><i class="fa fa-plus"> </i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="orders-container listado-ciudades-edit">
              <div style="text-align: center" class="orders-header">
                <h6 style="font-size: 14pt">Ciudad - Departamento</h6>
              </div>
              <ul class="orders-list">
                <li ng-repeat="ciudad in ciudades track by $index" ng-dblclick="ok(ciudad)" style="padding: 0px 10px;" class="order-item"> 
                  <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 item-left">
                      <div style="margin-right: 10px; margin-top: -5px;" class="btn-group">
                        <button ng-hide="ciudad.editandoCiudad" ng-click="eliminarCiudad(ciudad)" aria-label="Eliminar ciudad" uib-tooltip="Eliminar ciudad" class="btn btn-danger btn-sm">
                          <div class="fa fa-trash"></div>
                        </button>
                        <button ng-hide="ciudad.editandoCiudad" ng-click="ciudad.editandoCiudad=!ciudad.editandoCiudad" aria-label="Editar ciudad" uib-tooltip="Editar ciudad" class="btn btn-default btn-sm">
                          <div class="fa fa-pencil"></div>
                        </button>
                      </div><span ng-hide="ciudad.editandoCiudad" style="font-weight: bold; font-size: 12pt; display: inline-block;" ng-click="ciudad.editandoCiudad=!ciudad.editandoCiudad" class="item-booker">{{ciudad.ciudad}}</span><span ng-show="ciudad.editandoCiudad" class="item-booker">
                        <form ng-submit="actualizarCiudad(ciudad)"> 
                          <div style="margin-top: -12px; padding-bottom: 5px;" class="input-group">
                            <input ng-model="ciudad.ciudad" style="height: 30px;" class="form-control">
                            <div class="input-group-btn">
                              <button ng-show="ciudad.editandoCiudad" type="submit" aria-label="Editar ciudad" uib-tooltip="Editar ciudad" class="btn btn-default btn-sm">
                                <div class="fa fa-save"></div>
                              </button>
                            </div>
                          </div>
                        </form></span>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 item-right">
                      <div style="margin: 0px auto; color: #999" class="item-price"><span ng-hide="ciudad.editandoDepart" ng-click="ciudad.editandoDepart=!ciudad.editandoDepart">({{ciudad.departamento}}) </span><span ng-show="ciudad.editandoDepart"> 
                          <form ng-submit="actualizarDepartamento(ciudad)"> 
                            <div style="margin-top: 6px; padding-bottom: 5px;" class="input-group">
                              <input ng-model="ciudad.departamento" style="height: 30px;" class="form-control">
                              <div class="input-group-btn">
                                <button ng-show="ciudad.editandoDepart" type="submit" aria-label="Editar departamento" uib-tooltip="Editar departamento" class="btn btn-default btn-sm">
                                  <div class="fa fa-save"></div>
                                </button>
                              </div>
                            </div>
                          </form></span>
                        <button ng-hide="ciudad.editandoDepart" ng-click="ciudad.editandoDepart=!ciudad.editandoDepart" aria-label="Editar departamento" class="btn btn-default btn-sm">
                          <div class="fa fa-pencil"></div>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="cancel()" class="btn btn-yellow">Cancelar</button>
  <button ng-click="ok()" class="btn btn-labeled btn-primary">Seleccionar<i class="btn-label fa fa-check"></i></button>
</div>