
<div class="modal-header">
  <h3 class="modal-title">{{USER.year}} - Matricular en...</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <h5>Id: {{alumno.alumno_id}}</h5>
      <div>Nombre:</div>
      <h4 style="text-overflow: ellipsis; font-weight: bold">{{alumno.nombres}} {{alumno.apellidos}}</h4>
      <form role="form" class="form form-inline">
        <div class="form-group">
          <label>Grupo en el cual matricular</label>
          <div><span uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right">
              <ui-select ng-model="dato.grupo" theme="select2" style="min-width: 200px;">
                <ui-select-match placeholder="Grupo a matricular" allow-clear="true">{{$select.selected.nombre}}</ui-select-match>
                <ui-select-choices repeat="grupo in grupos | filter: $select.search">
                  <div ng-bind-html="grupo.nombre | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select></span></div>
        </div>
      </form>
      <div style="padding-top: 10px">
        <label>¿Es Repitente en este año?</label><a ng-class="{'btn-primary':alumno.repitente, 'btn-info':!alumno.repitente }" ng-click="toggleRepitente(alumno);" uib-tooltip="Perdió el año pasado en esta institución" href="" tooltip-enable="alumno.repitente" style="margin-left: 8px;" class="btn btn-xs"><span ng-hide="alumno.repitente">No</span><span ng-show="alumno.repitente">Si</span></a>
      </div>
      <div style="padding-top: 10px">
        <label>¿Es Nuevo en este año?</label><a ng-class="{'btn-primary':alumno.nuevo, 'btn-info':!alumno.nuevo }" ng-click="toggleNuevo(alumno);" uib-tooltip="Llegó al colegio este año" href="" tooltip-enable="alumno.nuevo" class="btn btn-xs"><span ng-hide="alumno.nuevo">No</span><span ng-show="alumno.nuevo">Si</span></a>
      </div>
      <div style="padding-top: 4px">
        <label>¿Es Egresado de la institución?</label><a ng-class="{'btn-primary':alumno.egresado, 'btn-info':!alumno.egresado }" ng-click="toggleEgresado(alumno);" uib-tooltip="Es Egresado de la institución" href="" tooltip-enable="alumno.egresado" class="btn btn-xs"><span ng-hide="alumno.egresado">No</span><span ng-show="alumno.egresado">Si</span></a>
      </div>
      <div style="padding-top: 4px">
        <label>¿Activo?</label><a ng-class="{'btn-primary':alumno.is_active, 'btn-danger':!alumno.is_active }" ng-click="toggleActive(alumno);" uib-tooltip="¿Puede ingresar al sistema?" href="" tooltip-enable="alumno.is_active" class="btn btn-xs"><span ng-hide="alumno.is_active">No</span><span ng-show="alumno.is_active">Si</span></a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="cancel()" class="btn btn-yellow">Cerrar</button>
  <button ng-click="ok()" class="btn btn-labeled btn-primary">Matricular<i class="btn-label fa fa-save"></i></button>
</div>