
<div class="modal-header">
  <h3 class="modal-title">Selecciona o crea un acudiente a</h3>
</div>
<div class="modal-body">
  <div style="padding-bottom: 10px;"><img ng-src="{{ perfilPath + alumno.foto_nombre }}" style="width: 70px">
    <h3 style="display: inline;">{{ alumno.nombres }} {{ alumno.apellidos }}</h3>
    <h4 style="border: 1px solid #ccc; padding: 4px;">Actual:<span style="font-weight: bold">  {{acudiente_cambiar.nombres}} {{acudiente_cambiar.apellidos}}.</span>  ID:  {{acudiente_cambiar.id}}.<span style="font-weight: bold">   {{acudiente_cambiar.parentesco}}</span></h4>
  </div>
  <uib-tabset active="config.informe_tab_actual" class="widget-main">
    <uib-tab heading="Seleccionar" index="'seleccionar'" select="selectSelectTab()">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <h4>Acudientes</h4>
          <div style="padding: 2px;" class="form-group col-lg-8 col-sm-8 col-xs-12">
            <label uib-tooltip="Entre paréntesis, la cantidad de acudidos que tiene cada acudiente. A la derecha el código del acudiente.">Seleccione</label>
            <ui-select id="select-acudiente-agregar" ng-model="datos.acudiente" autofocus="true" style="width: 100%;" on-select="selecAcudOption(datos.acudiente)">
              <ui-select-match placeholder="Escribe mínimo 1 letra" allow-clear="true">{{$select.selected.nombres}} {{$select.selected.apellidos}}</ui-select-match>
              <ui-select-choices repeat="acudiente in acudientes track by $index" refresh="refreshAcudientes($select.search)" refresh-delay="1"><small style="float: right; font-size: 75%;">{{ acudiente.id }}</small><span ng-bind-html="'(' + acudiente.cant_acudidos + ') ' +acudiente.nombres + ' ' + acudiente.apellidos | highlight: $select.search"></span></ui-select-choices>
            </ui-select>
          </div>
          <div style="padding: 2px;" class="form-group col-lg-4 col-sm-4 col-xs-12">
            <label>Parentesco</label>
            <ui-select ng-model="acudiente.parentesco" on-select="parentescoSelect($item, $model)" style="width: 100%;">
              <ui-select-match placeholder="Parentesco" allow-clear="true">{{$select.selected.parentesco}}</ui-select-match>
              <ui-select-choices repeat="parentesc in parentescos | filter: $select.search">
                <div ng-bind-html="parentesc.parentesco | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div id="ocupacion-autocompletar1" style="padding: 2px;" ng-if="false" class="form-group col-lg-6 col-sm-6 col-xs-12">
            <label for="acudiente-select-ocupacion">Ocupación</label>
            <input id="acudiente-select-ocupacion" type="text" ng-model="acudiente.ocupacion" placeholder="Ocupación" typeahead-append-to="'#ocupacion-autocompletar1'" typeahead-min-length="1" uib-typeahead="ocupacion_check for ocupacion_check in ocupacionCheck($viewValue)" typeahead-loading="loadingOcupaciones" typeahead-no-results="noResults" class="form-control"><i ng-show="loadingOcupaciones" style="font-size: 7pt" class="fa fa-refresh"></i>
            <div ng-show="noResults" style="font-size: 7pt"><i class="fa fa-check"></i>No existe. Puedes agregarla.</div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Crear nuevo" index="'nuevo'" select="selectCrearTab()">
      <div class="row">
        <div class="form-group col-lg-4 col-sm-6">
          <label for="acudiente-new-nombres">Nombres</label>
          <input id="acudiente-new-nombres" type="text" ng-model="acudiente.nombres" placeholder="Nombres" class="form-control">
        </div>
        <div class="form-group col-lg-4 col-sm-6">
          <label for="acudiente-new-apellidos">Apellidos</label>
          <input id="acudiente-new-apellidos" type="text" ng-model="acudiente.apellidos" placeholder="Apellidos" class="form-control">
        </div>
        <div style="margin-bottom: 5px;" class="form-group col-lg-4 col-sm-12 col-xs-12">
          <label style="display: block">Sexo: {{ acudiente.sexo == 'M' ? 'Masculino' : 'Femenino' }}</label>
          <div class="btn-group">
            <label style="padding: 1px" ng-click="selecAcudOption(acudiente)" tooltip="Masculino" ng-model="acudiente.sexo" uib-btn-radio="'M'" class="btn btn-default"><img style="width: 60px" tooltip="Masculino" ng-src="{{perfilPath}}default_male.png"></label>
            <label style="padding: 1px" ng-click="selecAcudOption(acudiente)" tooltip="Femenino" ng-model="acudiente.sexo" uib-btn-radio="'F'" class="btn btn-default"><img style="width: 60px" tooltip="Femenino" ng-src="{{perfilPath}}default_female.png"></label>
          </div>
        </div>
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Parentesco</label>
          <ui-select ng-model="acudiente.parentesco" on-select="parentescoSelect($item, $model)" style="width: 100%;">
            <ui-select-match placeholder="Parentesco" allow-clear="true">{{$select.selected.parentesco}}</ui-select-match>
            <ui-select-choices repeat="parentesc in parentescos | filter: $select.search">
              <div ng-bind-html="parentesc.parentesco | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
            </ui-select-choices>
          </ui-select>
        </div>
        <div id="ocupacion-autocompletar2" class="form-group col-lg-6 col-sm-6 col-xs-12">
          <label for="acudiente-select-ocupacion">Ocupación</label>
          <input id="acudiente-select-ocupacion" type="text" ng-model="acudiente.ocupacion" placeholder="Ocupación" typeahead-append-to="'#ocupacion-autocompletar2'" typeahead-min-length="1" uib-typeahead="ocupacion_check for ocupacion_check in ocupacionCheck($viewValue)" typeahead-loading="loadingOcupaciones" typeahead-no-results="noResults" class="form-control"><i ng-show="loadingOcupaciones" style="font-size: 7pt" class="fa fa-refresh"></i>
          <div ng-show="noResults" style="font-size: 7pt"><i class="fa fa-check"></i>No existe. Puedes agregarla.</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Tipo</label>
          <ui-select ng-model="acudiente.tipo_doc" style="width: 100%;">
            <ui-select-match placeholder="Tipo de documento" allow-clear="true">{{$select.selected.tipo}}{{ ' ('+$select.selected.abrev+')'}}</ui-select-match>
            <ui-select-choices repeat="tipo_doc in tipos_doc">
              <div ng-bind-html="tipo_doc.tipo | highlight: $select.search"></div><small>{{ tipo_doc.abrev}}</small>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label for="acudiente-new-documento">Número</label>
          <input id="acudiente-new-documento" type="text" ng-model="acudiente.documento" placeholder="Número documento" class="form-control">
        </div>
      </div>
      <hr class="wide">
      <div class="row">
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label for="acudiente-new-celular">Celular</label>
          <input id="acudiente-new-celular" type="text" ng-model="acudiente.celular" placeholder="Celular" class="form-control">
        </div>
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Pais documento</label>
          <ui-select ng-model="acudiente.pais_doc" on-select="paisSelecionado($item, $model)" style="width: 100%;">
            <ui-select-match placeholder="Pais documento" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
            <ui-select-choices repeat="pais in paises | filter: $select.search">
              <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Departamento doc</label>
          <ui-select ng-model="acudiente.departamento_doc" on-select="departSeleccionado($item, $model)" style="width: 100%;">
            <ui-select-match placeholder="Departamento documento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
            <ui-select-choices repeat="departamento in departamentos | filter: $select.search">
              <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group col-lg-4 col-sm-6 col-xs-12">
          <label>Ciudad documento</label>
          <ui-select ng-model="acudiente.ciudad_doc" theme="select2" style="width: 100%;">
            <ui-select-match placeholder="Ciudad documento" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
            <ui-select-choices repeat="ciudad in ciudades | filter: $select.search">
              <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <!--
      hr.wide
      .row
      	
      	.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
      		label(for="acudiente-new-fecha-nac") Fecha de nacimiento
      		.controls
      			.input-group
      				span.input-group-addon
      					i.fa.fa-calendar
      				input.form-control.active#acudiente-new-fecha-nac(type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="acudiente.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento")
      
      	.form-group.col-lg-4.col-sm-6.col-xs-12
      		label Pais nacimiento
      		ui-select(ng-model="acudiente.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;")
      			ui-select-match(placeholder="Pais nacimiento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
      			ui-select-choices(repeat="pais in paises | filter: $select.search")
      				div(ng-bind-html="pais.pais | highlight: $select.search")
      				small {{ pais.departamento | highlight: $select.search}}
      	.form-group.col-lg-4.col-sm-6.col-xs-12
      		label Departamento nac
      		ui-select(ng-model="acudiente.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;")
      			ui-select-match(placeholder="Departamento nacimiento" allow-clear="true") {{$select.selected.departamento}}
      			ui-select-choices(repeat="departamento in departamentosNac | filter: $select.search")
      				div(ng-bind-html="departamento.departamento | highlight: $select.search")
      
      	.form-group.col-lg-4.col-sm-6.col-xs-12
      		label Ciudad nacimiento
      		ui-select(ng-model="acudiente.ciudad_nac" style="width: 100%;")
      			ui-select-match(placeholder="Ciudad nacimiento" allow-clear="true") {{$select.selected.ciudad}}
      			ui-select-choices(repeat="ciudad in ciudadesNac | filter: $select.search")
      				div(ng-bind-html="ciudad.ciudad | highlight: $select.search")
      
      
      
      
      
      -->
    </uib-tab>
  </uib-tabset>
</div>
<div class="modal-footer">
  <button ng-click="cancel()" class="btn btn-yellow">Cancelar</button>
  <button ng-click="crearAcudiente()" ng-show="crearTabSelected" class="btn btn-labeled btn-primary">Crear<i class="btn-label fa fa-plus"></i></button>
  <button ng-click="seleccionarAcudiente()" ng-show="selectTabSelected" class="btn btn-labeled btn-primary">Seleccionar<i class="btn-label fa fa-check"></i></button>
</div>