
<div class="row">
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-religion">Religión</label>
    <input id="alumno-religion" type="text" typeahead-append-to-body="true" typeahead-min-length="1" uib-typeahead="religion for religion in religiones | filter:$viewValue | limitTo:8" typeahead-on-select="religionSelected(alumno, $item)" ng-model="alumno.religion" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'religion', alumno.religion)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-email">E-mail</label>
    <input id="alumno-email" type="email" ng-model="alumno.email" placeholder="E-mail" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'email', alumno.email)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-facebook">Facebook</label>
    <input id="alumno-facebook" type="text" ng-model="alumno.facebook" placeholder="Facebook" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'facebook', alumno.facebook)" class="form-control">
  </div>
</div>
<div class="widget">
  <div class="widget-header bordered-bottom bordered-info"><span class="widget-caption">Documento</span></div>
  <div class="widget-body">
    <div class="row">
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Tipo</label>
        <ui-select ng-model="alumno.tipo_doc" on-select="guardarValor(alumno, 'tipo_doc', alumno.tipo_doc.id)" style="width: 100%;">
          <ui-select-match placeholder="Tipo de documento" allow-clear="true">{{$select.selected.tipo}}{{ ' ('+$select.selected.abrev+')'}}</ui-select-match>
          <ui-select-choices repeat="tipo_doc in tipos_doc">
            <div ng-bind-html="tipo_doc.tipo | highlight: $select.search"></div><small>{{ tipo_doc.abrev}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="alumno-documento">Número documento:<span style="font-weight: 700; padding-left: 15px;">{{ alumno.documento | formatNumberDocumento }}</span></label>
        <input id="alumno-documento" type="text" ng-model="alumno.documento" placeholder="Documento" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'documento', alumno.documento)" class="form-control">
      </div>
      <div style="margin-bottom: 17px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Pais</label>
        <ui-select ng-model="alumno.pais_doc" on-select="paisSeleccionado($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Pais documento" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
          <ui-select-choices repeat="pais in paises | filter: $select.search">
            <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Departamento</label>
        <ui-select ng-model="alumno.departamento_doc" on-select="departSeleccionado($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Departamento documento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
          <ui-select-choices repeat="departamento in departamentos | filter: $select.search">
            <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Ciudad</label>
        <ui-select ng-model="alumno.ciudad_doc" on-select="ciudadSeleccionada($item, 'ciudad_doc')" style="width: 100%;">
          <ui-select-match placeholder="Ciudad documento" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
          <ui-select-choices repeat="ciudad in ciudades | filter: $select.search">
            <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
<div ng-if="::hasRoleOrPerm(['admin', 'secretario'])" class="widget">
  <div class="widget-header bordered-bottom bordered-pink"><span style="font-weight: bold" class="widget-caption">Usuario</span></div>
  <div class="widget-body">
    <div class="form-group">
      <label for="alumno-username">Nombre de usuario</label>
      <div class="input-group">
        <input id="alumno-username" type="text" typeahead-append-to-body="true" typeahead-min-length="2" uib-typeahead="username_check for username_check in cambiaUsernameCheck($viewValue)" ng-model="alumno.username" placeholder="Nombre usuario" typeahead-loading="loadingUsernames" typeahead-no-results="noResults" class="form-control">
        <div class="input-group-btn"><a uib-tooltip="Guardar nombre de usuario" tooltip-placement="left" tooltip-append-to-body="true" ng-click="guardarValor(alumno, 'username', alumno.username)" ng-disabled="!username_cambiado" class="btn btn-default shiny"><i class="fa fa-save"></i></a></div>
      </div><i ng-show="loadingUsernames" style="font-size: 7pt" class="fa fa-refresh"></i>
      <div ng-show="noResults" style="font-size: 7pt"><i class="fa fa-check"></i>Disponible</div>
    </div>
    <div class="form-group"><a uib-tooltip="Resetear contraseña" tooltip-placement="right" tooltip-append-to-body="true" ng-click="resetPass(alumno)" style="" class="btn btn-default shiny"><i class="fa fa-user-secret"></i>Cambiar contraseña</a></div>
  </div>
</div><a href="" ng-click="mostarMasDetalle()" ng-show="!mostrar_mas" style="font-size: 12pt;">Mostrar Nacimiento, residencia, etc.</a><a href="" ng-click="mostarMasDetalle()" ng-show="mostrar_mas" style="font-size: 12pt;">Mostrar menos</a>
<div ng-show="mostrar_mas" class="widget">
  <div class="widget-header bordered-bottom bordered-info"><span class="widget-caption">Nacimiento</span></div>
  <div class="widget-body">
    <div class="row">
      <div style="margin-bottom: 12px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="alumno-fecha-nac">Fecha de nacimiento</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha-nac" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento" ng-change="guardarValor(alumno, 'fecha_nac', alumno.fecha_nac)" class="form-control active">
          </div>
        </div>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Pais</label>
        <ui-select ng-model="alumno.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Pais nacimiento" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
          <ui-select-choices repeat="pais in paises | filter: $select.search">
            <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Departamento</label>
        <ui-select ng-model="alumno.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Departamento nacimiento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
          <ui-select-choices repeat="departamento in departamentosNac  | filter: $select.search">
            <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Ciudad</label>
        <ui-select ng-model="alumno.ciudad_nac" on-select="ciudadSeleccionada($item, 'ciudad_nac')" style="width: 100%;">
          <ui-select-match placeholder="Ciudad nacimiento" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
          <ui-select-choices repeat="ciudad in ciudadesNac | filter: $select.search">
            <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
<div ng-show="mostrar_mas" class="widget">
  <div class="widget-header bordered-bottom bordered-info"><span class="widget-caption">Residencia</span></div>
  <div class="widget-body">
    <div class="row">
      <div class="form-group col-lg-3 col-sm-6 col-xs-12">
        <label for="alumno-telefono">Teléfono</label>
        <input id="alumno-telefono" type="text" ng-model="alumno.telefono" placeholder="Teléfono" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'telefono', alumno.telefono)" class="form-control">
      </div>
      <div class="form-group col-lg-3 col-sm-6 col-xs-12">
        <label for="alumno-direccion">Dirección</label>
        <input id="alumno-direccion" type="text" ng-model="alumno.direccion" placeholder="Direccion" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'direccion', alumno.direccion)" class="form-control">
      </div>
      <div class="form-group col-lg-3 col-sm-6 col-xs-12">
        <label for="alumno-barrio">Barrio</label>
        <input id="alumno-barrio" type="text" ng-model="alumno.barrio" placeholder="Barrio" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'barrio', alumno.barrio)" class="form-control">
      </div>
      <div class="form-group col-lg-3 col-sm-4 col-xs-12">
        <label for="alumno-estrato">Estrato</label>
        <input id="alumno-estrato" type="number" ng-model="alumno.estrato" min="0" max="10" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'estrato', alumno.estrato)" class="form-control">
      </div>
      <div style="margin-top: 20px;" class="form-group col-lg-3 col-sm-3 col-xs-12">
        <label>Es urbano</label>
        <label>
          <input type="checkbox" ng-model="alumno.is_urbana" ng-true-value="1" ng-false-value="0" ng-change="toggleIsUrbana(alumno, 'is_urbana')" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
        </label>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Pais</label>
        <ui-select ng-model="alumno.pais_resid" on-select="paisResidSelecionado($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Pais residencia" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
          <ui-select-choices repeat="pais in paises | filter: $select.search">
            <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Departamento</label>
        <ui-select ng-model="alumno.departamento_resid" on-select="departResidSeleccionado($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Departamento residencia" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
          <ui-select-choices repeat="departamento in departamentosResid | filter: $select.search">
            <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Ciudad</label>
        <ui-select ng-model="alumno.ciudad_resid" on-select="ciudadSeleccionada($item, 'ciudad_resid')" style="width: 100%;">
          <ui-select-match placeholder="Ciudad residencia" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
          <ui-select-choices repeat="ciudad in ciudadesResid | filter: $select.search">
            <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div><br><br>