
<div class="widget">
  <div class="widget-body">
    <div class="row">
      <div class="col-sm-8 col-xs-12"><img style="width: 200px" ng-src="{{perfilPath + alumno.foto_nombre}}" uib-tooltip="Foto oficial"><img style="width: 200px" ng-src="{{perfilPath + alumno.imagen_nombre}}" uib-tooltip="Imagen de usuario (no importante)"></div>
      <div style="text-align: center" ng-show="alumno.grupo_nombre" class="col-md-4 col-sm-4 col-xs-12">
        <button style="font-size: 20pt; font-weight: bold;" type="button" ng-click="cambiarGrupo()" uib-tooltip="Cambiar grupo" class="btn btn-primary shiny">{{ alumno.grupo_nombre}}</button>
        <div ng-click="cambiarGrupo()" ng-class="{'etiqueta-repitente': alumno.repitente }" class="etiqueta-alumno">Repitente:<span ng-show="alumno.repitente"> Si</span><span ng-show="!alumno.repitente"> No</span></div>
        <div ng-click="cambiarGrupo()" ng-class="{'etiqueta-egresado': alumno.egresado }" class="etiqueta-alumno">Egresado:<span ng-show="alumno.egresado"> Si</span><span ng-show="!alumno.egresado"> No</span></div>
        <div ng-click="cambiarGrupo()" ng-class="{'etiqueta-nuevo': alumno.nuevo }" class="etiqueta-alumno">Nuevo:<span ng-show="alumno.nuevo"> Si</span><span ng-show="!alumno.nuevo"> No</span></div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-nombres">Nombres</label>
        <input id="alumno-nombres" type="text" ng-model="alumno.nombres" placeholder="Nombres" ng-change="guardarValor(alumno, 'nombres', alumno.nombres)" style="font-size: 12pt; color: #444; border: 1px solid #999;" class="form-control">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-apellidos">Apellidos</label>
        <input id="alumno-apellidos" type="text" ng-model="alumno.apellidos" placeholder="Apellidos" ng-change="guardarValor(alumno, 'apellidos', alumno.apellidos)" style="font-size: 12pt; color: #444; border: 1px solid #999;" class="form-control">
      </div>
      <div style="margin-bottom: 8px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Sexo</label>
        <div class="row">
          <div class="col-lg-6 col-sm-4 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" name="sexo" value="M" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)" class="inverted"><span class="text">Masculino</span>
              </label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-4 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" name="sexo" value="F" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)" class="inverted"><span class="text">Femenino</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!hasRoleOrPerm(['alumno'])" class="form-group col-lg-3 col-sm-3 col-xs-12">
        <label for="alumno-celular">Celular</label>
        <input id="alumno-celular" type="text" ng-model="alumno.celular" placeholder="Celular" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'celular', alumno.celular)" class="form-control">
      </div>
      <div class="form-group col-lg-3 col-sm-3 col-xs-12">
        <div ng-click="cambiarGrupo()" ng-class="{'etiqueta-repitente': !alumno.is_active }" uib-tooltip="Si coloca desactivado, el estudiante no podrá ingresar al sistema con su usuario y contraseña." tooltip-popup-delay="100" style="margin: 20px 0px;" class="etiqueta-alumno"><span ng-show="alumno.is_active"> Activo</span><span ng-show="!alumno.is_active"> Desactivado</span></div>
      </div>
      <div ng-if="!hasRoleOrPerm(['alumno', 'acudiente'])" class="form-group col-lg-3 col-md-4 col-sm-3 col-xs-12">
        <label for="alumno-no-matr">Número Matrícula</label>
        <input id="alumno-no-matr" type="text" ng-model="alumno.no_matricula" placeholder="Número de matrícula" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'no_matricula', alumno.no_matricula)" class="form-control">
      </div>
      <div style="margin-top: 24px;" ng-if="::hasRoleOrPerm(['admin', 'secretario', 'rector'])" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <button type="button" ng-click="eliminarAlumno()" ng-hide="alumno.deleted_at" ng-disabled="eliminando" uib-tooltip="Eliminar junto con notas" class="btn btn-danger shiny">Eliminiar alumno</button>
        <button type="button" ng-click="restaurarAlumno()" ng-show="alumno.deleted_at" ng-disabled="restaurando" class="btn btn-success shiny">Restaurar alumno</button>
        <div style="color: red; font-weight: bold; font-size: 20pt" ng-show="alumno.deleted_at">Alumno eliminado</div>
      </div>
    </div>
    <hr>
    <div ng-if="!hasRoleOrPerm(['alumno', 'acudiente'])" class="row">
      <div style="margin-top: 15px;" class="form-group col-lg-3 col-sm-3"><span style="border: 1px solid #ccc; border-radius: 4px; padding: 15px;">
          <label>Paz y salvo</label>
          <label><a ng-class="{'btn-info':alumno.pazysalvo, 'btn-warning':!alumno.pazysalvo }" ng-click="cambiarPazysalvo(alumno);" uib-tooltip="NO está al día" href="" tooltip-enable="!alumno.pazysalvo" ng-model="alumno.pazysalvo" class="btn"><i ng-hide="alumno.pazysalvo" class="fa fa-times"></i><i ng-show="alumno.pazysalvo" class="fa fa-check"></i><span ng-hide="alumno.pazysalvo">No</span><span ng-show="alumno.pazysalvo">Si</span></a></label></span></div>
      <div class="form-group col-lg-3 col-sm-4 col-xs-12">
        <label for="alumno-deuda">Deuda $</label>
        <input id="alumno-deuda" type="number" ng-model="alumno.deuda" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" placeholder="Deuda" min="0" ng-change="guardarValor(alumno, 'deuda', alumno.deuda)" class="form-control">
      </div>
      <div style="margin-bottom: 12px;" class="form-group col-lg-4 col-sm-5 col-xs-12">
        <label for="alumno-fecha_pension">Fecha de pensión</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_pension" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_pension" is-open="data.isOpenPens" ng-click="data.isOpenPens = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha pensión" ng-change="guardarValor(alumno, 'fecha_pension', alumno.fecha_pension)" class="form-control active">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="hasRoleOrPerm(['admin'])" class="widget">
  <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption"><a href ng-click="toggleMostrarPrematricula()" style="text-decoration: underline; font-size: 12pt;">Matrícula {{::USER.year}} y Prematrícula {{::USER.year+1}}</a></span></div>
  <div ng-show="mostrar_prematricula" class="widget-body">
    <div ng-show="alumno.matricula_id" class="row">
      <div style="padding-right: 0px; margin-bottom: 23px;" class="form-group col-lg-3 col-md-4 col-sm-5">
        <label for="alumno-estado" style="font-size: 15pt;">Estado {{::USER.year}}</label><span style="padding-left: 2px; padding-top: 4px;" class="btn-group">
          <!--label.btn.btn-default.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'FORM'" ng-click="reMatricularUno(alumno)" uib-tooltip="Formulario") Formul-->
          <!--label.btn.btn-default.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'PREM'" ng-click="reMatricularUno(alumno)" uib-tooltip="Prematricular") Prem-->
          <label ng-model="alumno.estado" uib-btn-radio="'MATR'" ng-click="reMatricularUno(alumno)" uib-tooltip="Matricular" class="btn btn-primary btn-prematriculas">Matr</label>
          <label ng-model="alumno.estado" uib-btn-radio="'ASIS'" ng-click="setAsistente(alumno)" uib-tooltip="Establecer como Asistente" class="btn btn-primary btn-prematriculas">Asis</label>
          <label ng-model="alumno.estado" uib-btn-radio="'RETI'" ng-click="retirar(alumno)" uib-tooltip="Retirar" class="btn btn-primary btn-prematriculas">Reti</label>
          <label ng-model="alumno.estado" uib-btn-radio="'DESE'" ng-click="desertar(alumno)" uib-tooltip="Desertor" class="btn btn-primary btn-prematriculas">Dese</label></span>
      </div>
      <div style="margin-bottom: 12px;" ng-if="alumno.estado == 'RETI' || alumno.estado == 'DESE' " class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-fecha_retiro">Fecha de retiro</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_retiro" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_retiro" is-open="data.isOpenReti" ng-click="data.isOpenReti = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha retiro" ng-change="guardarValor(alumno, 'fecha_retiro', alumno.fecha_retiro)" class="form-control active">
          </div>
        </div>
      </div>
      <div style="margin-bottom: 12px;" ng-if="alumno.estado == 'MATR' || alumno.estado == 'ASIS' " class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-fecha_matricula">Fecha de matricula</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_retiro" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_matricula" is-open="data.isOpenMatr" ng-click="data.isOpenMatr = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha matricula" ng-change="guardarValor(alumno, 'fecha_matricula', alumno.fecha_matricula)" class="form-control active">
          </div>
        </div>
      </div>
    </div>
    <hr style="border-top: 2px solid #ccc;">
    <div ng-show="alumno.next_year" class="row">
      <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <label>Grupo próximo año</label>
        <div><span uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right" tooltip-popup-delay="400">
            <ui-select ng-model="dato.grupo_prematr" theme="select2" style="width: 100%;">
              <ui-select-match placeholder="Grupo a prematricular" allow-clear="true">{{$select.selected.nombre}}</ui-select-match>
              <ui-select-choices repeat="grupo in grupos_siguientes | filter: $select.search">
                <div ng-bind-html="grupo.nombre | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select></span></div>
      </div>
      <div style="padding-right: 0px;" class="form-group col-sm-8">
        <label for="alumno-estado-next" style="font-size: 15pt; margin-bottom: 23px;">Estado {{ ::USER.year + 1 }}:</label><span style="padding-left: 2px; padding-top: 4px;" class="btn-group">
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'FORM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Formulario vendido" class="btn btn-success btn-prematriculas">Formulario</label>
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'PREM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Prematriculado" class="btn btn-success btn-prematriculas">Prematriculado</label>
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'ASIS'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Establecer como Asistente" class="btn btn-success btn-prematriculas">Asist</label>
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'MATR'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Matricular" class="btn btn-success btn-prematriculas">Matr</label></span>
      </div><span ng-show="alumno.next_year.year">
        <div uib-tooltip="¿Es nuevo en {{ alumno.next_year.year }} en la institución?" tooltip-popup-delay="400" style="margin-top: 20px;" class="form-group col-lg-2 col-sm-3 col-xs-12">
          <label>Es nuevo</label>
          <label>
            <input type="checkbox" ng-model="alumno.next_year.nuevo" ng-true-value="1" ng-false-value="0" ng-change="toggleNuevoRepite(alumno, 'nuevo')" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
          </label>
        </div>
        <div uib-tooltip="¿Va a repetir el año en {{ alumno.next_year.year }}?" tooltip-popup-delay="400" style="margin-top: 20px;" class="form-group col-lg-2 col-sm-3 col-xs-12">
          <label>Es repitente</label>
          <label>
            <input type="checkbox" ng-model="alumno.next_year.repitente" ng-true-value="1" ng-false-value="0" ng-change="toggleNuevoRepite(alumno, 'repitente')" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
          </label>
        </div></span>
      <div ng-show="alumno.next_year.estado=='PREM'" style="margin-bottom: 12px;" uib-tooltip="Fecha en que se prematriculó" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-fecha_prematriculado">Fecha prematriculado</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-btn">
              <button type="button" ng-click="openDatePicker(data, 'isOpenPrema')" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
            <input id="alumno-fecha_prematriculado" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.next_year.prematriculado" is-open="data.isOpenPrema" ng-click="openDatePicker(data, 'isOpenPrema')" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha prematrícula" ng-change="guardarValor(alumno, 'prematriculado', alumno.next_year.prematriculado, alumno.next_year.year_id)" class="form-control active">
          </div>
        </div>
      </div>
      <div ng-show="alumno.next_year.estado=='MATR'" style="margin-bottom: 12px;" uib-tooltip="Fecha en que se matriculó" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-fecha_matriculado-next">Fecha matrícula</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-btn">
              <button type="button" ng-click="openDatePicker(data, 'isOpenMatrNext')" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
            <input id="alumno-fecha_matriculado-next" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.next_year.fecha_matricula" is-open="data.isOpenMatrNext" ng-click="openDatePicker(data, 'isOpenMatrNext')" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha matrícula" ng-change="guardarValor(alumno, 'fecha_matricula', alumno.next_year.fecha_matricula, alumno.next_year.year_id)" class="form-control active">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>