<a href="" ng-click="mostrar_mas = true" ng-show="!mostrar_mas">Mostrar más</a><a href="" ng-click="mostrar_mas = false" ng-show="mostrar_mas">Mostrar menos</a>
<div ng-show="mostrar_mas" class="widget">
  <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption">Nacimiento</span></div>
  <div class="widget-body">
    <div class="row">
      <div style="margin-bottom: 12px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="alumno-fecha-nac">Fecha de nacimiento</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha-nac" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento" ng-change="guardarValor(alumno, 'fecha_nac', alumno.fecha_nac)" class="form-control active">
          </div>
        </div>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Pais</label>
        <ui-select ng-model="alumno.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Pais nacimiento" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
          <ui-select-choices repeat="pais in paises | filter: $select.search">
            <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Departamento</label>
        <ui-select ng-model="alumno.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Departamento nacimiento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
          <ui-select-choices repeat="departamento in departamentosNac | filter: $select.search">
            <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div ng-show="false" class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Ciudad</label>
        <ui-select ng-model="alumno.ciudad_nac" style="width: 100%;">
          <ui-select-match placeholder="Ciudad nacimiento" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
          <ui-select-choices repeat="ciudad in ciudadesNac | filter: $select.search">
            <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
<div ng-show="mostrar_mas" class="widget">
  <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption">Documento</span></div>
  <div class="widget-body">
    <div class="row">
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Tipo</label>
        <ui-select ng-model="alumno.tipo_doc" style="width: 100%;">
          <ui-select-match placeholder="Tipo de documento" allow-clear="true">{{$select.selected.tipo}}{{ ' ('+$select.selected.abrev+')'}}</ui-select-match>
          <ui-select-choices repeat="tipo_doc in tipos_doc">
            <div ng-bind-html="tipo_doc.tipo | highlight: $select.search"></div><small>{{ tipo_doc.abrev}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="alumno-documento">Número documento</label>
        <input id="alumno-documento" type="text" ng-model="alumno.documento" placeholder="Documento" class="form-control">
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Pais</label>
        <ui-select ng-model="alumno.pais_doc" on-select="paisSelecionado($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Pais documento" allow-clear="true">{{$select.selected.pais}} ({{$select.selected.abrev}})</ui-select-match>
          <ui-select-choices repeat="pais in paises | filter: $select.search">
            <div ng-bind-html="pais.pais | highlight: $select.search"></div><small>{{ pais.departamento | highlight: $select.search}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Departamento</label>
        <ui-select ng-model="alumno.departamento_doc" on-select="departSeleccionado($item, $model)" style="width: 100%;">
          <ui-select-match placeholder="Departamento documento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
          <ui-select-choices repeat="departamento in departamentos | filter: $select.search">
            <div ng-bind-html="departamento.departamento | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Ciudad</label>
        <ui-select ng-model="alumno.ciudad_doc" style="width: 100%;">
          <ui-select-match placeholder="Ciudad documento" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
          <ui-select-choices repeat="ciudad in ciudades | filter: $select.search">
            <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-lg-2 col-sm-6 col-xs-12">
    <label for="alumno-tipo-sangre">Tipo de sangre</label>
    <input id="alumno-tipo-sangre" type="text" ng-model="alumno.tipo_sangre" placeholder="Tipo sangre" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'tipo_sangre', alumno.tipo_sangre)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-eps">EPS</label>
    <input id="alumno-eps" type="text" typeahead-append-to-body="true" typeahead-min-length="1" uib-typeahead="eps_check for eps_check in cambiaEpsCheck($viewValue)" ng-model="alumno.eps" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1500, 'blur': 0} }" typeahead-loading="alumno.loadingEps" typeahead-no-results="alumno.noResultsEps" class="form-control"><i ng-show="alumno.loadingEps" style="font-size: 7pt" class="fa fa-refresh"></i>
    <div ng-show="alumno.noResultsEps" style="font-size: 7pt"><i class="fa fa-check"></i>Sin coincidencias</div>
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-telefono">Teléfono</label>
    <input id="alumno-telefono" type="text" ng-model="alumno.telefono" placeholder="Teléfono" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'telefono', alumno.telefono)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-direccion">Dirección</label>
    <input id="alumno-direccion" type="text" ng-model="alumno.direccion" placeholder="Direccion" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'direccion', alumno.direccion)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-barrio">Barrio</label>
    <input id="alumno-barrio" type="text" ng-model="alumno.barrio" placeholder="Barrio" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'barrio', alumno.barrio)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-estrato">Estrato</label>
    <input id="alumno-estrato" type="number" ng-model="alumno.estrato" min="0" max="10" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'barrio', alumno.estrato)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-religion">Religión</label>
    <input id="alumno-religion" type="text" typeahead-append-to-body="true" typeahead-min-length="1" uib-typeahead="religion for religion in religiones | filter:$viewValue | limitTo:8" typeahead-on-select="religionSelected(alumno, $item)" ng-model="alumno.religion" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'religion', alumno.religion)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-email">E-mail</label>
    <input id="alumno-email" type="text" ng-model="alumno.email" placeholder="E-mail" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'email', alumno.email)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-facebook">Facebook</label>
    <input id="alumno-facebook" type="text" ng-model="alumno.facebook" placeholder="Facebook" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'facebook', alumno.facebook)" class="form-control">
  </div>
  <div class="form-group col-lg-3 col-sm-6 col-xs-12">
    <label for="alumno-ciudad_resid">Ciudad residencia</label>
    <input id="alumno-ciudad-resid" type="text" ng-model="alumno.ciudad_resid" placeholder="Ciudad residencia" class="form-control">
  </div>
</div>
<div class="widget">
  <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption">Usuario</span></div>
  <div class="widget-body">
    <div class="form-group">
      <label for="alumno-username">Nombre de usuario</label>
      <div class="input-group">
        <input id="alumno-username" type="text" typeahead-append-to-body="true" typeahead-min-length="2" uib-typeahead="username_check for username_check in cambiaUsernameCheck($viewValue)" ng-model="alumno.username" placeholder="Nombre usuario" typeahead-loading="loadingUsernames" typeahead-no-results="noResults" class="form-control">
        <div class="input-group-btn"><a uib-tooltip="Guardar nombre de usuario" tooltip-placement="left" tooltip-append-to-body="true" ng-click="guardarValor(alumno, 'username', alumno.username)" ng-disabled="!username_cambiado" class="btn btn-default shiny"><i class="fa fa-save"></i></a></div>
      </div><i ng-show="loadingUsernames" style="font-size: 7pt" class="fa fa-refresh"></i>
      <div ng-show="noResults" style="font-size: 7pt"><i class="fa fa-check"></i>Disponible</div>
    </div>
    <div class="form-group"><a uib-tooltip="Resetear contraseña" tooltip-placement="right" tooltip-append-to-body="true" ng-click="resetPass(alumno)" style="" class="btn btn-default shiny"><i class="fa fa-user-secret"></i>Cambiar contraseña</a></div>
  </div>
</div>