
<div ui-view="edit_alumno" class="row"></div>
<div class="widget">
  <div class="widget-header bordered-bottom"><span class="widget-caption">Buscar persona</span></div>
  <div class="widget-body">
    <form class="row">
      <!--.form-group.col-lg-3.col-sm-4.col-md-3.col-xs-12
      label Todos los años
      label
        input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="dato.todos_anios")
        span.text.si-no
      
      -->
      <div class="form-group col-lg-4 col-md-6 col-sm-6">
        <input type="text" ng-model="dato.txt_buscar" placeholder="Buscar alumno" typeahead-min-length="2" typeahead-on-select="ir_a_persona($item, $model, $label)" uib-typeahead="persona_check as persona_check.nombres for persona_check in personaCheck($viewValue)" typeahead-loading="loadingPersonas" typeahead-no-results="noResults" typeahead-wait-ms="300" typeahead-template-url="{{templateTypeahead}}" class="form-control"><i ng-show="loadingPersonas" style="font-size: 7pt" class="fa fa-refresh"></i>
        <div ng-show="noResults" style="font-size: 7pt"><i class="fa fa-check"></i>No encontrado.</div>
      </div>
    </form>
    <div ng-if="::hasRoleOrPerm(['admin', 'secretario', 'rector'])" class="row">
      <div class="form-group col-lg-4 col-md-6 col-sm-6"><a href="" ng-click="crear_alumno()" uib-tooltip="Ingresa datos de un nuevo alumno" class="btn btn-info shiny"><i class="fa fa-plus"></i>  Crear alumno</a></div>
    </div>
  </div>
</div>
<div class="widget">
  <div class="widget-header bordered-bottom bordered-blue"><span class="widget-caption">Alumno</span></div>
  <div class="widget-body">
    <!-- Información básica de la persona, fotos, nombres, etc.-->
    <persona-basico-dir></persona-basico-dir>
  </div>
</div>
<div ng-if="!hasRoleOrPerm(['alumno', 'acudiente'])">
  <form role="form">
    <uib-tabset>
      <uib-tab heading="Matriculas" classes="tab-encabezado-bigger">
        <!-- Información de las matrículas-->
        <persona-matriculas-dir></persona-matriculas-dir>
      </uib-tab>
      <uib-tab heading="NEE" classes="tab-encabezado-bigger">
        <persona-nee-dir></persona-nee-dir>
      </uib-tab>
      <uib-tab heading="Datos" classes="tab-encabezado-bigger">
        <persona-datos-extras-dir></persona-datos-extras-dir>
      </uib-tab>
      <uib-tab heading="Enfermería" classes="tab-encabezado-bigger" select="cargarEnfermeria()">
        <persona-enfermeria-dir></persona-enfermeria-dir>
      </uib-tab>
      <uib-tab heading="Acudientes" classes="tab-encabezado-bigger" select="cargarAcudientes()">
        <persona-acudientes-dir></persona-acudientes-dir>
      </uib-tab>
    </uib-tabset>
  </form>
  <div class="widget">
    <div class="widget-body">
      <button type="button" ng-click="verTodosLosCertificados()" class="btn btn-primary">Ver todos los certificados</button>
    </div>
  </div>
  <div ui-view="report_content" class="informes-pages altura-informe">
    <h5 style="text-align: center">Aquí saldrán los reportes</h5>
  </div>
</div>