
<div ng-show="!enfermedia_cargada" style="text-align: center;"><i style="font-size: 20pt" class="fa fa-spinner fa-spin"></i></div><span ng-show="enfermedia_cargada">
  <div class="row">
    <div class="form-group col-lg-2 col-sm-6 col-xs-12">
      <label for="alumno-tipo-sangre">Tipo de sangre</label>
      <div>
        <ui-select ng-model="dato.tipo_sangre" on-select="guardarValor(alumno, 'tipo_sangre', dato.tipo_sangre.sangre)" theme="select2" style="width: 100%;">
          <ui-select-match placeholder="Tipo sangre" allow-clear="true">{{$select.selected.sangre}}</ui-select-match>
          <ui-select-choices repeat="sangre in sangres | filter: $select.search">
            <div ng-bind-html="sangre.sangre | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group col-lg-3 col-sm-6 col-xs-12">
      <label for="alumno-eps">EPS</label>
      <input id="alumno-eps" type="text" typeahead-append-to-body="true" typeahead-min-length="1" uib-typeahead="eps_check for eps_check in cambiaEpsCheck($viewValue)" ng-model="alumno.eps" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-change="guardarValor(alumno, 'eps', alumno.eps)" typeahead-loading="alumno.loadingEps" typeahead-no-results="alumno.noResultsEps" class="form-control"><i ng-show="alumno.loadingEps" style="font-size: 7pt" class="fa fa-refresh"></i>
      <div ng-show="alumno.noResultsEps" style="font-size: 7pt"><i class="fa fa-check"></i>Sin coincidencias</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-2 col-sm-6 col-xs-12">
      <label for="enfermeria-cirugias">Cirugías</label>
      <input id="enfermeria-cirugias" type="text" ng-model="enfermeria.cirugias" placeholder="Las cirugías que ha tenido" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-change="guardarValorEnfermeria(enfermeria, 'cirugias', enfermeria.cirugias)" class="form-control">
    </div>
    <div style="margin-top: 20px;" class="form-group col-sm-6 col-xs-12">
      <label>¿Ha tenido varicela?</label>
      <label>
        <input type="checkbox" ng-model="enfermeria.varicela" ng-true-value="1" ng-false-value="0" ng-change="guardarValorEnfermeria(enfermeria, 'varicela', enfermeria.varicela)" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-xs-12">
      <label for="enfermeria-medicamento_diario">Medicamentos diarios</label>
      <textarea ng-model="enfermeria.medicamento_diario" placeholder="Medicamentos diarios" uib-tooltip="Medicamentos diarios" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarValorEnfermeria(enfermeria, 'medicamento_diario', enfermeria.medicamento_diario)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-xs-12">
      <h4 style="font-weight: 600!important;">Vacunas que se ha aplicado<span style="font-size: 9pt;"> (<span ng-show="enfermeria.vac_influenza">Influencia,</span><span ng-show="enfermeria.vac_fiebre_amarilla"> Fiebre amarilla,</span><span ng-show="enfermeria.vac_tetano"> Tétano,</span><span ng-show="enfermeria.vac_sarampion"> Sarampión,</span><span ng-show="enfermeria.vac_hepatitis_b"> Hepatitis B,</span><span ng-show="enfermeria.vac_otra"> {{ enfermeria.vac_cual }}</span>)</span></h4>
      <div style="display: block;" class="btn-group">
        <label ng-model="enfermeria.vac_influenza" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'vac_influenza', enfermeria.vac_influenza)" class="btn btn-primary">Influenza</label>
        <label ng-model="enfermeria.vac_fiebre_amarilla" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'vac_fiebre_amarilla', enfermeria.vac_fiebre_amarilla)" class="btn btn-primary">Fiebre amarilla</label>
        <label ng-model="enfermeria.vac_tetano" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'vac_tetano', enfermeria.vac_tetano)" class="btn btn-primary">Tétano</label>
        <label ng-model="enfermeria.vac_sarampion" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'vac_sarampion', enfermeria.vac_sarampion)" class="btn btn-primary">Sarampión</label>
        <label ng-model="enfermeria.vac_hepatitis_b" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'vac_hepatitis_b', enfermeria.vac_hepatitis_b)" class="btn btn-primary">Hepatitis B</label>
        <label ng-model="enfermeria.vac_otra" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'vac_otra', enfermeria.vac_otra)" class="btn btn-primary">Otras</label>
      </div>
    </div>
    <div ng-show="enfermeria.vac_otra" class="form-group col-sm-12 col-xs-12">
      <label for="enfermeria-vac_cual">¿Cuáles?</label>
      <input id="enfermeria-vac_cual" type="text" ng-model="enfermeria.vac_cual" placeholder="Escriba cual" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-change="guardarValorEnfermeria(enfermeria, 'vac_cual', enfermeria.vac_cual)" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-xs-12">
      <h4 style="font-weight: 600!important;">Patologías<span style="font-size: 9pt;"> (<span ng-show="enfermeria.patol_asma">Asma,</span><span ng-show="enfermeria.patol_bronquis"> Bronquitis,</span><span ng-show="enfermeria.patol_diabetes"> Diabetes,</span><span ng-show="enfermeria.patol_anemia"> Anemia,</span><span ng-show="enfermeria.patol_hipertension"> Hipertensión,</span><span ng-show="enfermeria.patol_dermatitis"> Dermatitis,</span><span ng-show="enfermeria.patol_depresion"> Depresión,</span><span ng-show="enfermeria.patol_otro"> {{ enfermeria.patol_cual }}</span>)</span></h4>
      <div style="display: block;" class="btn-group">
        <label ng-model="enfermeria.patol_asma" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_asma', enfermeria.patol_asma)" class="btn btn-primary">Asma</label>
        <label ng-model="enfermeria.patol_bronquis" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_bronquis', enfermeria.patol_bronquis)" class="btn btn-primary">Bronquitis</label>
        <label ng-model="enfermeria.patol_diabetes" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_diabetes', enfermeria.patol_diabetes)" class="btn btn-primary">Diabetes</label>
        <label ng-model="enfermeria.patol_anemia" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_anemia', enfermeria.patol_anemia)" class="btn btn-primary">Anemia</label>
        <label ng-model="enfermeria.patol_hipertension" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_hipertension', enfermeria.patol_hipertension)" class="btn btn-primary">Hipertensión</label>
        <label ng-model="enfermeria.patol_dermatitis" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_dermatitis', enfermeria.patol_dermatitis)" class="btn btn-primary">Dermatitis</label>
        <label ng-model="enfermeria.patol_depresion" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_depresion', enfermeria.patol_depresion)" class="btn btn-primary">Depresion</label>
        <label ng-model="enfermeria.patol_otro" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'patol_otro', enfermeria.patol_otro)" class="btn btn-primary">Otras</label>
      </div>
    </div>
    <div ng-show="enfermeria.patol_otro" class="form-group col-sm-12 col-xs-12">
      <label for="enfermeria-patol_cual">¿Cuál?</label>
      <input id="enfermeria-patol_cual" type="text" ng-model="enfermeria.patol_cual" placeholder="Escriba cual" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-change="guardarValorEnfermeria(enfermeria, 'patol_cual', enfermeria.patol_cual)" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-xs-12">
      <h4 style="font-weight: 600!important;">Antecedentes familiares<span style="font-size: 9pt;"> (<span ng-show="enfermeria.fami_hipertension_arterial">Hipertensión arterial,</span><span ng-show="enfermeria.fami_diabetes"> Diabetes,</span><span ng-show="enfermeria.fami_diabetes_mellitus"> Diabetes mellitus,</span><span ng-show="enfermeria.fami_cancer"> Cancer,</span><span ng-show="enfermeria.fami_artritis"> Artritis,</span><span ng-show="enfermeria.fami_hipotiroidismo"> Hipotiroidismo,</span><span ng-show="enfermeria.patol_otro"> {{ enfermeria.fami_cual }}</span>)</span></h4>
      <div style="display: block;" class="btn-group">
        <label ng-model="enfermeria.fami_hipertension_arterial" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'fami_hipertension_arterial', enfermeria.fami_hipertension_arterial)" class="btn btn-primary">Hipertension arterial</label>
        <label ng-model="enfermeria.fami_diabetes" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'fami_diabetes', enfermeria.fami_diabetes)" class="btn btn-primary">Diabetes</label>
        <label ng-model="enfermeria.fami_diabetes_mellitus" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'fami_diabetes_mellitus', enfermeria.fami_diabetes_mellitus)" class="btn btn-primary">Diabetes mellitus</label>
        <label ng-model="enfermeria.fami_cancer" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'fami_cancer', enfermeria.fami_cancer)" class="btn btn-primary">Cancer</label>
        <label ng-model="enfermeria.fami_artritis" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'fami_artritis', enfermeria.fami_artritis)" class="btn btn-primary">Artritis</label>
        <label ng-model="enfermeria.fami_hipotiroidismo" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'fami_hipotiroidismo', enfermeria.fami_hipotiroidismo)" class="btn btn-primary">Hipotiroidismo</label>
        <label ng-model="enfermeria.fami_otro" btn-checkbox-false="0" btn-checkbox-true="1" uib-btn-checkbox ng-click="guardarValorEnfermeria(enfermeria, 'fami_otro', enfermeria.fami_otro)" class="btn btn-primary">Otros</label>
      </div>
    </div>
    <div ng-show="enfermeria.fami_otro" class="form-group col-sm-12 col-xs-12">
      <label for="enfermeria-fami-cual">¿Cuáles?</label>
      <input id="enfermeria-fami-cual" type="text" ng-model="enfermeria.fami_cual" placeholder="Escriba cual" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-change="guardarValorEnfermeria(enfermeria, 'fami_cual', enfermeria.fami_cual)" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-xs-12">
      <h4 style="font-weight: 600!important;">Observaciones</h4>
      <textarea ng-model="enfermeria.observaciones" placeholder="Observaciones" uib-tooltip="Observaciones" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarValorEnfermeria(enfermeria, 'observaciones', enfermeria.observaciones)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
    </div>
  </div>
  <div class="widget">
    <div class="widget-header bordered-bottom bordered-info"><span class="widget-caption">Consultas y sucesos importantes</span></div>
    <div class="widget-body">
      <p>Aquí podrás registrar los sucesos que le ocurran a este estudiante, como accidentes, sintomás, etc.</p>
      <div ng-show="creando_suceso">
        <h4 style="font-weight: 600!important;">Crear registro de enfermería</h4>
        <form ng-submit="guardar_nuevo_suceso(new_suceso)" class="row">
          <div style="margin-bottom: 12px;" class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <label for="new_suceso-fecha_suceso">Fecha suceso</label>
            <div class="controls">
              <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input id="alumno-fecha_suceso" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="new_suceso.fecha_suceso" is-open="dato.isOpenSuceso" ng-click="dato.isOpenSuceso = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha suceso" class="form-control active">
              </div>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12">
            <div uib-timepicker ng-model="new_suceso.fecha_suceso"></div>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-signo_fc">Frecuencia cardiaca (ppm)</label>
            <input id="new_suceso-signo_fc" ng-model="new_suceso.signo_fc" type="number" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-signo_fr">Frecuencia respiratoria (rpm)</label>
            <input id="new_suceso-signo_fr" ng-model="new_suceso.signo_fr" type="number" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-signo_t">Temperatura (C)</label>
            <input id="new_suceso-signo_t" ng-model="new_suceso.signo_t" type="number" ng-pattern="/^[0-9]+(.[0-9]{1,2})?$/" step="0.1" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-signo_glu">Glucometría (mg/dl)</label>
            <input id="new_suceso-signo_glu" ng-model="new_suceso.signo_glu" type="number" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-signo_spo2">SPO2 (%)</label>
            <input id="new_suceso-signo_spo2" ng-model="new_suceso.signo_spo2" type="number" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-signo_pa_dia">Presión arterial (mmhg)</label>
            <input id="new_suceso-signo_pa_dia" ng-model="new_suceso.signo_pa_dia" type="number" style="width: 40%; display: inline-block;" class="form-control">
            <label for="new_suceso-signo_pa_sis">/</label>
            <input id="new_suceso-signo_pa_sis" ng-model="new_suceso.signo_pa_sis" type="number" style="width: 40%; display: inline-block;" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-asignatura">Asignatura</label>
            <input id="new_suceso-asignatura" ng-model="new_suceso.asignatura" type="text" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-motivo_consulta">Motivo consulta</label>
            <textarea ng-model="new_suceso.motivo_consulta" placeholder="Motivo consulta" uib-tooltip="Motivo consulta" tooltip-popup-delay="500" style="height: 50px; width: 100%;" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-descripcion_suceso">Descripción suceso</label>
            <textarea ng-model="new_suceso.descripcion_suceso" placeholder="Descripción suceso" uib-tooltip="Motivo consulta" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-tratamiento">Tratamiento</label>
            <textarea ng-model="new_suceso.tratamiento" placeholder="Tratamiento" uib-tooltip="Describa el procedimiento realizado con el estudiante" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-observaciones">Observaciones</label>
            <textarea ng-model="new_suceso.observaciones" placeholder="Observaciones" uib-tooltip="Observaciones" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="new_suceso-insumos_utilizados">Insumos utilizados</label>
            <textarea ng-model="new_suceso.insumos_utilizados" placeholder="Insumos utilizados" uib-tooltip="Insumos utilizados" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div style="text-align: center" class="form-group col-xs-12">
            <button type="button" ng-click="creando_suceso=!creando_suceso" class="btn btn-info">Cerrar</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Crear</button>
          </div>
        </form>
      </div>
      <div ng-show="editando_suceso">
        <h4 style="font-weight: 600!important;">Crear registro de enfermería</h4>
        <form ng-submit="cerrarEdicionSuceso()" class="row">
          <div style="margin-bottom: 12px;" class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <label for="act_suceso-fecha_suceso">Fecha suceso</label>
            <div class="controls">
              <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input id="act_suceso-fecha_suceso" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="act_suceso.fecha_suceso" is-open="dato.isOpenSuceso" ng-click="dato.isOpenSuceso = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha suceso" class="form-control active">
              </div>
            </div>
          </div>
          <div class="form-group col-lg-3 col-sm-6 col-xs-12">
            <div uib-timepicker ng-model="act_suceso.fecha_suceso"></div>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-signo_fc">Frecuencia cardiaca (ppm)</label>
            <input id="act_suceso-signo_fc" ng-model="act_suceso.signo_fc" type="number" ng-change="guardar_valor_suceso(act_suceso, 'signo_fc', act_suceso.signo_fc)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-signo_fr">Frecuencia respiratoria (rpm)</label>
            <input id="act_suceso-signo_fr" ng-model="act_suceso.signo_fr" type="number" ng-change="guardar_valor_suceso(act_suceso, 'signo_fr', act_suceso.signo_fr)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-signo_t">Temperatura (C)</label>
            <input id="act_suceso-signo_t" ng-model="act_suceso.signo_t" type="number" ng-pattern="/^[0-9]+(.[0-9]{1,2})?$/" step="0.1" ng-change="guardar_valor_suceso(act_suceso, 'signo_t', act_suceso.signo_t)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-signo_glu">Glucometría (mg/dl)</label>
            <input id="act_suceso-signo_glu" ng-model="act_suceso.signo_glu" type="number" ng-change="guardar_valor_suceso(act_suceso, 'signo_glu', act_suceso.signo_glu)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-signo_spo2">SPO2 (%)</label>
            <input id="act_suceso-signo_spo2" ng-model="act_suceso.signo_spo2" type="number" ng-change="guardar_valor_suceso(act_suceso, 'signo_fc', act_suceso.signo_fc)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-signo_pa_dia">Presión arterial (mmhg)</label>
            <input id="act_suceso-signo_pa_dia" ng-model="act_suceso.signo_pa_dia" type="number" style="width: 40%; display: inline-block;" ng-change="guardar_valor_suceso(act_suceso, 'signo_pa_dia', act_suceso.signo_pa_dia)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
            <label for="act_suceso-signo_pa_sis">/</label>
            <input id="act_suceso-signo_pa_sis" ng-model="act_suceso.signo_pa_sis" type="number" style="width: 40%; display: inline-block;" ng-change="guardar_valor_suceso(act_suceso, 'signo_pa_sis', act_suceso.signo_pa_sis)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-asignatura">Asignatura</label>
            <input id="act_suceso-asignatura" ng-model="act_suceso.asignatura" type="text" ng-change="guardar_valor_suceso(act_suceso, 'asignatura', act_suceso.asignatura)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control">
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-motivo_consulta">Motivo consulta</label>
            <textarea ng-model="act_suceso.motivo_consulta" placeholder="Motivo consulta" uib-tooltip="Motivo consulta" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardar_valor_suceso(act_suceso, 'motivo_consulta', act_suceso.motivo_consulta)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-descripcion_suceso">Descripción suceso</label>
            <textarea ng-model="act_suceso.descripcion_suceso" placeholder="Descripción suceso" uib-tooltip="Motivo consulta" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardar_valor_suceso(act_suceso, 'descripcion_suceso', act_suceso.descripcion_suceso)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-tratamiento">Tratamiento</label>
            <textarea ng-model="act_suceso.tratamiento" placeholder="Tratamiento" uib-tooltip="Describa el procedimiento realizado con el estudiante" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardar_valor_suceso(act_suceso, 'tratamiento', act_suceso.tratamiento)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-observaciones">Observaciones</label>
            <textarea ng-model="act_suceso.observaciones" placeholder="Observaciones" uib-tooltip="Observaciones" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardar_valor_suceso(act_suceso, 'observaciones', act_suceso.observaciones)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div class="form-group col-lg-3 col-sm-4 col-xs-12">
            <label for="act_suceso-insumos_utilizados">Insumos utilizados</label>
            <textarea ng-model="act_suceso.insumos_utilizados" placeholder="Insumos utilizados" uib-tooltip="Insumos utilizados" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardar_valor_suceso(act_suceso, 'insumos_utilizados', act_suceso.insumos_utilizados)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
          <div style="text-align: center" class="form-group col-xs-12">
            <button type="submit" class="btn btn-info">Cerrar</button>
          </div>
        </form>
      </div>
      <button type="button" ng-click="crear_suceso()" class="btn btn-primary"><i class="fa fa-plus"></i>Crear consulta</button>
      <div ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize style="height: 300px"></div>
    </div>
  </div></span>