
<div ui-view="edit_alumno" class="row"></div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer animated bounceIn">
      <div class="header bordered-yellow"><span style="font-size: 12pt">Alumnos en grupos {{USER.year+1}} (incluyendo matriculados)</span><a href="" ng-click="crear_alumno()" uib-tooltip="Ingresa datos de un nuevo alumno" style="float: right;" class="btn btn-info shiny"><i class="fa fa-plus"></i><span class="hidden-xs">  Crear alumno</span></a><a ui-sref="panel.requisitos" uib-tooltip="Requisitos para poder matricularse" style="float: right;" class="btn btn-default shiny"><i class="fa fa-file"></i><span class="hidden-xs">  Requisitos</span></a></div>
      <div style="overflow: auto" class="row">
        <div class="col-sm-7 col-xs-12">
          <table class="table table-condensed table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th class="txtcentro">No</th>
                <th style="min-width: min-width: 150px;" class="txtcentro">Grupo</th>
                <th class="txtcentro"><span uib-tooltip="Alumnos que llevaron formulario" tooltip-append-to-body="true">Formul</span></th>
                <th class="txtcentro"><span uib-tooltip="Prematriculados" tooltip-append-to-body="true">Prematr</span></th>
                <th class="txtcentro"><span uib-tooltip="Asistentes" tooltip-append-to-body="true">Asis</span></th>
                <th class="txtcentro"><span uib-tooltip="Matriculados totalmente" tooltip-append-to-body="true">Matricu</span></th>
                <th class="txtcentro"><span uib-tooltip="Sin prematricular del año pasado" tooltip-append-to-body="true">Sin prematr</span></th>
                <th class="txtcentro"><span uib-tooltip="Edite valor en 'Editar grupos'" tooltip-append-to-body="true">Cupo</span></th>
                <th class="txtcentro"><span uib-tooltip="Alumnos faltantes para llenar cupo" tooltip-append-to-body="true">Faltan</span></th>
              </tr>
            </thead>
            <tbody class="filasestrechas">
              <tr ng-repeat="grupo in grupos | orderBy:'orden'" ng-click="selectGrupo(grupo)" ng-class="{ active: grupo.active, info: grupo.active }">
                <td ng-class="{info: grupo.active}">{{ $index+1 }}</td>
                <td ng-class="{info: grupo.active}">{{ grupo.nombre }}</td>
                <td ng-class="{info: grupo.active}" class="txtcentro">{{ grupo.cant_formularios }}</td>
                <td ng-class="{info: grupo.active}" class="txtcentro">{{ grupo.cantidad }}</td>
                <td ng-class="{info: grupo.active}" uib-tooltip="Asistentes" tooltip-append-to-body="true" class="txtcentro">{{ grupo.cant_asistentes }}</td>
                <td ng-class="{info: grupo.active}" uib-tooltip="Matriculados totalmente" tooltip-append-to-body="true" class="txtcentro">{{ grupo.cant_matriculados }}</td>
                <td ng-class="{info: grupo.active}" uib-tooltip="Sin prematricular del año pasado" tooltip-append-to-body="true" tooltip-popup-delay="400" class="txtcentro">{{ grupo.sin_matricular }}</td>
                <td ng-class="{info: grupo.active}" uib-tooltip="Edite valor en 'Editar grupos' {{USER.year+1}}" tooltip-append-to-body="true" tooltip-popup-delay="400" class="txtcentro">{{ grupo.cupo }}</td>
                <td ng-class="{info: grupo.active}" uib-tooltip="Alumnos faltantes para llenar cupo {{USER.year+1}}" tooltip-append-to-body="true" tooltip-popup-delay="400" class="txtcentro">{{ grupo.cant_faltantes }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <div class="bold">Total</div>
                </td>
                <td class="txtcentro">
                  <div class="bold">{{ total_formularios }}</div>
                </td>
                <td class="txtcentro">
                  <div class="bold">{{ total_prematriculados }}</div>
                </td>
                <td class="txtcentro">
                  <div class="bold">{{ total_asistentes }}</div>
                </td>
                <td class="txtcentro">
                  <div class="bold">{{ total_matriculados }}</div>
                </td>
                <td class="txtcentro">
                  <div class="bold">{{ total_sin_prematric }}</div>
                </td>
                <td class="txtcentro">
                  <div class="bold">{{ total_cupo }}</div>
                </td>
                <td class="txtcentro">
                  <div class="bold">{{ total_taltantes }}</div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-sm-5 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h4 style="font-weight: 600!important">{{total_formularios}} formularios vendidos a:</h4>
              <table class="table table-condensed table-striped table-hover table-responsive">
                <thead>
                  <tr>
                    <th class="txtcentro">No</th>
                    <th style="min-width: min-width: 150px;" class="txtcentro">Alumno</th>
                    <th class="txtcentro">Celular</th>
                  </tr>
                </thead>
                <tbody class="filasestrechas">
                  <tr ng-repeat="alumno in AlumnosFormularios">
                    <td>{{ $index+1 }}</td>
                    <td><span uib-tooltip="Documento: {{ alumno.documento }}">{{ alumno.apellidos }} {{ alumno.nombres }}</span></td>
                    <td>{{ alumno.celular }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="margin-top: 30px;" class="col-xs-12">
              <h4 style="font-weight: 600!important">Prematriculados por acudientes({{AlumnosPrematriculadosA.length}})</h4>
              <table class="table table-condensed table-striped table-hover table-responsive">
                <thead>
                  <tr>
                    <th class="txtcentro">No</th>
                    <th style="min-width: min-width: 150px;" class="txtcentro">Alumno</th>
                    <th class="txtcentro"><span uib-tooltip="¿Es nuevo?">Nue</span></th>
                    <th class="txtcentro">Celular</th>
                  </tr>
                </thead>
                <tbody class="filasestrechas">
                  <tr ng-repeat="alumno in AlumnosPrematriculadosA">
                    <td>{{ $index+1 }}</td>
                    <td><span uib-tooltip="Documento: {{ alumno.documento }}">{{ alumno.apellidos }} {{ alumno.nombres }}</span></td>
                    <td class="txtcentro"><span ng-show="alumno.nuevo" uib-tooltip="¿Es nuevo?">Si</span><span ng-show="!alumno.nuevo" uib-tooltip="¿Es nuevo?">No</span></td>
                    <td>{{ alumno.celular }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><br><a href="" ng-click="verObservacionesRequisitos()">Ver observaciones hechas en los requisitos de matrículas.</a>
      <div ng-show="viendo_requisitos" class="caja-observaciones-requisitos"><span class="hidden-print">Elija el requisito:</span><br>
        <button ng-click="requisitoSeleccionado(requisito)" ng-repeat="requisito in requisitos" class="btn btn-default btn-sm hidden-print">{{ requisito.requisito }}</button>
        <!--| Observaciones que se han hecho:
        button.btn.btn-default.btn-sm(ng-click="observacionSeleccionada(observacion)" ng-repeat="observacion in observaciones_requisitos")
          | {{ observacion.descripcion }}
        
        -->
        <table ng-show="viendo_observaciones_requisitos" class="table table-condensed table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th class="txtcentro">No</th>
              <th style="min-width: min-width: 150px;" class="txtcentro">Alumno</th>
              <th class="txtcentro">Celular</th>
              <th class="txtcentro">Grupo
                <input type="text" ng-model="filtrar_abrev_grupo" style="width: 40px;" class="hidden-print">
              </th>
              <th class="txtcentro">Observación
                <input type="text" ng-model="filtrar_observacion" class="hidden-print">
              </th>
            </tr>
          </thead>
          <tbody class="filasestrechas">
            <tr ng-repeat="alumno in alumnos_observaciones | filter:{abrev_grupo: filtrar_abrev_grupo, descripcion: filtrar_observacion}">
              <td>{{ $index+1 }}</td>
              <td>{{ alumno.apellidos }} {{ alumno.nombres }}</td>
              <td>{{ alumno.celular }}</td>
              <td class="txtcentro bold">{{ alumno.abrev_grupo }}</td>
              <td><span class="visible-print">{{ alumno.descripcion }}</span><span class="hidden-print">
                  <textarea required ng-model="alumno.descripcion" placeholder="Descripción (opcional)" uib-tooltip="Descripción (opcional)" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarCambioRequisito(alumno)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr><br><br><span class="hidden-print">
        <p>Mueva las columnas para mayor comodidad y oculte las que desee:</p>
        <div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-move-columns ui-grid-expandable ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize ui-grid-pinning style="height: 600px" class="grid"></div>
        <hr class="wide">
        <h4 style="margin-top: 15px; color: #115a98;">Alumnos de este año {{ USER.year }}:<a href="" ng-click="mostrar_pasado=!mostrar_pasado" style="margin-left: 20px"><i class="fa fa-eye"></i></a></h4>
        <div ng-if="mostrar_pasado">
          <div id="grid1" ui-grid="gridOptionsSinMatricula" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize style="height: 400px" class="grid"></div>
        </div>
        <hr class="wide">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <form ng-submit="buscar_por('nombre')">
              <div>Buscar en todo el sistema(retirados, de otros años, etc.):
                <div class="input-group">
                  <input type="text" name="buscar" placeholder="Buscar..." ng-model="texto_a_buscar" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">Por nombre</button>
                    <button type="button" ng-click="buscar_por('apellido')" class="btn btn-default">Por Apellido</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <table ng-show="alumnos_encontrados.length&gt;0" style="max-height: 700px; overflow-y: scroll; display: block;" class="table table-striped">
          <thead>
            <tr>
              <th style="max-width: 25px">No</th>
              <th style="min-width: 170px" class="text-center">Matrícula</th>
              <th class="text-center">Apellidos</th>
              <th class="text-center">Nombres</th>
              <th style="max-width: 20px; padding: 0px 0px 8px;" class="text-center"><i style="font-weight: bold;" class="fa fa-venus-mars"></i></th>
              <th uib-tooltip="Grupo en este año" tooltip-append-to-body="true" class="text-center">Gru</th>
              <th style="min-width: 120px; text-align: center;" class="text-center">Creado en</th>
              <th class="text-center">Modificado</th>
              <th class="text-center">Eliminado</th>
            </tr>
          </thead>
          <tbody class="filasestrechas">
            <tr ng-repeat="alumno in alumnos_encontrados track by $index" ng-class="{'filagris': alumno.grupo_id!=dato_f.grupo.id, 'filawarning': alumno.estado=='ASIS' }">
              <td>{{ $index+1 }}</td>
              <td class="text-center">
                <div class="btn-group"><a ui-sref="panel.prematriculas.matricula_detalles({alumno_id: alumno.alumno_id})" uib-tooltip="Ver matrículas" tooltip-append-to-body="true" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a><a ng-click="matricularUno(alumno)" uib-tooltip="Matricular en {{dato.grupo.abrev}}" tooltip-append-to-body="true" tooltip- class="btn btn-default btn-xs">Matri en {{dato.grupo.abrev}}</a><a ng-click="matricularEn(alumno)" uib-tooltip="Matricular en..." tooltip-append-to-body="true" tooltip- class="btn btn-default btn-xs">Matri en...</a></div>
              </td>
              <td>
                <div uib-popover-template="views+'alumnos/popoverAlumnoInfo.tpl.html'" popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}" popover-trigger="'mouseenter'" popover-popup-delay="500"><img ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 20px; height: 20px; margin-top: -3px;">{{ alumno.apellidos }}</div>
              </td>
              <td>{{ alumno.nombres }}</td>
              <td>{{ alumno.sexo }}</td>
              <td style="background-color: #a8cbea!important;" uib-tooltip="{{alumno.estado}} - {{alumno.nombre_grupo}}" tooltip-append-to-body="true" class="text-center">{{ alumno.abrev_grupo }}</td>
              <td style="font-size: 7pt" class="text-center">{{ alumno.created_at }}</td>
              <td style="font-size: 7pt" class="text-center">{{ alumno.updated_at }}</td>
              <td style="font-size: 7pt" ng-class="{danger: alumno.deleted_at}" class="text-center">{{ alumno.deleted_at }}
                <button uib-tooltip="Sacar de papelera" ng-click="restaurar(alumno)" ng-show="alumno.deleted_at" class="btn btn-default btn-xs"><i class="fa fa-refresh"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="footer">Prematriculas optimizadas para eficiencia superior.</div></span>
    </div>
  </div>
</div>
<div ui-view="matricula_detalle" class="row page-body"></div>